In [240]:
from openpyxl import Workbook,load_workbook
from openpyxl.utils import get_column_letter
from openpyxl.styles import Alignment,PatternFill, Border, Side,Protection, Font,NamedStyle
from datetime import datetime
from openpyxl.worksheet.table import Table, TableStyleInfo
from dateutil.relativedelta import relativedelta
import datetime
import pandas as pd
import mysql.connector 
import numpy as np
import time
import functools, sys
import threading
import multiprocessing

In [241]:
st = time.time()

In [242]:
CET_wrkbk=pd.ExcelFile('REM Jamshoro Study S1.xlsx')

In [243]:
annex4 = pd.read_excel(CET_wrkbk, sheet_name="PPP (FY 20-30) (Annex 4)")
pd.DataFrame(annex4)

,Central Power Purchasing Agency,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 137,Unnamed: 138,Unnamed: 139,Unnamed: 140,Unnamed: 141,Unnamed: 142,Unnamed: 143,Unnamed: 144,Unnamed: 145,Unnamed: 146
0,Projected Power Purchase Price,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,FY 2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Particulars,2019-07-01 00:00:00,2019-08-01 00:00:00,2019-09-01 00:00:00,2019-10-01 00:00:00,2019-11-01 00:00:00,2019-12-01 00:00:00,2020-01-01 00:00:00,2020-02-01 00:00:00,2020-03-01 00:00:00,...,2030-01-01 00:00:00,2030-02-01 00:00:00,2030-03-01 00:00:00,2030-04-01 00:00:00,2030-05-01 00:00:00,2030-06-01 00:00:00,Total,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,GWh,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
215,SEPCO,40778.936017,38127.696452,38290.542482,31343.661095,19866.14156,21756.439461,20898.993125,14086.522668,19471.714317,...,8032.766216,8525.506339,7203.986375,14406.085113,13914.267215,13268.370039,134174.129141,NaN,NaN,NaN
216,KESC,30754.066905,31101.420583,34555.66751,40390.828219,32511.657984,35806.178133,38203.143262,28330.813805,33298.044244,...,23024.745856,20431.454857,19236.19748,18326.639502,19368.425408,21229.787319,238597.169875,NaN,NaN,NaN
217,Total,1094733.127236,1011723.206911,1038111.79225,838714.225333,619313.23019,724504.003113,733488.576927,502956.630196,630209.286598,...,284647.340423,265219.730233,278249.696934,294726.231928,317288.2964,358428.711648,3591476.465204,NaN,NaN,NaN
218,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
219,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [244]:
annex4.columns=annex4.iloc[3]

In [245]:
annex4=annex4.drop(3)

In [246]:
annex4

3,Particulars,2019-07-01 00:00:00,2019-08-01 00:00:00,2019-09-01 00:00:00,2019-10-01 00:00:00,2019-11-01 00:00:00,2019-12-01 00:00:00,2020-01-01 00:00:00,2020-02-01 00:00:00,2020-03-01 00:00:00,...,2030-01-01 00:00:00,2030-02-01 00:00:00,2030-03-01 00:00:00,2030-04-01 00:00:00,2030-05-01 00:00:00,2030-06-01 00:00:00,Total,NaN,NaN,NaN
0,Projected Power Purchase Price,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,FY 2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,GWh,NaN,NaN,NaN
5,Units Delivered to DISCOs and KESC,14332.23,13917.421681,13361.1261,9472.234612,7346.959475,7713.719029,7560.835014,6550.199924,7713.905389,...,11717.225706,10689.247757,12928.50545,15522.049644,19228.645781,20316.31487,188146.021227,NaN,NaN,123473.07086
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
215,SEPCO,40778.936017,38127.696452,38290.542482,31343.661095,19866.14156,21756.439461,20898.993125,14086.522668,19471.714317,...,8032.766216,8525.506339,7203.986375,14406.085113,13914.267215,13268.370039,134174.129141,NaN,NaN,NaN
216,KESC,30754.066905,31101.420583,34555.66751,40390.828219,32511.657984,35806.178133,38203.143262,28330.813805,33298.044244,...,23024.745856,20431.454857,19236.19748,18326.639502,19368.425408,21229.787319,238597.169875,NaN,NaN,NaN
217,Total,1094733.127236,1011723.206911,1038111.79225,838714.225333,619313.23019,724504.003113,733488.576927,502956.630196,630209.286598,...,284647.340423,265219.730233,278249.696934,294726.231928,317288.2964,358428.711648,3591476.465204,NaN,NaN,NaN
218,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
219,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [247]:
annex4.reset_index()

3,index,Particulars,2019-07-01 00:00:00,2019-08-01 00:00:00,2019-09-01 00:00:00,2019-10-01 00:00:00,2019-11-01 00:00:00,2019-12-01 00:00:00,2020-01-01 00:00:00,2020-02-01 00:00:00,...,2030-01-01 00:00:00,2030-02-01 00:00:00,2030-03-01 00:00:00,2030-04-01 00:00:00,2030-05-01 00:00:00,2030-06-01 00:00:00,Total,NaN,NaN,NaN
0,0,Projected Power Purchase Price,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,NaN,FY 2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,GWh,NaN,NaN,NaN
4,5,Units Delivered to DISCOs and KESC,14332.23,13917.421681,13361.1261,9472.234612,7346.959475,7713.719029,7560.835014,6550.199924,...,11717.225706,10689.247757,12928.50545,15522.049644,19228.645781,20316.31487,188146.021227,NaN,NaN,123473.07086
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
214,215,SEPCO,40778.936017,38127.696452,38290.542482,31343.661095,19866.14156,21756.439461,20898.993125,14086.522668,...,8032.766216,8525.506339,7203.986375,14406.085113,13914.267215,13268.370039,134174.129141,NaN,NaN,NaN
215,216,KESC,30754.066905,31101.420583,34555.66751,40390.828219,32511.657984,35806.178133,38203.143262,28330.813805,...,23024.745856,20431.454857,19236.19748,18326.639502,19368.425408,21229.787319,238597.169875,NaN,NaN,NaN
216,217,Total,1094733.127236,1011723.206911,1038111.79225,838714.225333,619313.23019,724504.003113,733488.576927,502956.630196,...,284647.340423,265219.730233,278249.696934,294726.231928,317288.2964,358428.711648,3591476.465204,NaN,NaN,NaN
217,218,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
218,219,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [248]:
sliced_annex4=annex4.iloc[[4],:]

In [249]:
sliced_annex4

3,Particulars,2019-07-01 00:00:00,2019-08-01 00:00:00,2019-09-01 00:00:00,2019-10-01 00:00:00,2019-11-01 00:00:00,2019-12-01 00:00:00,2020-01-01 00:00:00,2020-02-01 00:00:00,2020-03-01 00:00:00,...,2030-01-01 00:00:00,2030-02-01 00:00:00,2030-03-01 00:00:00,2030-04-01 00:00:00,2030-05-01 00:00:00,2030-06-01 00:00:00,Total,NaN,NaN,NaN
5,Units Delivered to DISCOs and KESC,14332.23,13917.421681,13361.1261,9472.234612,7346.959475,7713.719029,7560.835014,6550.199924,7713.905389,...,11717.225706,10689.247757,12928.50545,15522.049644,19228.645781,20316.31487,188146.021227,NaN,NaN,123473.07086

In [250]:
sliced_annex4.drop('Total',axis=1,inplace=True)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [251]:
sliced_annex4.dropna(axis=1,inplace=True)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\util\_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

In [252]:
sliced_annex4 = sliced_annex4[sliced_annex4.columns.dropna()]

In [253]:
sliced_annex4.reset_index(drop=True)

3,Particulars,2019-07-01 00:00:00,2019-08-01 00:00:00,2019-09-01 00:00:00,2019-10-01 00:00:00,2019-11-01 00:00:00,2019-12-01 00:00:00,2020-01-01 00:00:00,2020-02-01 00:00:00,2020-03-01 00:00:00,...,2029-09-01 00:00:00,2029-10-01 00:00:00,2029-11-01 00:00:00,2029-12-01 00:00:00,2030-01-01 00:00:00,2030-02-01 00:00:00,2030-03-01 00:00:00,2030-04-01 00:00:00,2030-05-01 00:00:00,2030-06-01 00:00:00
0,Units Delivered to DISCOs and KESC,14332.23,13917.421681,13361.1261,9472.234612,7346.959475,7713.719029,7560.835014,6550.199924,7713.905389,...,18343.092178,15234.739449,11598.149081,12073.944981,11717.225706,10689.247757,12928.50545,15522.049644,19228.645781,20316.31487

In [254]:
#---------------------------------------------------------------#
sliced_annex4.set_index('Particulars', inplace=True)

In [255]:
sliced_annex4.columns = pd.to_datetime(sliced_annex4.columns)

In [256]:
sliced_annex4

3,2019-07-01,2019-08-01,2019-09-01,2019-10-01,2019-11-01,2019-12-01,2020-01-01,2020-02-01,2020-03-01,2020-04-01,...,2029-09-01,2029-10-01,2029-11-01,2029-12-01,2030-01-01,2030-02-01,2030-03-01,2030-04-01,2030-05-01,2030-06-01
Particulars,,,,,,,,,,,,,,,,,,,,,
Units Delivered to DISCOs and KESC,14332.23,13917.421681,13361.1261,9472.234612,7346.959475,7713.719029,7560.835014,6550.199924,7713.905389,9701.550905,...,18343.092178,15234.739449,11598.149081,12073.944981,11717.225706,10689.247757,12928.50545,15522.049644,19228.645781,20316.31487

In [257]:
sliced_discoenrgy=annex4.iloc[13:24]

In [258]:
pd.DataFrame(sliced_discoenrgy)

3,Particulars,2019-07-01 00:00:00,2019-08-01 00:00:00,2019-09-01 00:00:00,2019-10-01 00:00:00,2019-11-01 00:00:00,2019-12-01 00:00:00,2020-01-01 00:00:00,2020-02-01 00:00:00,2020-03-01 00:00:00,...,2030-01-01 00:00:00,2030-02-01 00:00:00,2030-03-01 00:00:00,2030-04-01 00:00:00,2030-05-01 00:00:00,2030-06-01 00:00:00,Total,NaN,NaN,NaN
14,IESCO,1507.677925,1368.39486,1296.345368,883.762576,702.376622,805.996742,824.921474,663.057117,769.911177,...,1185.713051,1006.403901,1216.482173,1238.891853,1562.437774,1860.863556,17262.013396,NaN,NaN,220224.517444
15,LESCO,2893.129213,2832.935065,2749.066427,1944.320608,1515.903898,1554.705026,1562.202681,1302.981918,1457.879992,...,2245.455072,1977.697021,2303.493018,2617.914672,3472.618401,3993.053712,35517.663878,NaN,NaN,NaN
16,GEPCO,1400.681425,1403.358728,1306.949447,869.599839,659.353654,680.516108,655.622822,568.937993,683.165731,...,942.369137,863.547651,1079.421832,1257.578742,1691.830342,1906.922013,16584.762675,NaN,NaN,NaN
17,FESCO,1826.442614,1802.443178,1716.741357,1199.720976,905.258432,905.175958,849.831959,774.546509,867.482796,...,1221.518504,1175.625159,1370.648184,1694.490487,2279.958967,2459.766284,21904.008636,NaN,NaN,NaN
18,MEPCO,2575.56255,2515.417847,2387.277679,1459.945299,1034.148808,1001.806492,953.6753,904.18355,1026.820978,...,1370.779262,1372.39135,1622.407171,2680.795587,3358.152521,3460.279871,29175.942793,NaN,NaN,NaN
19,PESCO,1688.813714,1635.259014,1555.863211,1079.509752,945.627959,1143.297078,1185.061315,919.488806,1081.700438,...,1703.365365,1395.622032,1709.118322,1829.939041,2224.994263,2298.086459,22456.267408,NaN,NaN,NaN
20,TESCO,160.521423,162.345316,169.803564,168.306516,161.668869,187.634711,175.582556,161.832904,190.809624,...,252.376178,245.63384,301.484786,278.315665,309.303898,255.709882,3075.449884,NaN,NaN,NaN
21,HESCO,606.208403,548.924401,576.720512,478.062332,334.649622,294.594141,305.019762,260.990302,416.130362,...,438.424655,396.137303,657.498141,914.375394,1044.881109,932.055183,8370.741677,NaN,NaN,NaN
22,QESCO,737.250594,695.605393,662.139571,569.558556,462.073822,518.011632,428.011522,424.636861,550.914956,...,615.208676,644.523953,870.461741,925.195796,966.16718,922.745735,10077.056981,NaN,NaN,NaN
23,SEPCO,531.776948,518.115752,489.860957,348.380772,225.381724,225.764702,214.287853,175.171544,244.406289,...,308.009807,265.879547,386.169083,650.691407,825.709325,746.345177,6454.969899,NaN,NaN,NaN
24,KESC,404.16519,434.622127,450.358008,471.067385,400.516065,396.21644,406.61777,394.37242,424.683045,...,1434.006,1345.786,1411.321,1433.861,1492.592,1480.487,17267.144,NaN,NaN,NaN

In [259]:
#sliced_discoenrgy.columns

In [260]:
col_to_drop=[]
for ii in range(1,round(len(sliced_discoenrgy.columns)/13)):
    col_to_drop.append(ii*13)
    
sliced_discoenrgy_trnctd=sliced_discoenrgy.drop(sliced_discoenrgy.columns[[(col_to_drop)]], axis = 1)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexes\base.py:4616: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  result = getitem(key)

In [261]:
#sliced_discoenrgy_trnctd=sliced_discoenrgy.iloc[0:10,0:133]

In [262]:
#pd.set_option("display.max_rows", None, "display.max_columns", None)

In [263]:
pd.DataFrame(sliced_discoenrgy_trnctd)

3,Particulars,2019-07-01 00:00:00,2019-08-01 00:00:00,2019-09-01 00:00:00,2019-10-01 00:00:00,2019-11-01 00:00:00,2019-12-01 00:00:00,2020-01-01 00:00:00,2020-02-01 00:00:00,2020-03-01 00:00:00,...,2029-12-01 00:00:00,2030-01-01 00:00:00,2030-02-01 00:00:00,2030-03-01 00:00:00,2030-04-01 00:00:00,2030-05-01 00:00:00,2030-06-01 00:00:00,NaN,NaN,NaN
14,IESCO,1507.677925,1368.39486,1296.345368,883.762576,702.376622,805.996742,824.921474,663.057117,769.911177,...,1174.029802,1185.713051,1006.403901,1216.482173,1238.891853,1562.437774,1860.863556,NaN,NaN,220224.517444
15,LESCO,2893.129213,2832.935065,2749.066427,1944.320608,1515.903898,1554.705026,1562.202681,1302.981918,1457.879992,...,2264.612174,2245.455072,1977.697021,2303.493018,2617.914672,3472.618401,3993.053712,NaN,NaN,NaN
16,GEPCO,1400.681425,1403.358728,1306.949447,869.599839,659.353654,680.516108,655.622822,568.937993,683.165731,...,991.252383,942.369137,863.547651,1079.421832,1257.578742,1691.830342,1906.922013,NaN,NaN,NaN
17,FESCO,1826.442614,1802.443178,1716.741357,1199.720976,905.258432,905.175958,849.831959,774.546509,867.482796,...,1318.496087,1221.518504,1175.625159,1370.648184,1694.490487,2279.958967,2459.766284,NaN,NaN,NaN
18,MEPCO,2575.56255,2515.417847,2387.277679,1459.945299,1034.148808,1001.806492,953.6753,904.18355,1026.820978,...,1459.249915,1370.779262,1372.39135,1622.407171,2680.795587,3358.152521,3460.279871,NaN,NaN,NaN
19,PESCO,1688.813714,1635.259014,1555.863211,1079.509752,945.627959,1143.297078,1185.061315,919.488806,1081.700438,...,1665.347727,1703.365365,1395.622032,1709.118322,1829.939041,2224.994263,2298.086459,NaN,NaN,NaN
20,TESCO,160.521423,162.345316,169.803564,168.306516,161.668869,187.634711,175.582556,161.832904,190.809624,...,273.3122,252.376178,245.63384,301.484786,278.315665,309.303898,255.709882,NaN,NaN,NaN
21,HESCO,606.208403,548.924401,576.720512,478.062332,334.649622,294.594141,305.019762,260.990302,416.130362,...,429.111289,438.424655,396.137303,657.498141,914.375394,1044.881109,932.055183,NaN,NaN,NaN
22,QESCO,737.250594,695.605393,662.139571,569.558556,462.073822,518.011632,428.011522,424.636861,550.914956,...,754.54535,615.208676,644.523953,870.461741,925.195796,966.16718,922.745735,NaN,NaN,NaN
23,SEPCO,531.776948,518.115752,489.860957,348.380772,225.381724,225.764702,214.287853,175.171544,244.406289,...,328.853052,308.009807,265.879547,386.169083,650.691407,825.709325,746.345177,NaN,NaN,NaN
24,KESC,404.16519,434.622127,450.358008,471.067385,400.516065,396.21644,406.61777,394.37242,424.683045,...,1415.135,1434.006,1345.786,1411.321,1433.861,1492.592,1480.487,NaN,NaN,NaN

In [264]:
sliced_discoenrgy_trnctd1=sliced_discoenrgy_trnctd

In [265]:
sliced_discoenrgy_trnctd1=sliced_discoenrgy_trnctd.fillna(0,axis=1)

In [266]:
sliced_discoenrgy_trnctd2=sliced_discoenrgy_trnctd1.iloc[0:,1:133]

In [267]:
#sliced_discoenrgy_trnctd2=sliced_discoenrgy_trnctd2.astype('int')

In [268]:
pd.DataFrame(sliced_discoenrgy_trnctd2)

3,2019-07-01,2019-08-01,2019-09-01,2019-10-01,2019-11-01,2019-12-01,2020-01-01,2020-02-01,2020-03-01,2020-04-01,...,2029-09-01,2029-10-01,2029-11-01,2029-12-01,2030-01-01,2030-02-01,2030-03-01,2030-04-01,2030-05-01,2030-06-01
14,1507.677925,1368.394860,1296.345368,883.762576,702.376622,805.996742,824.921474,663.057117,769.911177,904.352377,...,1695.905153,1348.226922,1031.254520,1174.029802,1185.713051,1006.403901,1216.482173,1238.891853,1562.437774,1860.863556
15,2893.129213,2832.935065,2749.066427,1944.320608,1515.903898,1554.705026,1562.202681,1302.981918,1457.879992,2066.399827,...,3596.384137,2966.164737,2225.704412,2264.612174,2245.455072,1977.697021,2303.493018,2617.914672,3472.618401,3993.053712
16,1400.681425,1403.358728,1306.949447,869.599839,659.353654,680.516108,655.622822,568.937993,683.165731,950.292491,...,1709.777623,1326.620913,968.086657,991.252383,942.369137,863.547651,1079.421832,1257.578742,1691.830342,1906.922013
17,1826.442614,1802.443178,1716.741357,1199.720976,905.258432,905.175958,849.831959,774.546509,867.482796,1266.665009,...,2245.875663,1830.238306,1329.132862,1318.496087,1221.518504,1175.625159,1370.648184,1694.490487,2279.958967,2459.766284
18,2575.562550,2515.417847,2387.277679,1459.945299,1034.148808,1001.806492,953.675300,904.183550,1026.820978,1570.884837,...,3123.084802,2227.224382,1518.374329,1459.249915,1370.779262,1372.391350,1622.407171,2680.795587,3358.152521,3460.279871
19,1688.813714,1635.259014,1555.863211,1079.509752,945.627959,1143.297078,1185.061315,919.488806,1081.700438,1035.473680,...,2035.411629,1646.849674,1388.404848,1665.347727,1703.365365,1395.622032,1709.118322,1829.939041,2224.994263,2298.086459
20,160.521423,162.345316,169.803564,168.306516,161.668869,187.634711,175.582556,161.832904,190.809624,139.867985,...,222.140446,256.760562,237.368025,273.312200,252.376178,245.633840,301.484786,278.315665,309.303898,255.709882
21,606.208403,548.924401,576.720512,478.062332,334.649622,294.594141,305.019762,260.990302,416.130362,490.698637,...,754.477404,729.309573,491.344564,429.111289,438.424655,396.137303,657.498141,914.375394,1044.881109,932.055183
22,737.250594,695.605393,662.139571,569.558556,462.073822,518.011632,428.011522,424.636861,550.914956,479.858749,...,866.224339,868.891940,678.433340,754.545350,615.208676,644.523953,870.461741,925.195796,966.167180,922.745735
23,531.776948,518.115752,489.860957,348.380772,225.381724,225.764702,214.287853,175.171544,244.406289,343.666984,...,640.845983,531.473439,330.913522,328.853052,308.009807,265.879547,386.169083,650.691407,825.709325,746.345177
24,404.165190,434.622127,450.358008,471.067385,400.516065,396.216440,406.617770,394.372420,424.683045,453.390329,...,1452.965000,1502.979000,1399.132000,1415.135000,1434.006000,1345.786000,1411.321000,1433.861000,1492.592000,1480.487000

In [269]:
sliced_discoenrgy_trnctd2=sliced_discoenrgy_trnctd2.astype('float')

In [270]:
pd.DataFrame(sliced_discoenrgy_trnctd2)

3,2019-07-01,2019-08-01,2019-09-01,2019-10-01,2019-11-01,2019-12-01,2020-01-01,2020-02-01,2020-03-01,2020-04-01,...,2029-09-01,2029-10-01,2029-11-01,2029-12-01,2030-01-01,2030-02-01,2030-03-01,2030-04-01,2030-05-01,2030-06-01
14,1507.677925,1368.394860,1296.345368,883.762576,702.376622,805.996742,824.921474,663.057117,769.911177,904.352377,...,1695.905153,1348.226922,1031.254520,1174.029802,1185.713051,1006.403901,1216.482173,1238.891853,1562.437774,1860.863556
15,2893.129213,2832.935065,2749.066427,1944.320608,1515.903898,1554.705026,1562.202681,1302.981918,1457.879992,2066.399827,...,3596.384137,2966.164737,2225.704412,2264.612174,2245.455072,1977.697021,2303.493018,2617.914672,3472.618401,3993.053712
16,1400.681425,1403.358728,1306.949447,869.599839,659.353654,680.516108,655.622822,568.937993,683.165731,950.292491,...,1709.777623,1326.620913,968.086657,991.252383,942.369137,863.547651,1079.421832,1257.578742,1691.830342,1906.922013
17,1826.442614,1802.443178,1716.741357,1199.720976,905.258432,905.175958,849.831959,774.546509,867.482796,1266.665009,...,2245.875663,1830.238306,1329.132862,1318.496087,1221.518504,1175.625159,1370.648184,1694.490487,2279.958967,2459.766284
18,2575.562550,2515.417847,2387.277679,1459.945299,1034.148808,1001.806492,953.675300,904.183550,1026.820978,1570.884837,...,3123.084802,2227.224382,1518.374329,1459.249915,1370.779262,1372.391350,1622.407171,2680.795587,3358.152521,3460.279871
19,1688.813714,1635.259014,1555.863211,1079.509752,945.627959,1143.297078,1185.061315,919.488806,1081.700438,1035.473680,...,2035.411629,1646.849674,1388.404848,1665.347727,1703.365365,1395.622032,1709.118322,1829.939041,2224.994263,2298.086459
20,160.521423,162.345316,169.803564,168.306516,161.668869,187.634711,175.582556,161.832904,190.809624,139.867985,...,222.140446,256.760562,237.368025,273.312200,252.376178,245.633840,301.484786,278.315665,309.303898,255.709882
21,606.208403,548.924401,576.720512,478.062332,334.649622,294.594141,305.019762,260.990302,416.130362,490.698637,...,754.477404,729.309573,491.344564,429.111289,438.424655,396.137303,657.498141,914.375394,1044.881109,932.055183
22,737.250594,695.605393,662.139571,569.558556,462.073822,518.011632,428.011522,424.636861,550.914956,479.858749,...,866.224339,868.891940,678.433340,754.545350,615.208676,644.523953,870.461741,925.195796,966.167180,922.745735
23,531.776948,518.115752,489.860957,348.380772,225.381724,225.764702,214.287853,175.171544,244.406289,343.666984,...,640.845983,531.473439,330.913522,328.853052,308.009807,265.879547,386.169083,650.691407,825.709325,746.345177
24,404.165190,434.622127,450.358008,471.067385,400.516065,396.216440,406.617770,394.372420,424.683045,453.390329,...,1452.965000,1502.979000,1399.132000,1415.135000,1434.006000,1345.786000,1411.321000,1433.861000,1492.592000,1480.487000

In [271]:
#pd.DataFrame(sliced_discoenrgy_trnctd1)
sliced_discoenrgy_trnctd1.set_index('Particulars',inplace=True)
#sliced_discoenrgy_trnctd1.columns = pd.to_datetime(sliced_annex4.columns)
tm_dscoenrgy=pd.to_datetime(sliced_discoenrgy_trnctd1.columns,format='%d.%m.%Y')
tm_dscoenrgy_mnyr=tm_dscoenrgy.strftime("%d.%m.%Y")

In [272]:
time=pd.to_datetime(sliced_annex4.columns,format='%d.%m.%Y')

In [273]:
time_year=time.strftime('%Y')
time_month=time.strftime('%m')
time_mnyr=time.strftime("%d.%m.%Y")

In [274]:
sliced_EPP=annex4.iloc[6:8,0:143]

In [275]:
pd.DataFrame(sliced_EPP)

3,Particulars,2019-07-01 00:00:00,2019-08-01 00:00:00,2019-09-01 00:00:00,2019-10-01 00:00:00,2019-11-01 00:00:00,2019-12-01 00:00:00,2020-01-01 00:00:00,2020-02-01 00:00:00,2020-03-01 00:00:00,...,2029-09-01 00:00:00,2029-10-01 00:00:00,2029-11-01 00:00:00,2029-12-01 00:00:00,2030-01-01 00:00:00,2030-02-01 00:00:00,2030-03-01 00:00:00,2030-04-01 00:00:00,2030-05-01 00:00:00,2030-06-01 00:00:00
7,Fuel Cost Component,4.813126,4.419233,4.97188,5.521145,4.438986,6.000564,6.750697,4.515202,4.569315,...,4.019392,3.823824,2.466575,3.555509,4.311551,3.057316,3.321636,3.580214,3.868156,5.552125
8,Variable O&M,66.897376,63.090224,67.320787,75.409332,70.10164,78.60777,79.532788,59.931265,66.634519,...,0.787403,0.722249,0.538122,0.741095,0.812296,0.737179,0.712634,0.736525,0.77293,0.839686

In [276]:
sliced_EPP.drop('Total',axis=1,inplace=True)

In [277]:
EPP_filled=sliced_EPP

In [278]:
EPP_filled=sliced_EPP.fillna(0,axis=1)

In [279]:
EPP_filled1=EPP_filled.iloc[0:,1:133]

In [280]:
pd.DataFrame(EPP_filled1)

3,2019-07-01,2019-08-01,2019-09-01,2019-10-01,2019-11-01,2019-12-01,2020-01-01,2020-02-01,2020-03-01,2020-04-01,...,2029-09-01,2029-10-01,2029-11-01,2029-12-01,2030-01-01,2030-02-01,2030-03-01,2030-04-01,2030-05-01,2030-06-01
7,4.813126,4.419233,4.971880,5.521145,4.438986,6.000564,6.750697,4.515202,4.569315,5.007552,...,4.019392,3.823824,2.466575,3.555509,4.311551,3.057316,3.321636,3.580214,3.868156,5.552125
8,66.897376,63.090224,67.320787,75.409332,70.101640,78.607770,79.532788,59.931265,66.634519,80.107871,...,0.787403,0.722249,0.538122,0.741095,0.812296,0.737179,0.712634,0.736525,0.772930,0.839686

In [281]:
EPP_filled1=EPP_filled1.astype('float')

In [282]:
pd.DataFrame(EPP_filled1)

3,2019-07-01,2019-08-01,2019-09-01,2019-10-01,2019-11-01,2019-12-01,2020-01-01,2020-02-01,2020-03-01,2020-04-01,...,2029-09-01,2029-10-01,2029-11-01,2029-12-01,2030-01-01,2030-02-01,2030-03-01,2030-04-01,2030-05-01,2030-06-01
7,4.813126,4.419233,4.971880,5.521145,4.438986,6.000564,6.750697,4.515202,4.569315,5.007552,...,4.019392,3.823824,2.466575,3.555509,4.311551,3.057316,3.321636,3.580214,3.868156,5.552125
8,66.897376,63.090224,67.320787,75.409332,70.101640,78.607770,79.532788,59.931265,66.634519,80.107871,...,0.787403,0.722249,0.538122,0.741095,0.812296,0.737179,0.712634,0.736525,0.772930,0.839686

In [283]:
""" DISCO Wise Maximum Demand """

' DISCO Wise Maximum Demand '

In [284]:
disco_max_dmnd=annex4.iloc[29:40]

In [285]:
pd.DataFrame(disco_max_dmnd)

3,Particulars,2019-07-01 00:00:00,2019-08-01 00:00:00,2019-09-01 00:00:00,2019-10-01 00:00:00,2019-11-01 00:00:00,2019-12-01 00:00:00,2020-01-01 00:00:00,2020-02-01 00:00:00,2020-03-01 00:00:00,...,2030-01-01 00:00:00,2030-02-01 00:00:00,2030-03-01 00:00:00,2030-04-01 00:00:00,2030-05-01 00:00:00,2030-06-01 00:00:00,Total,NaN,NaN,NaN
30,IESCO,2860.328172,2544.493932,2679.426965,1960.820965,1681.740059,1743.904971,2127.148342,1806.725859,2366.122099,...,3057.488052,2840.230571,3738.542104,2834.492246,3241.136065,3859.142633,3206.91327,NaN,NaN,NaN
31,LESCO,5831.588104,5832.823764,5684.030902,4744.359664,3551.98477,4268.684144,4077.381281,3462.492892,3680.669474,...,5860.684141,5443.149062,5815.565395,6553.745659,7791.58022,8864.530229,6870.011536,NaN,NaN,NaN
32,GEPCO,2964.93948,2965.601297,2730.887198,2344.920697,1672.201573,1841.53798,1674.103905,1832.017606,2036.211393,...,2406.297946,2879.990003,3217.273542,3928.268631,3742.032357,3753.213325,3362.631686,NaN,NaN,NaN
33,FESCO,3668.419316,3595.07965,3609.592638,3089.686198,2724.228495,2871.389932,2621.664256,2640.630504,2826.592737,...,3768.287797,4151.155222,4466.099178,4718.36904,5224.714095,5175.194557,4590.447052,NaN,NaN,NaN
34,MEPCO,5067.892648,4759.703645,4950.060656,3981.24069,3163.778114,3136.051504,2703.410379,2790.790147,3216.193464,...,3885.786793,4387.210962,5081.679719,7259.777157,7008.51732,7086.638492,5828.88161,NaN,NaN,NaN
35,PESCO,3470.285175,3544.15452,3455.944714,2935.268304,2718.863801,3178.300023,3358.648732,2741.175072,2976.41337,...,4827.603307,4309.214485,4702.820158,4864.72099,4971.012146,5000.219355,4660.212952,NaN,NaN,NaN
36,TESCO,256.286474,226.309924,273.695486,290.92747,249.917552,289.191807,300.617952,284.893202,345.866716,...,432.097648,447.861184,546.479525,513.073242,449.291377,355.575023,416.304705,NaN,NaN,NaN
37,HESCO,1373.117571,1505.801285,1787.649993,1515.312241,1287.580937,1422.493762,1308.550378,1080.297978,1470.160691,...,1880.864192,1698.262815,2322.896881,2662.128236,2412.90644,2398.839343,2161.903058,NaN,NaN,NaN
38,QESCO,1437.993611,1358.569035,1429.183379,1367.731976,1502.455432,1490.14549,1417.008103,1288.289224,1581.079718,...,2036.757503,2025.231675,2498.152187,2464.365263,1997.511404,2098.898477,2107.353721,NaN,NaN,NaN
39,SEPCO,1138.858654,1233.315756,1136.790999,1049.446845,862.613989,803.017815,624.439911,667.695554,559.393079,...,897.547919,1049.638668,883.857423,2035.264511,1807.146991,1574.376356,1419.154371,NaN,NaN,NaN
40,KESC,762.632994,689.218384,789.453656,755.53908,747.514209,690.529408,808.249264,695.758111,827.033877,...,2180,2140,2120,2130,2230,2180,2140.916667,NaN,NaN,NaN

In [286]:
col1_to_drop=[]
for ii in range(1,round(len(disco_max_dmnd.columns)/13)):
    col1_to_drop.append(ii*13)
    
disco_max_dmnd_trnctd=disco_max_dmnd.drop(disco_max_dmnd.columns[[(col1_to_drop)]], axis = 1)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexes\base.py:4616: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  result = getitem(key)

In [287]:
pd.DataFrame(disco_max_dmnd_trnctd)

3,Particulars,2019-07-01 00:00:00,2019-08-01 00:00:00,2019-09-01 00:00:00,2019-10-01 00:00:00,2019-11-01 00:00:00,2019-12-01 00:00:00,2020-01-01 00:00:00,2020-02-01 00:00:00,2020-03-01 00:00:00,...,2029-12-01 00:00:00,2030-01-01 00:00:00,2030-02-01 00:00:00,2030-03-01 00:00:00,2030-04-01 00:00:00,2030-05-01 00:00:00,2030-06-01 00:00:00,NaN,NaN,NaN
30,IESCO,2860.328172,2544.493932,2679.426965,1960.820965,1681.740059,1743.904971,2127.148342,1806.725859,2366.122099,...,2540.204323,3057.488052,2840.230571,3738.542104,2834.492246,3241.136065,3859.142633,NaN,NaN,NaN
31,LESCO,5831.588104,5832.823764,5684.030902,4744.359664,3551.98477,4268.684144,4077.381281,3462.492892,3680.669474,...,6217.844491,5860.684141,5443.149062,5815.565395,6553.745659,7791.58022,8864.530229,NaN,NaN,NaN
32,GEPCO,2964.93948,2965.601297,2730.887198,2344.920697,1672.201573,1841.53798,1674.103905,1832.017606,2036.211393,...,2682.418374,2406.297946,2879.990003,3217.273542,3928.268631,3742.032357,3753.213325,NaN,NaN,NaN
33,FESCO,3668.419316,3595.07965,3609.592638,3089.686198,2724.228495,2871.389932,2621.664256,2640.630504,2826.592737,...,4182.519828,3768.287797,4151.155222,4466.099178,4718.36904,5224.714095,5175.194557,NaN,NaN,NaN
34,MEPCO,5067.892648,4759.703645,4950.060656,3981.24069,3163.778114,3136.051504,2703.410379,2790.790147,3216.193464,...,4568.030781,3885.786793,4387.210962,5081.679719,7259.777157,7008.51732,7086.638492,NaN,NaN,NaN
35,PESCO,3470.285175,3544.15452,3455.944714,2935.268304,2718.863801,3178.300023,3358.648732,2741.175072,2976.41337,...,4629.570758,4827.603307,4309.214485,4702.820158,4864.72099,4971.012146,5000.219355,NaN,NaN,NaN
36,TESCO,256.286474,226.309924,273.695486,290.92747,249.917552,289.191807,300.617952,284.893202,345.866716,...,421.242149,432.097648,447.861184,546.479525,513.073242,449.291377,355.575023,NaN,NaN,NaN
37,HESCO,1373.117571,1505.801285,1787.649993,1515.312241,1287.580937,1422.493762,1308.550378,1080.297978,1470.160691,...,2072.030795,1880.864192,1698.262815,2322.896881,2662.128236,2412.90644,2398.839343,NaN,NaN,NaN
38,QESCO,1437.993611,1358.569035,1429.183379,1367.731976,1502.455432,1490.14549,1417.008103,1288.289224,1581.079718,...,2170.573557,2036.757503,2025.231675,2498.152187,2464.365263,1997.511404,2098.898477,NaN,NaN,NaN
39,SEPCO,1138.858654,1233.315756,1136.790999,1049.446845,862.613989,803.017815,624.439911,667.695554,559.393079,...,1169.690642,897.547919,1049.638668,883.857423,2035.264511,1807.146991,1574.376356,NaN,NaN,NaN
40,KESC,762.632994,689.218384,789.453656,755.53908,747.514209,690.529408,808.249264,695.758111,827.033877,...,2051,2180,2140,2120,2130,2230,2180,NaN,NaN,NaN

In [288]:
disco_max_dmnd_trnctd1=disco_max_dmnd_trnctd

In [289]:
disco_max_dmnd_trnctd1=disco_max_dmnd_trnctd1.fillna(0,axis=1)

In [290]:
disco_max_dmnd_trnctd1=disco_max_dmnd_trnctd1.iloc[0:,1:133]

In [291]:
pd.DataFrame(disco_max_dmnd_trnctd1)

3,2019-07-01,2019-08-01,2019-09-01,2019-10-01,2019-11-01,2019-12-01,2020-01-01,2020-02-01,2020-03-01,2020-04-01,...,2029-09-01,2029-10-01,2029-11-01,2029-12-01,2030-01-01,2030-02-01,2030-03-01,2030-04-01,2030-05-01,2030-06-01
30,2860.328172,2544.493932,2679.426965,1960.820965,1681.740059,1743.904971,2127.148342,1806.725859,2366.122099,1959.996593,...,3505.280389,2991.336911,2469.191006,2540.204323,3057.488052,2840.230571,3738.542104,2834.492246,3241.136065,3859.142633
31,5831.588104,5832.823764,5684.030902,4744.359664,3551.984770,4268.684144,4077.381281,3462.492892,3680.669474,5245.335932,...,7435.963851,7237.773586,5215.151295,6217.844491,5860.684141,5443.149062,5815.565395,6553.745659,7791.580220,8864.530229
32,2964.939480,2965.601297,2730.887198,2344.920697,1672.201573,1841.537980,1674.103905,1832.017606,2036.211393,2347.752103,...,3572.601703,3577.301529,2455.186259,2682.418374,2406.297946,2879.990003,3217.273542,3928.268631,3742.032357,3753.213325
33,3668.419316,3595.079650,3609.592638,3089.686198,2724.228495,2871.389932,2621.664256,2640.630504,2826.592737,3371.860699,...,4722.141881,4713.481003,3999.809876,4182.519828,3768.287797,4151.155222,4466.099178,4718.369040,5224.714095,5175.194557
34,5067.892648,4759.703645,4950.060656,3981.240690,3163.778114,3136.051504,2703.410379,2790.790147,3216.193464,4061.239978,...,6475.769174,6073.594909,4645.172374,4568.030781,3885.786793,4387.210962,5081.679719,7259.777157,7008.517320,7086.638492
35,3470.285175,3544.154520,3455.944714,2935.268304,2718.863801,3178.300023,3358.648732,2741.175072,2976.413370,2603.342458,...,4521.136568,4477.908274,3991.933239,4629.570758,4827.603307,4309.214485,4702.820158,4864.720990,4971.012146,5000.219355
36,256.286474,226.309924,273.695486,290.927470,249.917552,289.191807,300.617952,284.893202,345.866716,261.700877,...,358.053954,443.825364,366.937903,421.242149,432.097648,447.861184,546.479525,513.073242,449.291377,355.575023
37,1373.117571,1505.801285,1787.649993,1515.312241,1287.580937,1422.493762,1308.550378,1080.297978,1470.160691,1472.162544,...,2338.639771,2311.689604,1890.472461,2072.030795,1880.864192,1698.262815,2322.896881,2662.128236,2412.906440,2398.839343
38,1437.993611,1358.569035,1429.183379,1367.731976,1502.455432,1490.145490,1417.008103,1288.289224,1581.079718,1366.967935,...,1869.686517,2086.548042,2205.958893,2170.573557,2036.757503,2025.231675,2498.152187,2464.365263,1997.511404,2098.898477
39,1138.858654,1233.315756,1136.790999,1049.446845,862.613989,803.017815,624.439911,667.695554,559.393079,1114.829091,...,1487.172909,1600.987107,1266.520763,1169.690642,897.547919,1049.638668,883.857423,2035.264511,1807.146991,1574.376356
40,762.632994,689.218384,789.453656,755.539080,747.514209,690.529408,808.249264,695.758111,827.033877,958.753243,...,2180.000000,2140.000000,2130.000000,2051.000000,2180.000000,2140.000000,2120.000000,2130.000000,2230.000000,2180.000000

In [292]:
disco_max_dmnd_trnctd1=disco_max_dmnd_trnctd1.astype('float')

In [293]:
pd.DataFrame(disco_max_dmnd_trnctd1)

3,2019-07-01,2019-08-01,2019-09-01,2019-10-01,2019-11-01,2019-12-01,2020-01-01,2020-02-01,2020-03-01,2020-04-01,...,2029-09-01,2029-10-01,2029-11-01,2029-12-01,2030-01-01,2030-02-01,2030-03-01,2030-04-01,2030-05-01,2030-06-01
30,2860.328172,2544.493932,2679.426965,1960.820965,1681.740059,1743.904971,2127.148342,1806.725859,2366.122099,1959.996593,...,3505.280389,2991.336911,2469.191006,2540.204323,3057.488052,2840.230571,3738.542104,2834.492246,3241.136065,3859.142633
31,5831.588104,5832.823764,5684.030902,4744.359664,3551.984770,4268.684144,4077.381281,3462.492892,3680.669474,5245.335932,...,7435.963851,7237.773586,5215.151295,6217.844491,5860.684141,5443.149062,5815.565395,6553.745659,7791.580220,8864.530229
32,2964.939480,2965.601297,2730.887198,2344.920697,1672.201573,1841.537980,1674.103905,1832.017606,2036.211393,2347.752103,...,3572.601703,3577.301529,2455.186259,2682.418374,2406.297946,2879.990003,3217.273542,3928.268631,3742.032357,3753.213325
33,3668.419316,3595.079650,3609.592638,3089.686198,2724.228495,2871.389932,2621.664256,2640.630504,2826.592737,3371.860699,...,4722.141881,4713.481003,3999.809876,4182.519828,3768.287797,4151.155222,4466.099178,4718.369040,5224.714095,5175.194557
34,5067.892648,4759.703645,4950.060656,3981.240690,3163.778114,3136.051504,2703.410379,2790.790147,3216.193464,4061.239978,...,6475.769174,6073.594909,4645.172374,4568.030781,3885.786793,4387.210962,5081.679719,7259.777157,7008.517320,7086.638492
35,3470.285175,3544.154520,3455.944714,2935.268304,2718.863801,3178.300023,3358.648732,2741.175072,2976.413370,2603.342458,...,4521.136568,4477.908274,3991.933239,4629.570758,4827.603307,4309.214485,4702.820158,4864.720990,4971.012146,5000.219355
36,256.286474,226.309924,273.695486,290.927470,249.917552,289.191807,300.617952,284.893202,345.866716,261.700877,...,358.053954,443.825364,366.937903,421.242149,432.097648,447.861184,546.479525,513.073242,449.291377,355.575023
37,1373.117571,1505.801285,1787.649993,1515.312241,1287.580937,1422.493762,1308.550378,1080.297978,1470.160691,1472.162544,...,2338.639771,2311.689604,1890.472461,2072.030795,1880.864192,1698.262815,2322.896881,2662.128236,2412.906440,2398.839343
38,1437.993611,1358.569035,1429.183379,1367.731976,1502.455432,1490.145490,1417.008103,1288.289224,1581.079718,1366.967935,...,1869.686517,2086.548042,2205.958893,2170.573557,2036.757503,2025.231675,2498.152187,2464.365263,1997.511404,2098.898477
39,1138.858654,1233.315756,1136.790999,1049.446845,862.613989,803.017815,624.439911,667.695554,559.393079,1114.829091,...,1487.172909,1600.987107,1266.520763,1169.690642,897.547919,1049.638668,883.857423,2035.264511,1807.146991,1574.376356
40,762.632994,689.218384,789.453656,755.539080,747.514209,690.529408,808.249264,695.758111,827.033877,958.753243,...,2180.000000,2140.000000,2130.000000,2051.000000,2180.000000,2140.000000,2120.000000,2130.000000,2230.000000,2180.000000

In [294]:
CPP=annex4.iloc[93:104]

In [295]:
CPP

3,Particulars,2019-07-01 00:00:00,2019-08-01 00:00:00,2019-09-01 00:00:00,2019-10-01 00:00:00,2019-11-01 00:00:00,2019-12-01 00:00:00,2020-01-01 00:00:00,2020-02-01 00:00:00,2020-03-01 00:00:00,...,2030-01-01 00:00:00,2030-02-01 00:00:00,2030-03-01 00:00:00,2030-04-01 00:00:00,2030-05-01 00:00:00,2030-06-01 00:00:00,Total,NaN,NaN,NaN
94,IESCO,4.066597,4.416485,4.861416,6.260595,8.081952,6.766116,9.488481,10.928217,10.81716,...,17.624656,19.204137,18.53658,12.221532,10.833847,10.45472,12.96402,NaN,NaN,NaN
95,LESCO,4.320588,4.890227,4.863095,6.885302,7.909097,8.5861,9.604073,10.657577,8.886317,...,17.839366,18.728543,15.227834,13.372662,11.718085,11.191459,13.419601,NaN,NaN,NaN
96,GEPCO,4.537329,5.019158,4.914581,7.608902,8.560471,8.462373,9.395932,12.914354,10.490919,...,17.452748,22.694373,17.977524,16.685905,11.551514,9.922165,14.034538,NaN,NaN,NaN
97,FESCO,4.305234,4.737331,4.945325,7.26687,10.157771,9.919941,11.35156,13.673136,11.46883,...,21.085286,24.027778,19.653299,14.8743,11.968058,10.606423,14.629714,NaN,NaN,NaN
98,MEPCO,4.217733,4.494243,4.876959,7.694761,10.326436,9.789246,10.430928,12.378801,11.024634,...,19.375233,21.753246,18.892112,14.46583,10.899684,10.324408,13.784933,NaN,NaN,NaN
99,PESCO,4.404608,5.147696,5.224406,7.672458,9.704979,8.693321,10.428823,11.956342,9.685075,...,19.371321,21.010859,16.596608,14.200548,11.668206,10.968792,14.578535,NaN,NaN,NaN
100,TESCO,3.422287,3.310935,3.791075,4.877498,5.217925,4.81973,6.300066,7.060301,6.380067,...,11.702241,12.407056,10.933056,9.847489,7.586315,7.01003,9.590334,NaN,NaN,NaN
101,HESCO,4.855227,6.515413,7.290522,8.943981,12.987084,15.099973,15.786069,16.60073,12.435182,...,29.322294,29.172435,21.309266,15.552071,12.060402,12.97465,18.047475,NaN,NaN,NaN
102,QESCO,4.18086,4.638799,5.076682,6.776039,10.975333,8.995785,12.182275,12.167565,10.101502,...,22.628322,21.382041,17.310208,14.228372,10.797549,11.466886,14.788835,NaN,NaN,NaN
103,SEPCO,4.590544,5.65372,5.458199,8.500012,12.918892,11.122926,10.722711,15.287023,8.056037,...,19.917214,26.86386,13.805044,16.708196,11.430217,10.634203,15.167653,NaN,NaN,NaN
104,KESC,4.044646,3.766447,4.122971,4.525715,6.299803,5.450039,7.314262,7.075542,6.85449,...,10.390609,10.820599,9.060312,7.935172,7.802826,7.423146,8.747947,NaN,NaN,NaN

In [296]:
col2_to_drop=[]
for ii in range(1,round(len(CPP.columns)/13)):
    col2_to_drop.append(ii*13)
    
CPP_trnctd=CPP.drop(CPP.columns[[(col2_to_drop)]], axis = 1)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexes\base.py:4616: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  result = getitem(key)

In [297]:
CPP_trnctd1=CPP_trnctd

In [298]:
CPP_trnctd1=CPP_trnctd1.fillna(0,axis=1)

In [299]:
CPP_trnctd1=CPP_trnctd1.iloc[0:,1:133]

In [300]:
CPP_trnctd1=CPP_trnctd1.astype('float')

In [301]:
CPP_trnctd1

3,2019-07-01,2019-08-01,2019-09-01,2019-10-01,2019-11-01,2019-12-01,2020-01-01,2020-02-01,2020-03-01,2020-04-01,...,2029-09-01,2029-10-01,2029-11-01,2029-12-01,2030-01-01,2030-02-01,2030-03-01,2030-04-01,2030-05-01,2030-06-01
94,4.066597,4.416485,4.861416,6.260595,8.081952,6.766116,9.488481,10.928217,10.817160,6.712823,...,11.470810,12.578853,16.684261,14.123055,17.624656,19.204137,18.536580,12.221532,10.833847,10.454720
95,4.320588,4.890227,4.863095,6.885302,7.909097,8.586100,9.604073,10.657577,8.886317,7.862243,...,11.474772,13.834021,16.327421,17.921946,17.839366,18.728543,15.227834,13.372662,11.718085,11.191459
96,4.537329,5.019158,4.914581,7.608902,8.560471,8.462373,9.395932,12.914354,10.490919,7.652132,...,11.596258,15.287885,17.672109,17.663689,17.452748,22.694373,17.977524,16.685905,11.551514,9.922165
97,4.305234,4.737331,4.945325,7.266870,10.157771,9.919941,11.351560,13.673136,11.468830,8.245090,...,11.668800,14.600671,20.969550,20.706100,21.085286,24.027778,19.653299,14.874300,11.968058,10.606423
98,4.217733,4.494243,4.876959,7.694761,10.326436,9.789246,10.430928,12.378801,11.024634,8.007590,...,11.507486,15.460393,21.317739,20.433299,19.375233,21.753246,18.892112,14.465830,10.899684,10.324408
99,4.404608,5.147696,5.224406,7.672458,9.704979,8.693321,10.428823,11.956342,9.685075,7.787172,...,12.327308,15.415582,20.034814,18.145750,19.371321,21.010859,16.596608,14.200548,11.668206,10.968792
100,3.422287,3.310935,3.791075,4.877498,5.217925,4.819730,6.300066,7.060301,6.380067,5.795280,...,8.945275,9.799919,10.771806,10.060323,11.702241,12.407056,10.933056,9.847489,7.586315,7.010030
101,4.855227,6.515413,7.290522,8.943981,12.987084,15.099973,15.786069,16.600730,12.435182,9.292412,...,17.202437,17.970340,26.810342,31.518490,29.322294,29.172435,21.309266,15.552071,12.060402,12.974650
102,4.180860,4.638799,5.076682,6.776039,10.975333,8.995785,12.182275,12.167565,10.101502,8.823328,...,11.978744,13.614488,22.657312,18.777090,22.628322,21.382041,17.310208,14.228372,10.797549,11.466886
103,4.590544,5.653720,5.458199,8.500012,12.918892,11.122926,10.722711,15.287023,8.056037,10.047500,...,12.878957,17.078313,26.669567,23.217116,19.917214,26.863860,13.805044,16.708196,11.430217,10.634203
104,4.044646,3.766447,4.122971,4.525715,6.299803,5.450039,7.314262,7.075542,6.854490,6.549711,...,8.326725,8.072342,10.608136,9.460344,10.390609,10.820599,9.060312,7.935172,7.802826,7.423146

In [302]:
UoSC_MOF=annex4.iloc[109:120]

In [303]:
UoSC_MOF

3,Particulars,2019-07-01 00:00:00,2019-08-01 00:00:00,2019-09-01 00:00:00,2019-10-01 00:00:00,2019-11-01 00:00:00,2019-12-01 00:00:00,2020-01-01 00:00:00,2020-02-01 00:00:00,2020-03-01 00:00:00,...,2030-01-01 00:00:00,2030-02-01 00:00:00,2030-03-01 00:00:00,2030-04-01 00:00:00,2030-05-01 00:00:00,2030-06-01 00:00:00,Total,NaN,NaN,NaN
110,IESCO,0.339499,0.332753,0.369873,0.39704,0.42847,0.387187,0.461442,0.48761,0.549956,...,0.918981,1.005779,1.095261,0.815386,0.739292,0.73909,0.794508,NaN,NaN,NaN
111,LESCO,0.360704,0.368446,0.370001,0.436658,0.419306,0.491335,0.467063,0.475535,0.45179,...,0.930176,0.98087,0.899759,0.892186,0.799631,0.791174,0.827209,NaN,NaN,NaN
112,GEPCO,0.378798,0.37816,0.373918,0.482548,0.453839,0.484255,0.456941,0.576231,0.53337,...,0.910017,1.188573,1.062229,1.113236,0.788264,0.701442,0.867107,NaN,NaN,NaN
113,FESCO,0.359422,0.356926,0.376257,0.460857,0.538521,0.567663,0.552047,0.610087,0.583088,...,1.099424,1.258407,1.161244,0.992371,0.816689,0.749815,0.89626,NaN,NaN,NaN
114,MEPCO,0.352117,0.338611,0.371056,0.487993,0.547463,0.560184,0.507275,0.552335,0.560504,...,1.010259,1.139283,1.116268,0.965119,0.743784,0.729878,0.854403,NaN,NaN,NaN
115,PESCO,0.367718,0.387845,0.397491,0.486578,0.514516,0.497471,0.507172,0.533485,0.4924,...,1.010055,1.100402,0.980635,0.94742,0.796227,0.775432,0.887505,NaN,NaN,NaN
116,TESCO,0.285709,0.249457,0.288438,0.309325,0.276632,0.275806,0.306383,0.315026,0.32437,...,0.610175,0.649795,0.645996,0.656996,0.517683,0.49557,0.578902,NaN,NaN,NaN
117,HESCO,0.405338,0.490893,0.554688,0.567217,0.688519,0.864088,0.767705,0.740715,0.632218,...,1.528916,1.527849,1.259089,1.03759,0.82299,0.917235,1.104523,NaN,NaN,NaN
118,QESCO,0.349039,0.349503,0.386251,0.429729,0.581865,0.514779,0.592446,0.542909,0.513571,...,1.179881,1.119842,1.022799,0.949276,0.736815,0.810645,0.894347,NaN,NaN,NaN
119,SEPCO,0.383241,0.42597,0.415279,0.539061,0.684904,0.636504,0.521465,0.682098,0.409578,...,1.038519,1.406942,0.815691,1.114723,0.779987,0.751779,0.940238,NaN,NaN,NaN
120,KESC,0.337667,0.283777,0.31369,0.287016,0.333988,0.311876,0.355706,0.315706,0.34849,...,0.541785,0.566707,0.535342,0.529412,0.532457,0.524775,0.530251,NaN,NaN,NaN

In [304]:
col3_to_drop=[]
for ii in range(1,round(len(UoSC_MOF.columns)/13)):
    col3_to_drop.append(ii*13)
    
UoSC_MOF_trnctd=UoSC_MOF.drop(UoSC_MOF.columns[[(col3_to_drop)]], axis = 1)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexes\base.py:4616: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  result = getitem(key)

In [305]:
UoSC_MOF_trnctd1=UoSC_MOF_trnctd

In [306]:
UoSC_MOF_trnctd1=UoSC_MOF_trnctd1.fillna(0,axis=1)

In [307]:
UoSC_MOF_trnctd1=UoSC_MOF_trnctd1.iloc[0:,1:133]

In [308]:
UoSC_MOF_trnctd1=UoSC_MOF_trnctd1.astype('float')

In [309]:
UoSC_MOF_trnctd1

3,2019-07-01,2019-08-01,2019-09-01,2019-10-01,2019-11-01,2019-12-01,2020-01-01,2020-02-01,2020-03-01,2020-04-01,...,2029-09-01,2029-10-01,2029-11-01,2029-12-01,2030-01-01,2030-02-01,2030-03-01,2030-04-01,2030-05-01,2030-06-01
110,0.339499,0.332753,0.369873,0.397040,0.428470,0.387187,0.461442,0.487610,0.549956,0.387837,...,0.736618,0.790721,0.853316,0.771100,0.918981,1.005779,1.095261,0.815386,0.739292,0.739090
111,0.360704,0.368446,0.370001,0.436658,0.419306,0.491335,0.467063,0.475535,0.451790,0.454245,...,0.736873,0.869623,0.835066,0.978514,0.930176,0.980870,0.899759,0.892186,0.799631,0.791174
112,0.378798,0.378160,0.373918,0.482548,0.453839,0.484255,0.456941,0.576231,0.533370,0.442106,...,0.744674,0.961014,0.903840,0.964414,0.910017,1.188573,1.062229,1.113236,0.788264,0.701442
113,0.359422,0.356926,0.376257,0.460857,0.538521,0.567663,0.552047,0.610087,0.583088,0.476365,...,0.749332,0.917815,1.072487,1.130525,1.099424,1.258407,1.161244,0.992371,0.816689,0.749815
114,0.352117,0.338611,0.371056,0.487993,0.547463,0.560184,0.507275,0.552335,0.560504,0.462643,...,0.738973,0.971858,1.090295,1.115631,1.010259,1.139283,1.116268,0.965119,0.743784,0.729878
115,0.367718,0.387845,0.397491,0.486578,0.514516,0.497471,0.507172,0.533485,0.492400,0.449908,...,0.791620,0.969042,1.024680,0.990734,1.010055,1.100402,0.980635,0.947420,0.796227,0.775432
116,0.285709,0.249457,0.288438,0.309325,0.276632,0.275806,0.306383,0.315026,0.324370,0.334825,...,0.574436,0.616034,0.550924,0.549280,0.610175,0.649795,0.645996,0.656996,0.517683,0.495570
117,0.405338,0.490893,0.554688,0.567217,0.688519,0.864088,0.767705,0.740715,0.632218,0.536874,...,1.104685,1.129637,1.371214,1.720868,1.528916,1.527849,1.259089,1.037590,0.822990,0.917235
118,0.349039,0.349503,0.386251,0.429729,0.581865,0.514779,0.592446,0.542909,0.513571,0.509773,...,0.769236,0.855823,1.158808,1.025204,1.179881,1.119842,1.022799,0.949276,0.736815,0.810645
119,0.383241,0.425970,0.415279,0.539061,0.684904,0.636504,0.521465,0.682098,0.409578,0.580500,...,0.827045,1.073563,1.364014,1.267624,1.038519,1.406942,0.815691,1.114723,0.779987,0.751779
120,0.337667,0.283777,0.313690,0.287016,0.333988,0.311876,0.355706,0.315706,0.348490,0.378413,...,0.534715,0.507437,0.542553,0.516522,0.541785,0.566707,0.535342,0.529412,0.532457,0.524775

In [310]:
Energy_FC_MlnRs=annex4.iloc[141:152]

In [311]:
Energy_FC_MlnRs

3,Particulars,2019-07-01 00:00:00,2019-08-01 00:00:00,2019-09-01 00:00:00,2019-10-01 00:00:00,2019-11-01 00:00:00,2019-12-01 00:00:00,2020-01-01 00:00:00,2020-02-01 00:00:00,2020-03-01 00:00:00,...,2030-01-01 00:00:00,2030-02-01 00:00:00,2030-03-01 00:00:00,2030-04-01 00:00:00,2030-05-01 00:00:00,2030-06-01 00:00:00,Total,NaN,NaN,NaN
142,IESCO,7256.644098,6047.256262,6445.273636,4879.381298,3117.839687,4836.434973,5568.79481,2993.837117,3517.966349,...,5112.262849,3076.894305,4040.71073,4435.497471,6043.753581,10331.746773,66861.649483,NaN,NaN,NaN
143,LESCO,13924.995968,12519.40124,13668.028444,10734.875941,6729.075521,9329.106891,10545.956746,5883.227145,6661.512273,...,9681.395117,6046.443874,7651.364864,9372.693738,13432.630887,22169.932695,137787.949278,NaN,NaN,NaN
144,GEPCO,6741.656442,6201.769752,6497.995845,4801.186778,2926.861352,4083.480406,4425.910934,2568.870221,3121.599121,...,4063.073037,2640.13767,3585.446196,4502.400526,6544.264267,10587.469073,64512.758981,NaN,NaN,NaN
145,FESCO,8790.898769,7965.417082,8535.432053,6623.833433,4018.429111,5431.566197,5736.957941,3497.234295,3963.801768,...,5266.639902,3594.25709,4552.794071,6066.637903,8819.237737,13656.929481,85018.705172,NaN,NaN,NaN
146,MEPCO,12396.50755,11116.218546,11869.258197,8060.569643,4590.57163,6011.403894,6437.972859,4082.571777,4691.868044,...,5910.185344,4195.833427,5389.045735,9597.820847,12989.858968,19211.905818,114055.151553,NaN,NaN,NaN
147,PESCO,8128.473509,7226.591239,7735.565216,5960.129835,4197.62886,6860.427201,7999.989706,4151.678107,4942.629557,...,7344.147443,4266.856954,5677.068597,6551.57266,8606.625668,12759.262908,86502.561476,NaN,NaN,NaN
148,TESCO,772.609862,717.441843,844.242946,929.244671,717.645776,1125.914079,1185.304613,730.708323,871.869193,...,1088.13288,750.98016,1001.422656,996.429532,1196.435835,1419.733187,11581.219614,NaN,NaN,NaN
149,HESCO,2917.757539,2425.825044,2867.385191,2639.451441,1485.50484,1767.730973,2059.095953,1178.424051,1901.430522,...,1890.290468,1211.11674,2183.969359,3273.65923,4041.763489,5174.88673,32411.939976,NaN,NaN,NaN
150,QESCO,3548.48014,3074.042582,3292.078502,3144.615356,2051.139027,3108.36191,2889.376042,1917.321397,2517.30373,...,2652.503872,1970.513109,2891.356876,3312.398581,3737.285703,5123.199514,38381.993945,NaN,NaN,NaN
151,SEPCO,2559.509554,2289.674435,2435.529907,1923.460745,1000.46622,1354.715528,1446.592338,790.934986,1116.769212,...,1328.000137,812.877675,1282.713048,2329.614232,3193.972762,4143.801595,25202.78833,NaN,NaN,NaN
152,KESC,1945.29806,1920.696615,2239.125983,2600.831324,1777.885032,2377.522075,2744.953309,1780.671315,1940.510418,...,6182.790679,4114.492477,4687.894353,5133.528667,5773.57921,8219.848646,65287.460706,NaN,NaN,NaN

In [312]:
col4_to_drop=[]
for ii in range(1,round(len(Energy_FC_MlnRs.columns)/13)):
    col4_to_drop.append(ii*13)
    
Energy_FC_MlnRs_trnctd=Energy_FC_MlnRs.drop(Energy_FC_MlnRs.columns[[(col4_to_drop)]], axis = 1)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexes\base.py:4616: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  result = getitem(key)

In [313]:
Energy_FC_MlnRs_trnctd1=Energy_FC_MlnRs_trnctd

In [314]:
Energy_FC_MlnRs_trnctd1=Energy_FC_MlnRs_trnctd1.fillna(0,axis=1)

In [315]:
Energy_FC_MlnRs_trnctd1=Energy_FC_MlnRs_trnctd1.iloc[0:,1:133]

In [316]:
Energy_FC_MlnRs_trnctd1=Energy_FC_MlnRs_trnctd1.astype('float')

In [317]:
Energy_FC_MlnRs_trnctd1

3,2019-07-01,2019-08-01,2019-09-01,2019-10-01,2019-11-01,2019-12-01,2020-01-01,2020-02-01,2020-03-01,2020-04-01,...,2029-09-01,2029-10-01,2029-11-01,2029-12-01,2030-01-01,2030-02-01,2030-03-01,2030-04-01,2030-05-01,2030-06-01
142,7256.644098,6047.256262,6445.273636,4879.381298,3117.839687,4836.434973,5568.794810,2993.837117,3517.966349,4528.591982,...,6816.507301,5155.382444,2543.666827,4174.273689,5112.262849,3076.894305,4040.710730,4435.497471,6043.753581,10331.746773
143,13924.995968,12519.401240,13668.028444,10734.875941,6729.075521,9329.106891,10545.956746,5883.227145,6661.512273,10347.605562,...,14455.276989,11342.091873,5489.867310,8051.849277,9681.395117,6046.443874,7651.364864,9372.693738,13432.630887,22169.932695
144,6741.656442,6201.769752,6497.995845,4801.186778,2926.861352,4083.480406,4425.910934,2568.870221,3121.599121,4758.639514,...,6872.266194,5072.764868,2387.858541,3524.406906,4063.073037,2640.137670,3585.446196,4502.400526,6544.264267,10587.469073
145,8790.898769,7965.417082,8535.432053,6623.833433,4018.429111,5431.566197,5736.957941,3497.234295,3963.801768,6342.891499,...,9027.054272,6998.509135,3278.406156,4687.924885,5266.639902,3594.257090,4552.794071,6066.637903,8819.237737,13656.929481
146,12396.507550,11116.218546,11869.258197,8060.569643,4590.571630,6011.403894,6437.972859,4082.571777,4691.868044,7866.288247,...,12552.901510,8516.514018,3745.184468,5188.376407,5910.185344,4195.833427,5389.045735,9597.820847,12989.858968,19211.905818
147,8128.473509,7226.591239,7735.565216,5960.129835,4197.628860,6860.427201,7999.989706,4151.678107,4942.629557,5185.188786,...,8181.116854,6297.263288,3424.604968,5921.159061,7344.147443,4266.856954,5677.068597,6551.572660,8606.625668,12759.262908
148,772.609862,717.441843,844.242946,929.244671,717.645776,1125.914079,1185.304613,730.708323,871.869193,700.396274,...,892.869493,981.807195,585.486085,971.764025,1088.132880,750.980160,1001.422656,996.429532,1196.435835,1419.733187
149,2917.757539,2425.825044,2867.385191,2639.451441,1485.504840,1767.730973,2059.095953,1178.424051,1901.430522,2457.199175,...,3032.540306,2788.751440,1211.938317,1525.709108,1890.290468,1211.116740,2183.969359,3273.659230,4041.763489,5174.886730
150,3548.480140,3074.042582,3292.078502,3144.615356,2051.139027,3108.361910,2889.376042,1917.321397,2517.303730,2402.917864,...,3481.695024,3322.489842,1673.406854,2682.792885,2652.503872,1970.513109,2891.356876,3312.398581,3737.285703,5123.199514
151,2559.509554,2289.674435,2435.529907,1923.460745,1000.466220,1354.715528,1446.592338,790.934986,1116.769212,1720.930454,...,2575.811103,2032.260885,816.223087,1169.240033,1328.000137,812.877675,1282.713048,2329.614232,3193.972762,4143.801595
152,1945.298060,1920.696615,2239.125983,2600.831324,1777.885032,2377.522075,2744.953309,1780.671315,1940.510418,2270.375861,...,5840.035638,5747.127152,3451.064295,5031.525423,6182.790679,4114.492477,4687.894353,5133.528667,5773.579210,8219.848646

In [318]:
Energy_OM_MlnRs=annex4.iloc[157:168]

In [319]:
Energy_OM_MlnRs

3,Particulars,2019-07-01 00:00:00,2019-08-01 00:00:00,2019-09-01 00:00:00,2019-10-01 00:00:00,2019-11-01 00:00:00,2019-12-01 00:00:00,2020-01-01 00:00:00,2020-02-01 00:00:00,2020-03-01 00:00:00,...,2030-01-01 00:00:00,2030-02-01 00:00:00,2030-03-01 00:00:00,2030-04-01 00:00:00,2030-05-01 00:00:00,2030-06-01 00:00:00,Total,NaN,NaN,NaN
158,IESCO,100859.696919,86332.338041,87270.990935,66643.945077,49237.752979,63357.606684,65608.304934,39737.851543,51302.661333,...,963.149633,741.899949,866.906684,912.47477,1207.654391,1562.541559,13328.213015,NaN,NaN,NaN
159,LESCO,193542.752537,178730.507375,185069.316506,146619.917348,106267.349036,122211.89542,124246.335097,78089.354155,97145.132781,...,1823.973538,1457.916964,1641.547685,1928.159494,2684.089524,3352.912334,27390.52065,NaN,NaN,NaN
160,GEPCO,93701.911827,88538.216249,87984.865894,65575.942602,46221.77235,53493.853815,52143.511133,34097.173453,45522.420237,...,765.482414,636.589304,769.232811,926.23813,1307.665737,1601.216212,12824.268545,NaN,NaN,NaN
161,FESCO,122184.218145,113716.543568,115572.379926,90470.156872,63460.100512,71153.863677,67589.505248,46419.551833,57804.299281,...,992.234249,866.646328,976.770641,1248.034535,1762.247755,2065.431949,16909.814893,NaN,NaN,NaN
162,MEPCO,172298.376135,158698.274991,160713.413122,110093.499105,72495.527229,78749.774503,75848.455717,54188.863614,68421.722501,...,1113.478124,1011.698257,1156.182682,1974.472857,2595.615458,2905.549461,22637.205594,NaN,NaN,NaN
163,PESCO,112977.205909,103168.857201,104741.936501,81405.108786,66290.070579,89872.033993,94251.230657,55106.126965,72078.58891,...,1383.63639,1028.823431,1217.976005,1347.795775,1719.763908,1929.671622,17262.317391,NaN,NaN,NaN
164,TESCO,10738.461945,10242.40235,11431.309614,12691.881828,11333.252823,14749.546255,13964.570277,9698.850578,12714.507619,...,205.004088,181.076139,214.84834,204.986433,239.070136,214.716074,2325.485388,NaN,NaN,NaN
165,HESCO,40553.751444,34631.763337,38825.278976,36050.360927,23459.487242,23157.388517,24259.072172,15641.478861,27728.646739,...,356.13047,292.024151,468.555599,673.460299,807.61953,782.63393,6424.886751,NaN,NaN,NaN
166,QESCO,49320.130155,43885.899958,44575.757269,42950.02999,32392.13266,40719.739314,34040.94978,25449.024127,36709.953404,...,499.731373,475.129605,620.320723,681.429795,746.779204,774.816914,7696.222517,NaN,NaN,NaN
167,SEPCO,35574.482423,32688.038799,32977.825369,26271.161115,15799.628436,17746.859842,17042.910449,10498.252186,16285.895599,...,250.195047,196.000852,275.197258,479.250461,638.215172,626.69579,4995.39173,NaN,NaN,NaN
168,KESC,27037.590671,27420.40725,30318.45572,35522.876633,28076.832936,31145.690856,32339.445044,23635.237861,28298.550621,...,1164.836932,992.085349,1005.755477,1056.074413,1153.668526,1243.144591,13101.732909,NaN,NaN,NaN

In [320]:
col5_to_drop=[]
for ii in range(1,round(len(Energy_OM_MlnRs.columns)/13)):
    col5_to_drop.append(ii*13)
    
Energy_OM_MlnRs_trnctd=Energy_OM_MlnRs.drop(Energy_OM_MlnRs.columns[[(col5_to_drop)]], axis = 1)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexes\base.py:4616: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  result = getitem(key)

In [321]:
Energy_OM_MlnRs_trnctd1=Energy_OM_MlnRs_trnctd

In [322]:
Energy_OM_MlnRs_trnctd1=Energy_OM_MlnRs_trnctd1.fillna(0,axis=1)

In [323]:
Energy_OM_MlnRs_trnctd1=Energy_OM_MlnRs_trnctd1.iloc[0:,1:133]

In [324]:
Energy_OM_MlnRs_trnctd1=Energy_OM_MlnRs_trnctd1.astype('float')

In [325]:
Energy_OM_MlnRs_trnctd1

3,2019-07-01,2019-08-01,2019-09-01,2019-10-01,2019-11-01,2019-12-01,2020-01-01,2020-02-01,2020-03-01,2020-04-01,...,2029-09-01,2029-10-01,2029-11-01,2029-12-01,2030-01-01,2030-02-01,2030-03-01,2030-04-01,2030-05-01,2030-06-01
158,100859.696919,86332.338041,87270.990935,66643.945077,49237.752979,63357.606684,65608.304934,39737.851543,51302.661333,72445.743157,...,1335.361158,973.754900,554.940453,870.067249,963.149633,741.899949,866.906684,912.474770,1207.654391,1562.541559
159,193542.752537,178730.507375,185069.316506,146619.917348,106267.349036,122211.895420,124246.335097,78089.354155,97145.132781,165534.889822,...,2831.804407,2142.308093,1197.699880,1678.292050,1823.973538,1457.916964,1641.547685,1928.159494,2684.089524,3352.912334
160,93701.911827,88538.216249,87984.865894,65575.942602,46221.772350,53493.853815,52143.511133,34097.173453,45522.420237,76125.907865,...,1346.284385,958.149992,520.948454,734.611875,765.482414,636.589304,769.232811,926.238130,1307.665737,1601.216212
161,122184.218145,113716.543568,115572.379926,90470.156872,63460.100512,71153.863677,67589.505248,46419.551833,57804.299281,101469.836591,...,1768.409702,1321.886909,715.235258,977.130445,992.234249,866.646328,976.770641,1248.034535,1762.247755,2065.431949
162,172298.376135,158698.274991,160713.413122,110093.499105,72495.527229,78749.774503,75848.455717,54188.863614,68421.722501,125840.239120,...,2459.126992,1608.609515,817.070201,1081.442359,1113.478124,1011.698257,1156.182682,1974.472857,2595.615458,2905.549461
163,112977.205909,103168.857201,104741.936501,81405.108786,66290.070579,89872.033993,94251.230657,55106.126965,72078.588910,82949.591499,...,1602.689646,1189.434741,747.130801,1234.180353,1383.636390,1028.823431,1217.976005,1347.795775,1719.763908,1929.671622
164,10738.461945,10242.402350,11431.309614,12691.881828,11333.252823,14749.546255,13964.570277,9698.850578,12714.507619,11204.526441,...,174.914100,185.444936,127.732889,202.550219,205.004088,181.076139,214.848340,204.986433,239.070136,214.716074
165,40553.751444,34631.763337,38825.278976,36050.360927,23459.487242,23157.388517,24259.072172,15641.478861,27728.646739,39308.822918,...,594.077928,526.742760,264.403180,318.012096,356.130470,292.024151,468.555599,673.460299,807.619530,782.633930
166,49320.130155,43885.899958,44575.757269,42950.029990,32392.132660,40719.739314,34040.949780,25449.024127,36709.953404,38440.462529,...,682.067823,627.555918,365.079714,559.189550,499.731373,475.129605,620.320723,681.429795,746.779204,774.816914
167,35574.482423,32688.038799,32977.825369,26271.161115,15799.628436,17746.859842,17042.910449,10498.252186,16285.895599,27530.430242,...,504.604183,383.855905,178.071753,243.711250,250.195047,196.000852,275.197258,479.250461,638.215172,626.695790
168,27037.590671,27420.407250,30318.455720,35522.876633,28076.832936,31145.690856,32339.445044,23635.237861,28298.550621,36320.133758,...,1144.069302,1085.524359,752.903314,1048.749030,1164.836932,992.085349,1005.755477,1056.074413,1153.668526,1243.144591

In [326]:
CPP_MlnRs=annex4.iloc[173:184]

In [327]:
CPP_MlnRs

3,Particulars,2019-07-01 00:00:00,2019-08-01 00:00:00,2019-09-01 00:00:00,2019-10-01 00:00:00,2019-11-01 00:00:00,2019-12-01 00:00:00,2020-01-01 00:00:00,2020-02-01 00:00:00,2020-03-01 00:00:00,...,2030-01-01 00:00:00,2030-02-01 00:00:00,2030-03-01 00:00:00,2030-04-01 00:00:00,2030-05-01 00:00:00,2030-06-01 00:00:00,Total,NaN,NaN,NaN
174,IESCO,6131.117895,6043.495889,6302.07361,5532.879488,5676.574416,5453.467424,7827.251692,7246.031994,8328.252713,...,20897.78467,19327.118737,22549.419433,15141.156651,16927.212282,19454.808301,223785.083393,NaN,NaN,NaN
175,LESCO,12500.018189,13853.696406,13368.970912,13387.234604,11989.430687,13348.852323,15003.509115,13886.630423,12955.183314,...,40057.49593,37039.383107,35077.20916,35008.488669,40692.439241,44688.095957,476632.883114,NaN,NaN,NaN
176,GEPCO,6355.352397,7043.679303,6423.109257,6616.699769,5644.378046,5758.781327,6160.187497,7347.466759,7167.036337,...,16446.931429,19597.672571,19405.331948,20983.839625,19543.201768,18920.794773,232759.489423,NaN,NaN,NaN
177,FESCO,7863.262521,8538.77025,8489.844587,8718.216347,9195.407871,8979.291714,9646.918167,10590.47947,9949.012625,...,25756.066946,28247.660839,26937.758296,25204.360632,27286.6806,26089.322838,320449.379743,NaN,NaN,NaN
178,MEPCO,10863.035788,11304.899985,11642.656077,11233.92974,10679.071239,9806.930423,9947.718759,11192.707848,11320.325337,...,26559.16697,29853.966107,30650.698643,38779.934338,36602.801631,35725.342774,402188.416658,NaN,NaN,NaN
179,PESCO,7438.56168,8417.816606,8128.461149,8282.492937,9177.299789,9939.048244,12358.794378,10993.722253,10476.349779,...,32996.437815,29323.217935,28365.566393,25986.136559,25961.692492,25207.233384,327379.481079,NaN,NaN,NaN
180,TESCO,549.350456,537.51478,643.738053,820.914636,843.576017,904.348645,1106.181607,1142.589091,1217.378181,...,2953.366768,3047.592813,3296.150125,2740.710383,2346.476779,1792.533877,29494.590259,NaN,NaN,NaN
181,HESCO,2943.279654,3576.469081,4204.593741,4275.780486,4346.122913,4448.363599,4815.062946,4332.629476,5174.656781,...,12855.616834,11556.289622,14010.802769,14220.430731,12601.686169,12093.090099,151070.754387,NaN,NaN,NaN
182,QESCO,3082.341546,3226.773809,3361.472051,3859.350921,5071.413993,4659.921282,5214.154019,5166.796551,5565.068454,...,13921.140166,13781.237855,15067.874026,13164.029832,10432.236997,10581.020551,149027.934702,NaN,NaN,NaN
183,SEPCO,2441.1453,2929.281382,2673.758474,2961.240738,2911.682144,2511.164065,2297.746825,2677.851387,1968.946123,...,6134.697116,7142.550813,5331.081258,10871.879725,9438.03658,7936.786253,97906.740413,NaN,NaN,NaN
184,KESC,1634.705011,1636.981098,1856.813088,2131.916555,2523.17236,2159.394975,2974.108716,2790.398726,2910.985505,...,14900.195784,14562.210027,12787.008375,11377.933283,11646.435889,10989.87162,151052.051962,NaN,NaN,NaN

In [328]:
col6_to_drop=[]
for ii in range(1,round(len(CPP_MlnRs.columns)/13)):
    col6_to_drop.append(ii*13)
    
CPP_MlnRs_trnctd=CPP_MlnRs.drop(CPP_MlnRs.columns[[(col6_to_drop)]], axis = 1)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexes\base.py:4616: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  result = getitem(key)

In [329]:
CPP_MlnRs_trnctd1=CPP_MlnRs_trnctd

In [330]:
CPP_MlnRs_trnctd1=CPP_MlnRs_trnctd1.fillna(0,axis=1)

In [331]:
CPP_MlnRs_trnctd1=CPP_MlnRs_trnctd1.iloc[0:,1:133]

In [332]:
CPP_MlnRs_trnctd1=CPP_MlnRs_trnctd1.astype('float')

In [333]:
CPP_MlnRs_trnctd1

3,2019-07-01,2019-08-01,2019-09-01,2019-10-01,2019-11-01,2019-12-01,2020-01-01,2020-02-01,2020-03-01,2020-04-01,...,2029-09-01,2029-10-01,2029-11-01,2029-12-01,2030-01-01,2030-02-01,2030-03-01,2030-04-01,2030-05-01,2030-06-01
174,6131.117895,6043.495889,6302.073610,5532.879488,5676.574416,5453.467424,7827.251692,7246.031994,8328.252713,6070.757043,...,19453.405940,16959.147641,17205.719839,16580.887984,20897.784670,19327.118737,22549.419433,15141.156651,16927.212282,19454.808301
175,12500.018189,13853.696406,13368.970912,13387.234604,11989.430687,13348.852323,15003.509115,13886.630423,12955.183314,16246.538468,...,41267.689690,41033.983958,36340.012531,40586.256025,40057.495930,37039.383107,35077.209160,35008.488669,40692.439241,44688.095957
176,6355.352397,7043.679303,6423.109257,6616.699769,5644.378046,5758.781327,6160.187497,7347.466759,7167.036337,7271.763973,...,19827.021947,20281.227619,17108.132510,17509.173648,16446.931429,19597.672571,19405.331948,20983.839625,19543.201768,18920.794773
177,7863.262521,8538.770250,8489.844587,8718.216347,9195.407871,8979.291714,9646.918167,10590.479470,9949.012625,10443.766665,...,26206.674711,26722.707139,27871.318164,27300.911240,25756.066946,28247.660839,26937.758296,25204.360632,27286.680600,26089.322838
178,10863.035788,11304.899985,11642.656077,11233.929740,10679.071239,9806.930423,9947.718759,11192.707848,11320.325337,12579.002069,...,35938.855825,34433.765178,32368.307787,29817.289107,26559.166970,29853.966107,30650.698643,38779.934338,36602.801631,35725.342774
179,7438.561680,8417.816606,8128.461149,8282.492937,9177.299789,9939.048244,12358.794378,10993.722253,10476.349779,8063.411752,...,25091.146848,25387.146214,27816.432494,30218.984145,32996.437815,29323.217935,28365.566393,25986.136559,25961.692492,25207.233384
180,549.350456,537.514780,643.738053,820.914636,843.576017,904.348645,1106.181607,1142.589091,1217.378181,810.574084,...,1987.107489,2516.232741,2556.882294,2749.609086,2953.366768,3047.592813,3296.150125,2740.710383,2346.476779,1792.533877
181,2943.279654,3576.469081,4204.593741,4275.780486,4346.122913,4448.363599,4815.062946,4332.629476,5174.656781,4559.773811,...,12978.850125,13105.941076,13173.115992,13524.939788,12855.616834,11556.289622,14010.802769,14220.430731,12601.686169,12093.090099
182,3082.341546,3226.773809,3361.472051,3859.350921,5071.413993,4659.921282,5214.154019,5166.796551,5565.068454,4233.951347,...,10376.280001,11829.518826,15371.476165,14168.166195,13921.140166,13781.237855,15067.874026,13164.029832,10432.236997,10581.020551
183,2441.145300,2929.281382,2673.758474,2961.240738,2911.682144,2511.164065,2297.746825,2677.851387,1968.946123,3452.994041,...,8253.427714,9076.669570,8825.320266,7635.019490,6134.697116,7142.550813,5331.081258,10871.879725,9438.036580,7936.786253
184,1634.705011,1636.981098,1856.813088,2131.916555,2523.172360,2159.394975,2974.108716,2790.398726,2910.985505,2969.575570,...,12098.440138,12132.560466,14842.182386,13387.663720,14900.195784,14562.210027,12787.008375,11377.933283,11646.435889,10989.871620

In [334]:
UoSC_MOF_MlnRs=annex4.iloc[189:200]

In [335]:
UoSC_MOF_MlnRs

3,Particulars,2019-07-01 00:00:00,2019-08-01 00:00:00,2019-09-01 00:00:00,2019-10-01 00:00:00,2019-11-01 00:00:00,2019-12-01 00:00:00,2020-01-01 00:00:00,2020-02-01 00:00:00,2020-03-01 00:00:00,...,2030-01-01 00:00:00,2030-02-01 00:00:00,2030-03-01 00:00:00,2030-04-01 00:00:00,2030-05-01 00:00:00,2030-06-01 00:00:00,Total,NaN,NaN,NaN
190,IESCO,511.855683,455.33715,479.483415,350.888882,300.947358,312.071768,380.653163,323.313565,423.417514,...,1089.647314,1012.219691,1332.36575,1010.17463,1155.096977,1375.346144,13714.805243,NaN,NaN,NaN
191,LESCO,1043.562603,1043.783724,1017.157244,849.00309,635.627621,763.880963,729.647318,619.61305,658.655746,...,2088.668418,1939.864573,2072.588708,2335.666152,2776.813618,3159.198463,29380.548304,NaN,NaN,NaN
192,GEPCO,530.575875,530.694307,488.692222,419.623523,299.240446,329.543193,299.580868,327.839523,364.379998,...,857.571984,1026.389414,1146.592698,1399.981714,1333.609629,1337.594374,14380.756445,NaN,NaN,NaN
193,FESCO,656.463581,643.339449,645.936548,552.899298,487.500648,513.835185,469.146779,472.540788,505.818727,...,1342.966712,1479.415474,1591.657233,1681.562794,1862.01731,1844.369218,19631.677565,NaN,NaN,NaN
194,MEPCO,906.899312,851.748895,885.813279,712.442961,566.158045,561.196369,483.775246,499.411854,575.537771,...,1384.841762,1563.542542,1811.041797,2587.286211,2497.74061,2525.581937,24928.013118,NaN,NaN,NaN
195,PESCO,621.007479,634.226397,618.441254,525.266218,486.540636,568.756741,601.030139,490.533238,532.629127,...,1720.492406,1535.745654,1676.021383,1733.720646,1771.601373,1782.010427,19930.041026,NaN,NaN,NaN
196,TESCO,45.862461,40.498157,48.977803,52.061466,44.722742,51.750869,53.795578,50.981634,61.892844,...,153.993747,159.611658,194.757898,182.852351,160.121359,126.72212,1780.384274,NaN,NaN,NaN
197,HESCO,245.719368,269.463117,319.899939,271.165103,230.412589,254.555237,234.16507,193.319307,263.085233,...,670.314513,605.237856,827.848974,948.746432,859.927161,854.913838,9245.675484,NaN,NaN,NaN
198,QESCO,257.328935,243.115908,255.752344,244.755616,268.864377,266.661513,253.573579,230.539337,282.934191,...,725.872777,721.765128,890.30759,878.266388,711.885999,748.018978,9012.387749,NaN,NaN,NaN
199,SEPCO,203.798739,220.701836,203.428732,187.798497,154.36476,143.700026,111.743513,119.484109,100.103383,...,319.873917,374.076999,314.99481,725.340694,644.042701,561.086401,6069.208668,NaN,NaN,NaN
200,KESC,136.473163,123.335619,141.27272,135.203707,133.767656,123.570227,144.636194,124.505903,147.9977,...,776.922462,762.667004,755.539275,759.103139,794.741784,776.922462,9155.924297,NaN,NaN,NaN

In [336]:
col7_to_drop=[]
for ii in range(1,round(len(UoSC_MOF_MlnRs.columns)/13)):
    col7_to_drop.append(ii*13)
    
UoSC_MOF_MlnRs_trnctd=UoSC_MOF_MlnRs.drop(UoSC_MOF_MlnRs.columns[[(col7_to_drop)]], axis = 1)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexes\base.py:4616: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  result = getitem(key)

In [337]:
UoSC_MOF_MlnRs_trnctd1=UoSC_MOF_MlnRs_trnctd

In [338]:
UoSC_MOF_MlnRs_trnctd1=UoSC_MOF_MlnRs_trnctd1.fillna(0,axis=1)

In [339]:
UoSC_MOF_MlnRs_trnctd1=UoSC_MOF_MlnRs_trnctd1.iloc[0:,1:133]

In [340]:
UoSC_MOF_MlnRs_trnctd1=UoSC_MOF_MlnRs_trnctd1.astype('float')

In [341]:
UoSC_MOF_MlnRs_trnctd1

3,2019-07-01,2019-08-01,2019-09-01,2019-10-01,2019-11-01,2019-12-01,2020-01-01,2020-02-01,2020-03-01,2020-04-01,...,2029-09-01,2029-10-01,2029-11-01,2029-12-01,2030-01-01,2030-02-01,2030-03-01,2030-04-01,2030-05-01,2030-06-01
190,511.855683,455.337150,479.483415,350.888882,300.947358,312.071768,380.653163,323.313565,423.417514,350.741361,...,1249.234435,1066.071944,879.986218,905.294402,1089.647314,1012.219691,1332.365750,1010.174630,1155.096977,1375.346144
191,1043.562603,1043.783724,1017.157244,849.003090,635.627621,763.880963,729.647318,619.613050,658.655746,938.652785,...,2650.076762,2579.444437,1858.609258,2215.955527,2088.668418,1939.864573,2072.588708,2335.666152,2776.813618,3159.198463
192,530.575875,530.694307,488.692222,419.623523,299.240446,329.543193,299.580868,327.839523,364.379998,420.130203,...,1273.226840,1274.901794,874.995116,955.977563,857.571984,1026.389414,1146.592698,1399.981714,1333.609629,1337.594374
193,656.463581,643.339449,645.936548,552.899298,487.500648,513.835185,469.146779,472.540788,505.818727,603.394421,...,1682.907383,1679.820764,1425.478044,1490.593395,1342.966712,1479.415474,1591.657233,1681.562794,1862.017310,1844.369218
194,906.899312,851.748895,885.813279,712.442961,566.158045,561.196369,483.775246,499.411854,575.537771,726.758832,...,2307.876389,2164.546931,1655.476494,1627.984275,1384.841762,1563.542542,1811.041797,2587.286211,2497.740610,2525.581937
195,621.007479,634.226397,618.441254,525.266218,486.540636,568.756741,601.030139,490.533238,532.629127,465.868093,...,1611.271813,1595.865835,1422.670917,1649.916289,1720.492406,1535.745654,1676.021383,1733.720646,1771.601373,1782.010427
196,45.862461,40.498157,48.977803,52.061466,44.722742,51.750869,53.795578,50.981634,61.892844,46.831368,...,127.605578,158.173346,130.771697,150.124994,153.993747,159.611658,194.757898,182.852351,160.121359,126.722120
197,245.719368,269.463117,319.899939,271.165103,230.412589,254.555237,234.165070,193.319307,263.085233,263.443465,...,833.459527,823.854852,673.738770,738.443700,670.314513,605.237856,827.848974,948.746432,859.927161,854.913838
198,257.328935,243.115908,255.752344,244.755616,268.864377,266.661513,253.573579,230.539337,282.934191,244.618891,...,666.330941,743.617450,786.173860,773.563005,725.872777,721.765128,890.307590,878.266388,711.885999,748.018978
199,203.798739,220.701836,203.428732,187.798497,154.364760,143.700026,111.743513,119.484109,100.103383,199.498649,...,530.008274,570.570112,451.370839,416.861896,319.873917,374.076999,314.994810,725.340694,644.042701,561.086401
200,136.473163,123.335619,141.272720,135.203707,133.767656,123.570227,144.636194,124.505903,147.997700,171.568878,...,776.922462,762.667004,759.103139,730.948610,776.922462,762.667004,755.539275,759.103139,794.741784,776.922462

In [342]:
Units=[]
for i in range(0,len(sliced_annex4.columns)):
#    Units.append(sliced_annex4[i].values)
#    time.append(i)
#    time=list(i)
    Units.append(sliced_annex4.iat[0,i])

In [343]:
#time=(sliced_annex4.columns.values)
#timstr=[]
#for val in range(0,len(time)):
#    timstr.append(str(time.item(val)))

In [344]:
try:
    with mysql.connector.connect(
        host='localhost',
        user='root',
        password='2002LhrcanttGBHS2005'
    ) as connection:
        print('successfully connected')
except Exception as e:
    print('not')

successfully connected

In [345]:
connection.reconnect()
cursor=connection.cursor()

In [346]:
cursor.execute("CREATE DATABASE IF NOT EXISTS PPP_FY2020_2030_Annex4")

In [347]:
cursor.execute("USE PPP_FY2020_2030_Annex4")

In [348]:
cursor.execute("DROP TABLE IF EXISTS Units_Delivered_to_DISCOs_and_KESC")
cursor.execute("DROP TABLE IF EXISTS DISCO_Wise_Energy")
cursor.execute("DROP TABLE IF EXISTS Energy_Purchase_Price")
cursor.execute("DROP TABLE IF EXISTS DISCO_Max_Demand")
cursor.execute("DROP TABLE IF EXISTS Energy_Fuel_Component")
cursor.execute("DROP TABLE IF EXISTS Energy_OM_Component")
cursor.execute("DROP TABLE IF EXISTS Capacity_Purchase_Price")
cursor.execute("DROP TABLE IF EXISTS UoSC_and_MOF")
cursor.execute("DROP TABLE IF EXISTS Energy_Fuel_Charges_MlnRs")
cursor.execute("DROP TABLE IF EXISTS Energy_OM_Charges_MlnRs")
cursor.execute("DROP TABLE IF EXISTS Capacity_Purchase_Price_MlnRs")
cursor.execute("DROP TABLE IF EXISTS UoSC_and_MOF_MlnRs")

In [349]:
cursor.execute("CREATE TABLE IF NOT EXISTS Units_Delivered_to_DISCOs_and_KESC (Year VARCHAR(255),Month VARCHAR(255), GWh DECIMAL(10,4))")
cursor.execute("CREATE TABLE IF NOT EXISTS DISCO_Wise_Energy (DISCO VARCHAR(255),Date VARCHAR(255), GWh DECIMAL(10,4))")
cursor.execute("CREATE TABLE IF NOT EXISTS Energy_Purchase_Price (Date VARCHAR(255),Fuel_Cost_Component DECIMAL(10,4), Variable_OM DECIMAL(10,4))")
cursor.execute("CREATE TABLE IF NOT EXISTS DISCO_Max_Demand (DISCO VARCHAR(255),Date VARCHAR(255), MW DECIMAL(10,4))")
cursor.execute("CREATE TABLE IF NOT EXISTS Energy_Fuel_Component (Date VARCHAR(255),DISCO VARCHAR(255), FCC DECIMAL(10,4))")
cursor.execute("CREATE TABLE IF NOT EXISTS Energy_OM_Component (Date VARCHAR(255),DISCO VARCHAR(255), Variable_OM DECIMAL(10,4))")
cursor.execute("CREATE TABLE IF NOT EXISTS Capacity_Purchase_Price (Date VARCHAR(255),DISCO VARCHAR(255), CPP DECIMAL(10,4))")
cursor.execute("CREATE TABLE IF NOT EXISTS UoSC_and_MOF (Date VARCHAR(255),DISCO VARCHAR(255), UoSC_and_MOF DECIMAL(10,4))")
cursor.execute("CREATE TABLE IF NOT EXISTS Energy_Fuel_Charges_MlnRs (Date VARCHAR(255),DISCO VARCHAR(255), Energy_Fuel_Charges_MlnRs DECIMAL(10,4))")
cursor.execute("CREATE TABLE IF NOT EXISTS Energy_OM_Charges_MlnRs (Date VARCHAR(255),DISCO VARCHAR(255), Energy_OM_Charges_MlnRs DECIMAL(10,4))")
cursor.execute("CREATE TABLE IF NOT EXISTS Capacity_Purchase_Price_MlnRs (Date VARCHAR(255),DISCO VARCHAR(255), Capacity_Purchase_Price_MlnRs DECIMAL(10,4))")
cursor.execute("CREATE TABLE IF NOT EXISTS UoSC_and_MOF_MlnRs (Date VARCHAR(255),DISCO VARCHAR(255), UoSC_and_MOF_MlnRs DECIMAL(10,4))")

In [350]:
def insert_varibles_into_table(Year,Month,GWh):
    try:
        connection = mysql.connector.connect(host='localhost',
                                             database='PPP_FY2020_2030_Annex4',
                                             user='root',
                                             password='2002LhrcanttGBHS2005')
        cursor = connection.cursor()
        mySql_insert_query = """INSERT INTO units_delivered_to_discos_and_kesc(Year,Month,GWh) 
                                VALUES (%s,%s,%s) """

        record = (Year,Month,GWh)
        cursor.execute(mySql_insert_query, record)
        connection.commit()
        print("Record inserted successfully into the table")

    except mysql.connector.Error as error:
        print("Failed to insert into MySQL table {}".format(error))

    finally:
        if connection.is_connected():
            cursor.close()
            connection.close()
            print("MySQL connection is closed")

#for val in range(0,len(time_month)):
 #   insert_varibles_into_table(time_year[val], time_mnyr[val], Units[val])
    #insert_varibles_into_table(2021, 'Sep', 24996)

In [351]:
def insert_varibles_into_discowise_enrgy(Disco,Date, GWh):
    try:
        connection = mysql.connector.connect(host='localhost',
                                             database='PPP_FY2020_2030_Annex4',
                                             user='root',
                                             password='2002LhrcanttGBHS2005')
        cursor = connection.cursor()
        mySql_insert_query = """INSERT INTO Disco_Wise_Energy (Disco,Date, GWh) 
                                VALUES (%s,%s,%s) """

        record = (Disco,Date, GWh)
        cursor.execute(mySql_insert_query, record)
        connection.commit()
        print("Record inserted successfully into the table")

    except mysql.connector.Error as error:
        print("Failed to insert into MySQL table {}".format(error))

    finally:
        if connection.is_connected():
            cursor.close()
            connection.close()
            print("MySQL connection is closed")

#for dsco in range(0,len(sliced_discoenrgy_trnctd1.index)):
#    for col in range(0,132):
#        insert_varibles_into_discowise_enrgy(sliced_discoenrgy_trnctd.iat[dsco,0],tm_dscoenrgy_mnyr[col],sliced_discoenrgy_trnctd2.iat[dsco,col])

In [352]:
"""
for dsco in range(0,len(sliced_discoenrgy_trnctd1.index)):
    for col in range(0,132):
        print(sliced_discoenrgy_trnctd.iat[dsco,0],tm_dscoenrgy_mnyr[col],sliced_discoenrgy_trnctd2.iat[dsco,col])
        #print(dsco,col,valtm)
"""

'\nfor dsco in range(0,len(sliced_discoenrgy_trnctd1.index)):\n    for col in range(0,132):\n        print(sliced_discoenrgy_trnctd.iat[dsco,0],tm_dscoenrgy_mnyr[col],sliced_discoenrgy_trnctd2.iat[dsco,col])\n        #print(dsco,col,valtm)\n'

In [353]:
def insert_varibles_into_EPP(Date,Fuel_Cost_Component,Variable_OM):
    try:
        connection = mysql.connector.connect(host='localhost',
                                             database='PPP_FY2020_2030_Annex4',
                                             user='root',
                                             password='2002LhrcanttGBHS2005')
        cursor = connection.cursor()
        mySql_insert_query = """INSERT INTO Energy_Purchase_Price(Date,Fuel_Cost_Component,Variable_OM) 
                                VALUES (%s,%s,%s) """

        record = (Date,Fuel_Cost_Component,Variable_OM)
        cursor.execute(mySql_insert_query, record)
        connection.commit()
        print("Record inserted successfully into the table")

    except mysql.connector.Error as error:
        print("Failed to insert into MySQL table {}".format(error))

    finally:
        if connection.is_connected():
            cursor.close()
            connection.close()
            print("MySQL connection is closed")

#for col in range(0,132):
#    insert_varibles_into_EPP(time_mnyr[col],EPP_filled1.iat[0,col],EPP_filled1.iat[1,col])

In [354]:
#for col in range(0,132):
#    print(time_mnyr[col],EPP_filled1.iat[0,col],EPP_filled1.iat[1,col])

In [355]:
def insert_varibles_into_disco_max_demand(Disco,Date,MW):
    try:
        connection = mysql.connector.connect(host='localhost',
                                             database='PPP_FY2020_2030_Annex4',
                                             user='root',
                                             password='2002LhrcanttGBHS2005')
        cursor = connection.cursor()
        mySql_insert_query = """INSERT INTO DISCO_Max_Demand (Disco,Date, MW) 
                                VALUES (%s,%s,%s) """

        record = (Disco,Date, MW)
        cursor.execute(mySql_insert_query, record)
        connection.commit()
        print("Record inserted successfully into the table")

    except mysql.connector.Error as error:
        print("Failed to insert into MySQL table {}".format(error))

    finally:
        if connection.is_connected():
            cursor.close()
            connection.close()
            print("MySQL connection is closed")

#for dsco in range(0,len(sliced_discoenrgy_trnctd1.index)):
#    for col in range(0,132):
#        insert_varibles_into_disco_max_demand(disco_max_dmnd_trnctd.iat[dsco,0],tm_dscoenrgy_mnyr[col],disco_max_dmnd_trnctd1.iat[dsco,col])

In [356]:
"""
for dsco in range(0,len(sliced_discoenrgy_trnctd1.index)):
    for col in range(0,132):
        print(disco_max_dmnd_trnctd.iat[dsco,0],tm_dscoenrgy_mnyr[col],disco_max_dmnd_trnctd1.iat[dsco,col])
"""

'\nfor dsco in range(0,len(sliced_discoenrgy_trnctd1.index)):\n    for col in range(0,132):\n        print(disco_max_dmnd_trnctd.iat[dsco,0],tm_dscoenrgy_mnyr[col],disco_max_dmnd_trnctd1.iat[dsco,col])\n'

In [357]:
"""
time_col=[]
for n in range(0,13):
    given_date = 'Jul-2019'
    date_format = '%b-%Y'
    dtObj = datetime.datetime.strptime(given_date, date_format)
    future_date = (dtObj + relativedelta(months=n))
    #future_date_str = future_date.strftime(date_format)
    print(future_date_str)
"""

"\ntime_col=[]\nfor n in range(0,13):\n    given_date = 'Jul-2019'\n    date_format = '%b-%Y'\n    dtObj = datetime.datetime.strptime(given_date, date_format)\n    future_date = (dtObj + relativedelta(months=n))\n    #future_date_str = future_date.strftime(date_format)\n    print(future_date_str)\n"

In [358]:
def insert_varibles_into_energy_fuel_component(Date,Disco,FCC):
    try:
        connection = mysql.connector.connect(host='localhost',
                                             database='PPP_FY2020_2030_Annex4',
                                             user='root',
                                             password='2002LhrcanttGBHS2005')
        cursor = connection.cursor()
        mySql_insert_query = """INSERT INTO Energy_Fuel_Component(Date,Disco,FCC) 
                                VALUES (%s,%s,%s) """

        record = (Date,Disco,FCC)
        cursor.execute(mySql_insert_query, record)
        connection.commit()
        print("Record inserted successfully into the table")

    except mysql.connector.Error as error:
        print("Failed to insert into MySQL table {}".format(error))

    finally:
        if connection.is_connected():
            cursor.close()
            connection.close()
            print("MySQL connection is closed")

#for dsco in range(0,len(sliced_discoenrgy_trnctd1.index)):
#    for col in range(0,132):
#        insert_varibles_into_energy_fuel_component(tm_dscoenrgy_mnyr[col],sliced_discoenrgy_trnctd.iat[dsco,0],EPP_filled1.iat[0,col])

In [359]:
"""
for dsco in range(0,len(sliced_discoenrgy_trnctd1.index)):
    for col in range(0,132):
        print(tm_dscoenrgy_mnyr[col],sliced_discoenrgy_trnctd.iat[dsco,0],EPP_filled1.iat[0,col])
"""

'\nfor dsco in range(0,len(sliced_discoenrgy_trnctd1.index)):\n    for col in range(0,132):\n        print(tm_dscoenrgy_mnyr[col],sliced_discoenrgy_trnctd.iat[dsco,0],EPP_filled1.iat[0,col])\n'

In [360]:
def insert_varibles_into_energy_OM_component(Date,Disco,Variable_OM):
    try:
        connection = mysql.connector.connect(host='localhost',
                                             database='PPP_FY2020_2030_Annex4',
                                             user='root',
                                             password='2002LhrcanttGBHS2005')
        cursor = connection.cursor()
        mySql_insert_query = """INSERT INTO Energy_OM_Component(Date,Disco,Variable_OM) 
                                VALUES (%s,%s,%s) """

        record = (Date,Disco,Variable_OM)
        cursor.execute(mySql_insert_query, record)
        connection.commit()
        print("Record inserted successfully into the table")

    except mysql.connector.Error as error:
        print("Failed to insert into MySQL table {}".format(error))

    finally:
        if connection.is_connected():
            cursor.close()
            connection.close()
            print("MySQL connection is closed")

#for dsco in range(0,len(sliced_discoenrgy_trnctd1.index)):
 #   for col in range(0,132):
   #     insert_varibles_into_energy_OM_component(tm_dscoenrgy_mnyr[col],sliced_discoenrgy_trnctd.iat[dsco,0],EPP_filled1.iat[1,col])

In [361]:
for dsco in range(0,len(sliced_discoenrgy_trnctd1.index)):
    for col in range(0,132):
        print(tm_dscoenrgy_mnyr[col],sliced_discoenrgy_trnctd.iat[dsco,0],EPP_filled1.iat[1,col])

01.07.2019 IESCO 66.89737592201173
01.08.2019 IESCO 63.09022384021186
01.09.2019 IESCO 67.32078741831165
01.10.2019 IESCO 75.40933154178518
01.11.2019 IESCO 70.10163980900761
01.12.2019 IESCO 78.6077702076025
01.01.2020 IESCO 79.53278829864405
01.02.2020 IESCO 59.93126465557854
01.03.2020 IESCO 66.63451949471133
01.04.2020 IESCO 80.10787054163453
01.05.2020 IESCO 74.030796690896
01.06.2020 IESCO 75.1332566971787
01.07.2020 IESCO 0.0
01.08.2020 IESCO 0.0
01.09.2020 IESCO 0.0
01.10.2020 IESCO 0.0
01.11.2020 IESCO 0.0
01.12.2020 IESCO 0.0
01.01.2021 IESCO 0.5175475791431211
01.02.2021 IESCO 0.5193410407241801
01.03.2021 IESCO 0.5003123266729009
01.04.2021 IESCO 0.5084993927172635
01.05.2021 IESCO 0.4839922775538729
01.06.2021 IESCO 0.5395476600697715
01.07.2021 IESCO 0.3995727800816734
01.08.2021 IESCO 0.4013265524883353
01.09.2021 IESCO 0.3655568507178971
01.10.2021 IESCO 0.40256162730401435
01.11.2021 IESCO 0.39586609714710586
01.12.2021 IESCO 0.4369817065635638
01.01.2022 IESCO 0.4620322506115928
01.02.2022 IESCO 0.43158853196785296
01.03.2022 IESCO 0.44860217559431115
01.04.2022 IESCO 0.46978091897086366
01.05.2022 IESCO 0.45048012270018367
01.06.2022 IESCO 0.49038686767662615
01.07.2022 IESCO 0.46293616360716894
01.08.2022 IESCO 0.43820056295346405
01.09.2022 IESCO 0.49517983749119576
01.10.2022 IESCO 0.5437653116384902
01.11.2022 IESCO 0.5951804547299941
01.12.2022 IESCO 0.6362910662625728
01.01.2023 IESCO 0.6021761567802826
01.02.2023 IESCO 0.5224141384386958
01.03.2023 IESCO 0.574068857830564
01.04.2023 IESCO 0.5767304113974765
01.05.2023 IESCO 0.5129846400826443
01.06.2023 IESCO 0.5292555014085689
01.07.2023 IESCO 0.5121586588649255
01.08.2023 IESCO 0.49622043943601923
01.09.2023 IESCO 0.6138558199838738
01.10.2023 IESCO 0.553010397940735
01.11.2023 IESCO 0.5243289899290073
01.12.2023 IESCO 0.6160760867180755
01.01.2024 IESCO 0.6839425561560544
01.02.2024 IESCO 0.5730974627129467
01.03.2024 IESCO 0.6140264352869881
01.04.2024 IESCO 1.2161904547252527
01.05.2024 IESCO 1.56588015257566
01.06.2024 IESCO 1.5012989392360951
01.07.2024 IESCO 0.5650561453812144
01.08.2024 IESCO 0.5738014770352418
01.09.2024 IESCO 0.5638443425247035
01.10.2024 IESCO 0.5337961684429993
01.11.2024 IESCO 0.5048596421648897
01.12.2024 IESCO 0.5539841827274812
01.01.2025 IESCO 0.6083371755730057
01.02.2025 IESCO 0.5755525358235877
01.03.2025 IESCO 0.5982905296356875
01.04.2025 IESCO 0.5501100096854188
01.05.2025 IESCO 0.5407130951731364
01.06.2025 IESCO 0.6307693693995725
01.07.2025 IESCO 0.5935548916495429
01.08.2025 IESCO 0.5734514466232209
01.09.2025 IESCO 0.5463676654052185
01.10.2025 IESCO 0.5061617560963996
01.11.2025 IESCO 0.3520603160262827
01.12.2025 IESCO 0.5357524398344896
01.01.2026 IESCO 0.6077737693122609
01.02.2026 IESCO 0.5287640737946755
01.03.2026 IESCO 0.5870043599111582
01.04.2026 IESCO 0.6044365110178863
01.05.2026 IESCO 0.5608566680115152
01.06.2026 IESCO 0.5959374928366226
01.07.2026 IESCO 0.6656090537336588
01.08.2026 IESCO 0.6416038156746715
01.09.2026 IESCO 0.5898998696342701
01.10.2026 IESCO 0.6884371878959751
01.11.2026 IESCO 0.6472491590218916
01.12.2026 IESCO 0.7250263874702088
01.01.2027 IESCO 0.7520890647511793
01.02.2027 IESCO 0.6323771883721322
01.03.2027 IESCO 0.6861088790160847
01.04.2027 IESCO 0.6812310762125631
01.05.2027 IESCO 0.6782144663546404
01.06.2027 IESCO 0.6877531837321627
01.07.2027 IESCO 0.6838350938110532
01.08.2027 IESCO 0.7000147732761852
01.09.2027 IESCO 0.6670894278079584
01.10.2027 IESCO 0.6681834725874664
01.11.2027 IESCO 0.4766385390841345
01.12.2027 IESCO 0.6305973794861511
01.01.2028 IESCO 0.8120700653928836
01.02.2028 IESCO 0.7584826743724796
01.03.2028 IESCO 0.7531815079248415
01.04.2028 IESCO 0.7396876583726698
01.05.2028 IESCO 0.5987560978764619
01.06.2028 IESCO 0.744107816630907
01.07.2028 IESCO 0.9353390724612609
01.08.2028 IESCO 0.6525741258200266
01.09.2028 IESCO 0.6854347072664684
01.10.2028 IESCO 0.6746603791567594
01.11.2028 IESCO 0.5563110244894174
01.12.2028 IESCO 0.7117236379241982
01.01.2029 IESCO 0.799815635711661
01.02.2029 IESCO 0.6917673354325349
01.03.2029 IESCO 0.7515287242200086
01.04.2029 IESCO 0.717963509831351
01.05.2029 IESCO 0.7323409305169706
01.06.2029 IESCO 0.7800707539801012
01.07.2029 IESCO 0.8553709590499513
01.08.2029 IESCO 0.8385755304265686
01.09.2029 IESCO 0.7874032081194674
01.10.2029 IESCO 0.7222485205746231
01.11.2029 IESCO 0.5381217169913204
01.12.2029 IESCO 0.7410946869724053
01.01.2030 IESCO 0.8122957171505201
01.02.2030 IESCO 0.7371791269782294
01.03.2030 IESCO 0.7126341046416377
01.04.2030 IESCO 0.7365249579324471
01.05.2030 IESCO 0.7729295921886167
01.06.2030 IESCO 0.839686259297059
01.07.2019 LESCO 66.89737592201173
01.08.2019 LESCO 63.09022384021186
01.09.2019 LESCO 67.32078741831165
01.10.2019 LESCO 75.40933154178518
01.11.2019 LESCO 70.10163980900761
01.12.2019 LESCO 78.6077702076025
01.01.2020 LESCO 79.53278829864405
01.02.2020 LESCO 59.93126465557854
01.03.2020 LESCO 66.63451949471133
01.04.2020 LESCO 80.10787054163453
01.05.2020 LESCO 74.030796690896
01.06.2020 LESCO 75.1332566971787
01.07.2020 LESCO 0.0
01.08.2020 LESCO 0.0
01.09.2020 LESCO 0.0
01.10.2020 LESCO 0.0
01.11.2020 LESCO 0.0
01.12.2020 LESCO 0.0
01.01.2021 LESCO 0.5175475791431211
01.02.2021 LESCO 0.5193410407241801
01.03.2021 LESCO 0.5003123266729009
01.04.2021 LESCO 0.5084993927172635
01.05.2021 LESCO 0.4839922775538729
01.06.2021 LESCO 0.5395476600697715
01.07.2021 LESCO 0.3995727800816734
01.08.2021 LESCO 0.4013265524883353
01.09.2021 LESCO 0.3655568507178971
01.10.2021 LESCO 0.40256162730401435
01.11.2021 LESCO 0.39586609714710586
01.12.2021 LESCO 0.4369817065635638
01.01.2022 LESCO 0.4620322506115928
01.02.2022 LESCO 0.43158853196785296
01.03.2022 LESCO 0.44860217559431115
01.04.2022 LESCO 0.46978091897086366
01.05.2022 LESCO 0.45048012270018367
01.06.2022 LESCO 0.49038686767662615
01.07.2022 LESCO 0.46293616360716894
01.08.2022 LESCO 0.43820056295346405
01.09.2022 LESCO 0.49517983749119576
01.10.2022 LESCO 0.5437653116384902
01.11.2022 LESCO 0.5951804547299941
01.12.2022 LESCO 0.6362910662625728
01.01.2023 LESCO 0.6021761567802826
01.02.2023 LESCO 0.5224141384386958
01.03.2023 LESCO 0.574068857830564
01.04.2023 LESCO 0.5767304113974765
01.05.2023 LESCO 0.5129846400826443
01.06.2023 LESCO 0.5292555014085689
01.07.2023 LESCO 0.5121586588649255
01.08.2023 LESCO 0.49622043943601923
01.09.2023 LESCO 0.6138558199838738
01.10.2023 LESCO 0.553010397940735
01.11.2023 LESCO 0.5243289899290073
01.12.2023 LESCO 0.6160760867180755
01.01.2024 LESCO 0.6839425561560544
01.02.2024 LESCO 0.5730974627129467
01.03.2024 LESCO 0.6140264352869881
01.04.2024 LESCO 1.2161904547252527
01.05.2024 LESCO 1.56588015257566
01.06.2024 LESCO 1.5012989392360951
01.07.2024 LESCO 0.5650561453812144
01.08.2024 LESCO 0.5738014770352418
01.09.2024 LESCO 0.5638443425247035
01.10.2024 LESCO 0.5337961684429993
01.11.2024 LESCO 0.5048596421648897
01.12.2024 LESCO 0.5539841827274812
01.01.2025 LESCO 0.6083371755730057
01.02.2025 LESCO 0.5755525358235877
01.03.2025 LESCO 0.5982905296356875
01.04.2025 LESCO 0.5501100096854188
01.05.2025 LESCO 0.5407130951731364
01.06.2025 LESCO 0.6307693693995725
01.07.2025 LESCO 0.5935548916495429
01.08.2025 LESCO 0.5734514466232209
01.09.2025 LESCO 0.5463676654052185
01.10.2025 LESCO 0.5061617560963996
01.11.2025 LESCO 0.3520603160262827
01.12.2025 LESCO 0.5357524398344896
01.01.2026 LESCO 0.6077737693122609
01.02.2026 LESCO 0.5287640737946755
01.03.2026 LESCO 0.5870043599111582
01.04.2026 LESCO 0.6044365110178863
01.05.2026 LESCO 0.5608566680115152
01.06.2026 LESCO 0.5959374928366226
01.07.2026 LESCO 0.6656090537336588
01.08.2026 LESCO 0.6416038156746715
01.09.2026 LESCO 0.5898998696342701
01.10.2026 LESCO 0.6884371878959751
01.11.2026 LESCO 0.6472491590218916
01.12.2026 LESCO 0.7250263874702088
01.01.2027 LESCO 0.7520890647511793
01.02.2027 LESCO 0.6323771883721322
01.03.2027 LESCO 0.6861088790160847
01.04.2027 LESCO 0.6812310762125631
01.05.2027 LESCO 0.6782144663546404
01.06.2027 LESCO 0.6877531837321627
01.07.2027 LESCO 0.6838350938110532
01.08.2027 LESCO 0.7000147732761852
01.09.2027 LESCO 0.6670894278079584
01.10.2027 LESCO 0.6681834725874664
01.11.2027 LESCO 0.4766385390841345
01.12.2027 LESCO 0.6305973794861511
01.01.2028 LESCO 0.8120700653928836
01.02.2028 LESCO 0.7584826743724796
01.03.2028 LESCO 0.7531815079248415
01.04.2028 LESCO 0.7396876583726698
01.05.2028 LESCO 0.5987560978764619
01.06.2028 LESCO 0.744107816630907
01.07.2028 LESCO 0.9353390724612609
01.08.2028 LESCO 0.6525741258200266
01.09.2028 LESCO 0.6854347072664684
01.10.2028 LESCO 0.6746603791567594
01.11.2028 LESCO 0.5563110244894174
01.12.2028 LESCO 0.7117236379241982
01.01.2029 LESCO 0.799815635711661
01.02.2029 LESCO 0.6917673354325349
01.03.2029 LESCO 0.7515287242200086
01.04.2029 LESCO 0.717963509831351
01.05.2029 LESCO 0.7323409305169706
01.06.2029 LESCO 0.7800707539801012
01.07.2029 LESCO 0.8553709590499513
01.08.2029 LESCO 0.8385755304265686
01.09.2029 LESCO 0.7874032081194674
01.10.2029 LESCO 0.7222485205746231
01.11.2029 LESCO 0.5381217169913204
01.12.2029 LESCO 0.7410946869724053
01.01.2030 LESCO 0.8122957171505201
01.02.2030 LESCO 0.7371791269782294
01.03.2030 LESCO 0.7126341046416377
01.04.2030 LESCO 0.7365249579324471
01.05.2030 LESCO 0.7729295921886167
01.06.2030 LESCO 0.839686259297059
01.07.2019 GEPCO 66.89737592201173
01.08.2019 GEPCO 63.09022384021186
01.09.2019 GEPCO 67.32078741831165
01.10.2019 GEPCO 75.40933154178518
01.11.2019 GEPCO 70.10163980900761
01.12.2019 GEPCO 78.6077702076025
01.01.2020 GEPCO 79.53278829864405
01.02.2020 GEPCO 59.93126465557854
01.03.2020 GEPCO 66.63451949471133
01.04.2020 GEPCO 80.10787054163453
01.05.2020 GEPCO 74.030796690896
01.06.2020 GEPCO 75.1332566971787
01.07.2020 GEPCO 0.0
01.08.2020 GEPCO 0.0
01.09.2020 GEPCO 0.0
01.10.2020 GEPCO 0.0
01.11.2020 GEPCO 0.0
01.12.2020 GEPCO 0.0
01.01.2021 GEPCO 0.5175475791431211
01.02.2021 GEPCO 0.5193410407241801
01.03.2021 GEPCO 0.5003123266729009
01.04.2021 GEPCO 0.5084993927172635
01.05.2021 GEPCO 0.4839922775538729
01.06.2021 GEPCO 0.5395476600697715
01.07.2021 GEPCO 0.3995727800816734
01.08.2021 GEPCO 0.4013265524883353
01.09.2021 GEPCO 0.3655568507178971
01.10.2021 GEPCO 0.40256162730401435
01.11.2021 GEPCO 0.39586609714710586
01.12.2021 GEPCO 0.4369817065635638
01.01.2022 GEPCO 0.4620322506115928
01.02.2022 GEPCO 0.43158853196785296
01.03.2022 GEPCO 0.44860217559431115
01.04.2022 GEPCO 0.46978091897086366
01.05.2022 GEPCO 0.45048012270018367
01.06.2022 GEPCO 0.49038686767662615
01.07.2022 GEPCO 0.46293616360716894
01.08.2022 GEPCO 0.43820056295346405
01.09.2022 GEPCO 0.49517983749119576
01.10.2022 GEPCO 0.5437653116384902
01.11.2022 GEPCO 0.5951804547299941
01.12.2022 GEPCO 0.6362910662625728
01.01.2023 GEPCO 0.6021761567802826
01.02.2023 GEPCO 0.5224141384386958
01.03.2023 GEPCO 0.574068857830564
01.04.2023 GEPCO 0.5767304113974765
01.05.2023 GEPCO 0.5129846400826443
01.06.2023 GEPCO 0.5292555014085689
01.07.2023 GEPCO 0.5121586588649255
01.08.2023 GEPCO 0.49622043943601923
01.09.2023 GEPCO 0.6138558199838738
01.10.2023 GEPCO 0.553010397940735
01.11.2023 GEPCO 0.5243289899290073
01.12.2023 GEPCO 0.6160760867180755
01.01.2024 GEPCO 0.6839425561560544
01.02.2024 GEPCO 0.5730974627129467
01.03.2024 GEPCO 0.6140264352869881
01.04.2024 GEPCO 1.2161904547252527
01.05.2024 GEPCO 1.56588015257566
01.06.2024 GEPCO 1.5012989392360951
01.07.2024 GEPCO 0.5650561453812144
01.08.2024 GEPCO 0.5738014770352418
01.09.2024 GEPCO 0.5638443425247035
01.10.2024 GEPCO 0.5337961684429993
01.11.2024 GEPCO 0.5048596421648897
01.12.2024 GEPCO 0.5539841827274812
01.01.2025 GEPCO 0.6083371755730057
01.02.2025 GEPCO 0.5755525358235877
01.03.2025 GEPCO 0.5982905296356875
01.04.2025 GEPCO 0.5501100096854188
01.05.2025 GEPCO 0.5407130951731364
01.06.2025 GEPCO 0.6307693693995725
01.07.2025 GEPCO 0.5935548916495429
01.08.2025 GEPCO 0.5734514466232209
01.09.2025 GEPCO 0.5463676654052185
01.10.2025 GEPCO 0.5061617560963996
01.11.2025 GEPCO 0.3520603160262827
01.12.2025 GEPCO 0.5357524398344896
01.01.2026 GEPCO 0.6077737693122609
01.02.2026 GEPCO 0.5287640737946755
01.03.2026 GEPCO 0.5870043599111582
01.04.2026 GEPCO 0.6044365110178863
01.05.2026 GEPCO 0.5608566680115152
01.06.2026 GEPCO 0.5959374928366226
01.07.2026 GEPCO 0.6656090537336588
01.08.2026 GEPCO 0.6416038156746715
01.09.2026 GEPCO 0.5898998696342701
01.10.2026 GEPCO 0.6884371878959751
01.11.2026 GEPCO 0.6472491590218916
01.12.2026 GEPCO 0.7250263874702088
01.01.2027 GEPCO 0.7520890647511793
01.02.2027 GEPCO 0.6323771883721322
01.03.2027 GEPCO 0.6861088790160847
01.04.2027 GEPCO 0.6812310762125631
01.05.2027 GEPCO 0.6782144663546404
01.06.2027 GEPCO 0.6877531837321627
01.07.2027 GEPCO 0.6838350938110532
01.08.2027 GEPCO 0.7000147732761852
01.09.2027 GEPCO 0.6670894278079584
01.10.2027 GEPCO 0.6681834725874664
01.11.2027 GEPCO 0.4766385390841345
01.12.2027 GEPCO 0.6305973794861511
01.01.2028 GEPCO 0.8120700653928836
01.02.2028 GEPCO 0.7584826743724796
01.03.2028 GEPCO 0.7531815079248415
01.04.2028 GEPCO 0.7396876583726698
01.05.2028 GEPCO 0.5987560978764619
01.06.2028 GEPCO 0.744107816630907
01.07.2028 GEPCO 0.9353390724612609
01.08.2028 GEPCO 0.6525741258200266
01.09.2028 GEPCO 0.6854347072664684
01.10.2028 GEPCO 0.6746603791567594
01.11.2028 GEPCO 0.5563110244894174
01.12.2028 GEPCO 0.7117236379241982
01.01.2029 GEPCO 0.799815635711661
01.02.2029 GEPCO 0.6917673354325349
01.03.2029 GEPCO 0.7515287242200086
01.04.2029 GEPCO 0.717963509831351
01.05.2029 GEPCO 0.7323409305169706
01.06.2029 GEPCO 0.7800707539801012
01.07.2029 GEPCO 0.8553709590499513
01.08.2029 GEPCO 0.8385755304265686
01.09.2029 GEPCO 0.7874032081194674
01.10.2029 GEPCO 0.7222485205746231
01.11.2029 GEPCO 0.5381217169913204
01.12.2029 GEPCO 0.7410946869724053
01.01.2030 GEPCO 0.8122957171505201
01.02.2030 GEPCO 0.7371791269782294
01.03.2030 GEPCO 0.7126341046416377
01.04.2030 GEPCO 0.7365249579324471
01.05.2030 GEPCO 0.7729295921886167
01.06.2030 GEPCO 0.839686259297059
01.07.2019 FESCO 66.89737592201173
01.08.2019 FESCO 63.09022384021186
01.09.2019 FESCO 67.32078741831165
01.10.2019 FESCO 75.40933154178518
01.11.2019 FESCO 70.10163980900761
01.12.2019 FESCO 78.6077702076025
01.01.2020 FESCO 79.53278829864405
01.02.2020 FESCO 59.93126465557854
01.03.2020 FESCO 66.63451949471133
01.04.2020 FESCO 80.10787054163453
01.05.2020 FESCO 74.030796690896
01.06.2020 FESCO 75.1332566971787
01.07.2020 FESCO 0.0
01.08.2020 FESCO 0.0
01.09.2020 FESCO 0.0
01.10.2020 FESCO 0.0
01.11.2020 FESCO 0.0
01.12.2020 FESCO 0.0
01.01.2021 FESCO 0.5175475791431211
01.02.2021 FESCO 0.5193410407241801
01.03.2021 FESCO 0.5003123266729009
01.04.2021 FESCO 0.5084993927172635
01.05.2021 FESCO 0.4839922775538729
01.06.2021 FESCO 0.5395476600697715
01.07.2021 FESCO 0.3995727800816734
01.08.2021 FESCO 0.4013265524883353
01.09.2021 FESCO 0.3655568507178971
01.10.2021 FESCO 0.40256162730401435
01.11.2021 FESCO 0.39586609714710586
01.12.2021 FESCO 0.4369817065635638
01.01.2022 FESCO 0.4620322506115928
01.02.2022 FESCO 0.43158853196785296
01.03.2022 FESCO 0.44860217559431115
01.04.2022 FESCO 0.46978091897086366
01.05.2022 FESCO 0.45048012270018367
01.06.2022 FESCO 0.49038686767662615
01.07.2022 FESCO 0.46293616360716894
01.08.2022 FESCO 0.43820056295346405
01.09.2022 FESCO 0.49517983749119576
01.10.2022 FESCO 0.5437653116384902
01.11.2022 FESCO 0.5951804547299941
01.12.2022 FESCO 0.6362910662625728
01.01.2023 FESCO 0.6021761567802826
01.02.2023 FESCO 0.5224141384386958
01.03.2023 FESCO 0.574068857830564
01.04.2023 FESCO 0.5767304113974765
01.05.2023 FESCO 0.5129846400826443
01.06.2023 FESCO 0.5292555014085689
01.07.2023 FESCO 0.5121586588649255
01.08.2023 FESCO 0.49622043943601923
01.09.2023 FESCO 0.6138558199838738
01.10.2023 FESCO 0.553010397940735
01.11.2023 FESCO 0.5243289899290073
01.12.2023 FESCO 0.6160760867180755
01.01.2024 FESCO 0.6839425561560544
01.02.2024 FESCO 0.5730974627129467
01.03.2024 FESCO 0.6140264352869881
01.04.2024 FESCO 1.2161904547252527
01.05.2024 FESCO 1.56588015257566
01.06.2024 FESCO 1.5012989392360951
01.07.2024 FESCO 0.5650561453812144
01.08.2024 FESCO 0.5738014770352418
01.09.2024 FESCO 0.5638443425247035
01.10.2024 FESCO 0.5337961684429993
01.11.2024 FESCO 0.5048596421648897
01.12.2024 FESCO 0.5539841827274812
01.01.2025 FESCO 0.6083371755730057
01.02.2025 FESCO 0.5755525358235877
01.03.2025 FESCO 0.5982905296356875
01.04.2025 FESCO 0.5501100096854188
01.05.2025 FESCO 0.5407130951731364
01.06.2025 FESCO 0.6307693693995725
01.07.2025 FESCO 0.5935548916495429
01.08.2025 FESCO 0.5734514466232209
01.09.2025 FESCO 0.5463676654052185
01.10.2025 FESCO 0.5061617560963996
01.11.2025 FESCO 0.3520603160262827
01.12.2025 FESCO 0.5357524398344896
01.01.2026 FESCO 0.6077737693122609
01.02.2026 FESCO 0.5287640737946755
01.03.2026 FESCO 0.5870043599111582
01.04.2026 FESCO 0.6044365110178863
01.05.2026 FESCO 0.5608566680115152
01.06.2026 FESCO 0.5959374928366226
01.07.2026 FESCO 0.6656090537336588
01.08.2026 FESCO 0.6416038156746715
01.09.2026 FESCO 0.5898998696342701
01.10.2026 FESCO 0.6884371878959751
01.11.2026 FESCO 0.6472491590218916
01.12.2026 FESCO 0.7250263874702088
01.01.2027 FESCO 0.7520890647511793
01.02.2027 FESCO 0.6323771883721322
01.03.2027 FESCO 0.6861088790160847
01.04.2027 FESCO 0.6812310762125631
01.05.2027 FESCO 0.6782144663546404
01.06.2027 FESCO 0.6877531837321627
01.07.2027 FESCO 0.6838350938110532
01.08.2027 FESCO 0.7000147732761852
01.09.2027 FESCO 0.6670894278079584
01.10.2027 FESCO 0.6681834725874664
01.11.2027 FESCO 0.4766385390841345
01.12.2027 FESCO 0.6305973794861511
01.01.2028 FESCO 0.8120700653928836
01.02.2028 FESCO 0.7584826743724796
01.03.2028 FESCO 0.7531815079248415
01.04.2028 FESCO 0.7396876583726698
01.05.2028 FESCO 0.5987560978764619
01.06.2028 FESCO 0.744107816630907
01.07.2028 FESCO 0.9353390724612609
01.08.2028 FESCO 0.6525741258200266
01.09.2028 FESCO 0.6854347072664684
01.10.2028 FESCO 0.6746603791567594
01.11.2028 FESCO 0.5563110244894174
01.12.2028 FESCO 0.7117236379241982
01.01.2029 FESCO 0.799815635711661
01.02.2029 FESCO 0.6917673354325349
01.03.2029 FESCO 0.7515287242200086
01.04.2029 FESCO 0.717963509831351
01.05.2029 FESCO 0.7323409305169706
01.06.2029 FESCO 0.7800707539801012
01.07.2029 FESCO 0.8553709590499513
01.08.2029 FESCO 0.8385755304265686
01.09.2029 FESCO 0.7874032081194674
01.10.2029 FESCO 0.7222485205746231
01.11.2029 FESCO 0.5381217169913204
01.12.2029 FESCO 0.7410946869724053
01.01.2030 FESCO 0.8122957171505201
01.02.2030 FESCO 0.7371791269782294
01.03.2030 FESCO 0.7126341046416377
01.04.2030 FESCO 0.7365249579324471
01.05.2030 FESCO 0.7729295921886167
01.06.2030 FESCO 0.839686259297059
01.07.2019 MEPCO 66.89737592201173
01.08.2019 MEPCO 63.09022384021186
01.09.2019 MEPCO 67.32078741831165
01.10.2019 MEPCO 75.40933154178518
01.11.2019 MEPCO 70.10163980900761
01.12.2019 MEPCO 78.6077702076025
01.01.2020 MEPCO 79.53278829864405
01.02.2020 MEPCO 59.93126465557854
01.03.2020 MEPCO 66.63451949471133
01.04.2020 MEPCO 80.10787054163453
01.05.2020 MEPCO 74.030796690896
01.06.2020 MEPCO 75.1332566971787
01.07.2020 MEPCO 0.0
01.08.2020 MEPCO 0.0
01.09.2020 MEPCO 0.0
01.10.2020 MEPCO 0.0
01.11.2020 MEPCO 0.0
01.12.2020 MEPCO 0.0
01.01.2021 MEPCO 0.5175475791431211
01.02.2021 MEPCO 0.5193410407241801
01.03.2021 MEPCO 0.5003123266729009
01.04.2021 MEPCO 0.5084993927172635
01.05.2021 MEPCO 0.4839922775538729
01.06.2021 MEPCO 0.5395476600697715
01.07.2021 MEPCO 0.3995727800816734
01.08.2021 MEPCO 0.4013265524883353
01.09.2021 MEPCO 0.3655568507178971
01.10.2021 MEPCO 0.40256162730401435
01.11.2021 MEPCO 0.39586609714710586
01.12.2021 MEPCO 0.4369817065635638
01.01.2022 MEPCO 0.4620322506115928
01.02.2022 MEPCO 0.43158853196785296
01.03.2022 MEPCO 0.44860217559431115
01.04.2022 MEPCO 0.46978091897086366
01.05.2022 MEPCO 0.45048012270018367
01.06.2022 MEPCO 0.49038686767662615
01.07.2022 MEPCO 0.46293616360716894
01.08.2022 MEPCO 0.43820056295346405
01.09.2022 MEPCO 0.49517983749119576
01.10.2022 MEPCO 0.5437653116384902
01.11.2022 MEPCO 0.5951804547299941

01.10.2021 PESCO 0.40256162730401435
01.11.2021 PESCO 0.39586609714710586
01.12.2021 PESCO 0.4369817065635638
01.01.2022 PESCO 0.4620322506115928
01.02.2022 PESCO 0.43158853196785296
01.03.2022 PESCO 0.44860217559431115
01.04.2022 PESCO 0.46978091897086366
01.05.2022 PESCO 0.45048012270018367
01.06.2022 PESCO 0.49038686767662615
01.07.2022 PESCO 0.46293616360716894
01.08.2022 PESCO 0.43820056295346405
01.09.2022 PESCO 0.49517983749119576
01.10.2022 PESCO 0.5437653116384902
01.11.2022 PESCO 0.5951804547299941
01.12.2022 PESCO 0.6362910662625728
01.01.2023 PESCO 0.6021761567802826
01.02.2023 PESCO 0.5224141384386958
01.03.2023 PESCO 0.574068857830564
01.04.2023 PESCO 0.5767304113974765
01.05.2023 PESCO 0.5129846400826443
01.06.2023 PESCO 0.5292555014085689
01.07.2023 PESCO 0.5121586588649255
01.08.2023 PESCO 0.49622043943601923
01.09.2023 PESCO 0.6138558199838738
01.10.2023 PESCO 0.553010397940735
01.11.2023 PESCO 0.5243289899290073
01.12.2023 PESCO 0.6160760867180755
01.01.2024 PESCO 0.6839425561560544
01.02.2024 PESCO 0.5730974627129467
01.03.2024 PESCO 0.6140264352869881
01.04.2024 PESCO 1.2161904547252527
01.05.2024 PESCO 1.56588015257566
01.06.2024 PESCO 1.5012989392360951
01.07.2024 PESCO 0.5650561453812144
01.08.2024 PESCO 0.5738014770352418
01.09.2024 PESCO 0.5638443425247035
01.10.2024 PESCO 0.5337961684429993
01.11.2024 PESCO 0.5048596421648897
01.12.2024 PESCO 0.5539841827274812
01.01.2025 PESCO 0.6083371755730057
01.02.2025 PESCO 0.5755525358235877
01.03.2025 PESCO 0.5982905296356875
01.04.2025 PESCO 0.5501100096854188
01.05.2025 PESCO 0.5407130951731364
01.06.2025 PESCO 0.6307693693995725
01.07.2025 PESCO 0.5935548916495429
01.08.2025 PESCO 0.5734514466232209
01.09.2025 PESCO 0.5463676654052185
01.10.2025 PESCO 0.5061617560963996
01.11.2025 PESCO 0.3520603160262827
01.12.2025 PESCO 0.5357524398344896
01.01.2026 PESCO 0.6077737693122609
01.02.2026 PESCO 0.5287640737946755
01.03.2026 PESCO 0.5870043599111582
01.04.2026 PESCO 0.6044365110178863
01.05.2026 PESCO 0.5608566680115152
01.06.2026 PESCO 0.5959374928366226
01.07.2026 PESCO 0.6656090537336588
01.08.2026 PESCO 0.6416038156746715
01.09.2026 PESCO 0.5898998696342701
01.10.2026 PESCO 0.6884371878959751
01.11.2026 PESCO 0.6472491590218916
01.12.2026 PESCO 0.7250263874702088
01.01.2027 PESCO 0.7520890647511793
01.02.2027 PESCO 0.6323771883721322
01.03.2027 PESCO 0.6861088790160847
01.04.2027 PESCO 0.6812310762125631
01.05.2027 PESCO 0.6782144663546404
01.06.2027 PESCO 0.6877531837321627
01.07.2027 PESCO 0.6838350938110532
01.08.2027 PESCO 0.7000147732761852
01.09.2027 PESCO 0.6670894278079584
01.10.2027 PESCO 0.6681834725874664
01.11.2027 PESCO 0.4766385390841345
01.12.2027 PESCO 0.6305973794861511
01.01.2028 PESCO 0.8120700653928836
01.02.2028 PESCO 0.7584826743724796
01.03.2028 PESCO 0.7531815079248415
01.04.2028 PESCO 0.7396876583726698
01.05.2028 PESCO 0.5987560978764619
01.06.2028 PESCO 0.744107816630907
01.07.2028 PESCO 0.9353390724612609
01.08.2028 PESCO 0.6525741258200266
01.09.2028 PESCO 0.6854347072664684
01.10.2028 PESCO 0.6746603791567594
01.11.2028 PESCO 0.5563110244894174
01.12.2028 PESCO 0.7117236379241982
01.01.2029 PESCO 0.799815635711661
01.02.2029 PESCO 0.6917673354325349
01.03.2029 PESCO 0.7515287242200086
01.04.2029 PESCO 0.717963509831351
01.05.2029 PESCO 0.7323409305169706
01.06.2029 PESCO 0.7800707539801012
01.07.2029 PESCO 0.8553709590499513
01.08.2029 PESCO 0.8385755304265686
01.09.2029 PESCO 0.7874032081194674
01.10.2029 PESCO 0.7222485205746231
01.11.2029 PESCO 0.5381217169913204
01.12.2029 PESCO 0.7410946869724053
01.01.2030 PESCO 0.8122957171505201
01.02.2030 PESCO 0.7371791269782294
01.03.2030 PESCO 0.7126341046416377
01.04.2030 PESCO 0.7365249579324471
01.05.2030 PESCO 0.7729295921886167
01.06.2030 PESCO 0.839686259297059
01.07.2019 TESCO 66.89737592201173
01.08.2019 TESCO 63.09022384021186
01.09.2019 TESCO 67.32078741831165
01.10.2019 TESCO 75.40933154178518
01.11.2019 TESCO 70.10163980900761
01.12.2019 TESCO 78.6077702076025
01.01.2020 TESCO 79.53278829864405
01.02.2020 TESCO 59.93126465557854
01.03.2020 TESCO 66.63451949471133
01.04.2020 TESCO 80.10787054163453
01.05.2020 TESCO 74.030796690896
01.06.2020 TESCO 75.1332566971787
01.07.2020 TESCO 0.0
01.08.2020 TESCO 0.0
01.09.2020 TESCO 0.0
01.10.2020 TESCO 0.0
01.11.2020 TESCO 0.0
01.12.2020 TESCO 0.0
01.01.2021 TESCO 0.5175475791431211
01.02.2021 TESCO 0.5193410407241801
01.03.2021 TESCO 0.5003123266729009
01.04.2021 TESCO 0.5084993927172635
01.05.2021 TESCO 0.4839922775538729
01.06.2021 TESCO 0.5395476600697715
01.07.2021 TESCO 0.3995727800816734
01.08.2021 TESCO 0.4013265524883353
01.09.2021 TESCO 0.3655568507178971
01.10.2021 TESCO 0.40256162730401435
01.11.2021 TESCO 0.39586609714710586
01.12.2021 TESCO 0.4369817065635638
01.01.2022 TESCO 0.4620322506115928
01.02.2022 TESCO 0.43158853196785296
01.03.2022 TESCO 0.44860217559431115
01.04.2022 TESCO 0.46978091897086366
01.05.2022 TESCO 0.45048012270018367
01.06.2022 TESCO 0.49038686767662615
01.07.2022 TESCO 0.46293616360716894
01.08.2022 TESCO 0.43820056295346405
01.09.2022 TESCO 0.49517983749119576
01.10.2022 TESCO 0.5437653116384902
01.11.2022 TESCO 0.5951804547299941
01.12.2022 TESCO 0.6362910662625728
01.01.2023 TESCO 0.6021761567802826
01.02.2023 TESCO 0.5224141384386958
01.03.2023 TESCO 0.574068857830564
01.04.2023 TESCO 0.5767304113974765
01.05.2023 TESCO 0.5129846400826443
01.06.2023 TESCO 0.5292555014085689
01.07.2023 TESCO 0.5121586588649255
01.08.2023 TESCO 0.49622043943601923
01.09.2023 TESCO 0.6138558199838738
01.10.2023 TESCO 0.553010397940735
01.11.2023 TESCO 0.5243289899290073
01.12.2023 TESCO 0.6160760867180755
01.01.2024 TESCO 0.6839425561560544
01.02.2024 TESCO 0.5730974627129467
01.03.2024 TESCO 0.6140264352869881
01.04.2024 TESCO 1.2161904547252527
01.05.2024 TESCO 1.56588015257566
01.06.2024 TESCO 1.5012989392360951
01.07.2024 TESCO 0.5650561453812144
01.08.2024 TESCO 0.5738014770352418
01.09.2024 TESCO 0.5638443425247035
01.10.2024 TESCO 0.5337961684429993
01.11.2024 TESCO 0.5048596421648897
01.12.2024 TESCO 0.5539841827274812
01.01.2025 TESCO 0.6083371755730057
01.02.2025 TESCO 0.5755525358235877
01.03.2025 TESCO 0.5982905296356875
01.04.2025 TESCO 0.5501100096854188
01.05.2025 TESCO 0.5407130951731364
01.06.2025 TESCO 0.6307693693995725
01.07.2025 TESCO 0.5935548916495429
01.08.2025 TESCO 0.5734514466232209
01.09.2025 TESCO 0.5463676654052185
01.10.2025 TESCO 0.5061617560963996
01.11.2025 TESCO 0.3520603160262827
01.12.2025 TESCO 0.5357524398344896
01.01.2026 TESCO 0.6077737693122609
01.02.2026 TESCO 0.5287640737946755
01.03.2026 TESCO 0.5870043599111582
01.04.2026 TESCO 0.6044365110178863
01.05.2026 TESCO 0.5608566680115152
01.06.2026 TESCO 0.5959374928366226
01.07.2026 TESCO 0.6656090537336588
01.08.2026 TESCO 0.6416038156746715
01.09.2026 TESCO 0.5898998696342701
01.10.2026 TESCO 0.6884371878959751
01.11.2026 TESCO 0.6472491590218916
01.12.2026 TESCO 0.7250263874702088
01.01.2027 TESCO 0.7520890647511793
01.02.2027 TESCO 0.6323771883721322
01.03.2027 TESCO 0.6861088790160847
01.04.2027 TESCO 0.6812310762125631
01.05.2027 TESCO 0.6782144663546404
01.06.2027 TESCO 0.6877531837321627
01.07.2027 TESCO 0.6838350938110532
01.08.2027 TESCO 0.7000147732761852
01.09.2027 TESCO 0.6670894278079584
01.10.2027 TESCO 0.6681834725874664
01.11.2027 TESCO 0.4766385390841345
01.12.2027 TESCO 0.6305973794861511
01.01.2028 TESCO 0.8120700653928836
01.02.2028 TESCO 0.7584826743724796
01.03.2028 TESCO 0.7531815079248415
01.04.2028 TESCO 0.7396876583726698
01.05.2028 TESCO 0.5987560978764619
01.06.2028 TESCO 0.744107816630907
01.07.2028 TESCO 0.9353390724612609
01.08.2028 TESCO 0.6525741258200266
01.09.2028 TESCO 0.6854347072664684
01.10.2028 TESCO 0.6746603791567594
01.11.2028 TESCO 0.5563110244894174
01.12.2028 TESCO 0.7117236379241982
01.01.2029 TESCO 0.799815635711661
01.02.2029 TESCO 0.6917673354325349
01.03.2029 TESCO 0.7515287242200086
01.04.2029 TESCO 0.717963509831351
01.05.2029 TESCO 0.7323409305169706
01.06.2029 TESCO 0.7800707539801012
01.07.2029 TESCO 0.8553709590499513
01.08.2029 TESCO 0.8385755304265686
01.09.2029 TESCO 0.7874032081194674
01.10.2029 TESCO 0.7222485205746231
01.11.2029 TESCO 0.5381217169913204
01.12.2029 TESCO 0.7410946869724053
01.01.2030 TESCO 0.8122957171505201
01.02.2030 TESCO 0.7371791269782294
01.03.2030 TESCO 0.7126341046416377
01.04.2030 TESCO 0.7365249579324471
01.05.2030 TESCO 0.7729295921886167
01.06.2030 TESCO 0.839686259297059
01.07.2019 HESCO 66.89737592201173
01.08.2019 HESCO 63.09022384021186
01.09.2019 HESCO 67.32078741831165
01.10.2019 HESCO 75.40933154178518
01.11.2019 HESCO 70.10163980900761
01.12.2019 HESCO 78.6077702076025
01.01.2020 HESCO 79.53278829864405
01.02.2020 HESCO 59.93126465557854
01.03.2020 HESCO 66.63451949471133
01.04.2020 HESCO 80.10787054163453
01.05.2020 HESCO 74.030796690896
01.06.2020 HESCO 75.1332566971787
01.07.2020 HESCO 0.0
01.08.2020 HESCO 0.0
01.09.2020 HESCO 0.0
01.10.2020 HESCO 0.0
01.11.2020 HESCO 0.0
01.12.2020 HESCO 0.0
01.01.2021 HESCO 0.5175475791431211
01.02.2021 HESCO 0.5193410407241801
01.03.2021 HESCO 0.5003123266729009
01.04.2021 HESCO 0.5084993927172635
01.05.2021 HESCO 0.4839922775538729
01.06.2021 HESCO 0.5395476600697715
01.07.2021 HESCO 0.3995727800816734
01.08.2021 HESCO 0.4013265524883353
01.09.2021 HESCO 0.3655568507178971
01.10.2021 HESCO 0.40256162730401435
01.11.2021 HESCO 0.39586609714710586
01.12.2021 HESCO 0.4369817065635638
01.01.2022 HESCO 0.4620322506115928
01.02.2022 HESCO 0.43158853196785296
01.03.2022 HESCO 0.44860217559431115
01.04.2022 HESCO 0.46978091897086366
01.05.2022 HESCO 0.45048012270018367
01.06.2022 HESCO 0.49038686767662615
01.07.2022 HESCO 0.46293616360716894
01.08.2022 HESCO 0.43820056295346405
01.09.2022 HESCO 0.49517983749119576
01.10.2022 HESCO 0.5437653116384902
01.11.2022 HESCO 0.5951804547299941
01.12.2022 HESCO 0.6362910662625728
01.01.2023 HESCO 0.6021761567802826
01.02.2023 HESCO 0.5224141384386958
01.03.2023 HESCO 0.574068857830564
01.04.2023 HESCO 0.5767304113974765
01.05.2023 HESCO 0.5129846400826443
01.06.2023 HESCO 0.5292555014085689
01.07.2023 HESCO 0.5121586588649255
01.08.2023 HESCO 0.49622043943601923
01.09.2023 HESCO 0.6138558199838738
01.10.2023 HESCO 0.553010397940735
01.11.2023 HESCO 0.5243289899290073
01.12.2023 HESCO 0.6160760867180755
01.01.2024 HESCO 0.6839425561560544
01.02.2024 HESCO 0.5730974627129467
01.03.2024 HESCO 0.6140264352869881
01.04.2024 HESCO 1.2161904547252527
01.05.2024 HESCO 1.56588015257566
01.06.2024 HESCO 1.5012989392360951
01.07.2024 HESCO 0.5650561453812144
01.08.2024 HESCO 0.5738014770352418
01.09.2024 HESCO 0.5638443425247035
01.10.2024 HESCO 0.5337961684429993
01.11.2024 HESCO 0.5048596421648897
01.12.2024 HESCO 0.5539841827274812
01.01.2025 HESCO 0.6083371755730057
01.02.2025 HESCO 0.5755525358235877
01.03.2025 HESCO 0.5982905296356875
01.04.2025 HESCO 0.5501100096854188
01.05.2025 HESCO 0.5407130951731364
01.06.2025 HESCO 0.6307693693995725
01.07.2025 HESCO 0.5935548916495429
01.08.2025 HESCO 0.5734514466232209
01.09.2025 HESCO 0.5463676654052185
01.10.2025 HESCO 0.5061617560963996
01.11.2025 HESCO 0.3520603160262827
01.12.2025 HESCO 0.5357524398344896
01.01.2026 HESCO 0.6077737693122609
01.02.2026 HESCO 0.5287640737946755
01.03.2026 HESCO 0.5870043599111582
01.04.2026 HESCO 0.6044365110178863
01.05.2026 HESCO 0.5608566680115152
01.06.2026 HESCO 0.5959374928366226
01.07.2026 HESCO 0.6656090537336588
01.08.2026 HESCO 0.6416038156746715
01.09.2026 HESCO 0.5898998696342701
01.10.2026 HESCO 0.6884371878959751
01.11.2026 HESCO 0.6472491590218916
01.12.2026 HESCO 0.7250263874702088
01.01.2027 HESCO 0.7520890647511793
01.02.2027 HESCO 0.6323771883721322
01.03.2027 HESCO 0.6861088790160847
01.04.2027 HESCO 0.6812310762125631
01.05.2027 HESCO 0.6782144663546404
01.06.2027 HESCO 0.6877531837321627
01.07.2027 HESCO 0.6838350938110532
01.08.2027 HESCO 0.7000147732761852
01.09.2027 HESCO 0.6670894278079584
01.10.2027 HESCO 0.6681834725874664
01.11.2027 HESCO 0.4766385390841345
01.12.2027 HESCO 0.6305973794861511
01.01.2028 HESCO 0.8120700653928836
01.02.2028 HESCO 0.7584826743724796
01.03.2028 HESCO 0.7531815079248415
01.04.2028 HESCO 0.7396876583726698
01.05.2028 HESCO 0.5987560978764619
01.06.2028 HESCO 0.744107816630907
01.07.2028 HESCO 0.9353390724612609
01.08.2028 HESCO 0.6525741258200266
01.09.2028 HESCO 0.6854347072664684
01.10.2028 HESCO 0.6746603791567594
01.11.2028 HESCO 0.5563110244894174
01.12.2028 HESCO 0.7117236379241982
01.01.2029 HESCO 0.799815635711661
01.02.2029 HESCO 0.6917673354325349
01.03.2029 HESCO 0.7515287242200086
01.04.2029 HESCO 0.717963509831351
01.05.2029 HESCO 0.7323409305169706
01.06.2029 HESCO 0.7800707539801012
01.07.2029 HESCO 0.8553709590499513
01.08.2029 HESCO 0.8385755304265686
01.09.2029 HESCO 0.7874032081194674
01.10.2029 HESCO 0.7222485205746231
01.11.2029 HESCO 0.5381217169913204
01.12.2029 HESCO 0.7410946869724053
01.01.2030 HESCO 0.8122957171505201
01.02.2030 HESCO 0.7371791269782294
01.03.2030 HESCO 0.7126341046416377
01.04.2030 HESCO 0.7365249579324471
01.05.2030 HESCO 0.7729295921886167
01.06.2030 HESCO 0.839686259297059
01.07.2019 QESCO 66.89737592201173
01.08.2019 QESCO 63.09022384021186
01.09.2019 QESCO 67.32078741831165
01.10.2019 QESCO 75.40933154178518
01.11.2019 QESCO 70.10163980900761
01.12.2019 QESCO 78.6077702076025
01.01.2020 QESCO 79.53278829864405
01.02.2020 QESCO 59.93126465557854
01.03.2020 QESCO 66.63451949471133
01.04.2020 QESCO 80.10787054163453
01.05.2020 QESCO 74.030796690896
01.06.2020 QESCO 75.1332566971787
01.07.2020 QESCO 0.0
01.08.2020 QESCO 0.0
01.09.2020 QESCO 0.0
01.10.2020 QESCO 0.0
01.11.2020 QESCO 0.0
01.12.2020 QESCO 0.0
01.01.2021 QESCO 0.5175475791431211
01.02.2021 QESCO 0.5193410407241801
01.03.2021 QESCO 0.5003123266729009
01.04.2021 QESCO 0.5084993927172635
01.05.2021 QESCO 0.4839922775538729
01.06.2021 QESCO 0.5395476600697715
01.07.2021 QESCO 0.3995727800816734
01.08.2021 QESCO 0.4013265524883353
01.09.2021 QESCO 0.3655568507178971
01.10.2021 QESCO 0.40256162730401435
01.11.2021 QESCO 0.39586609714710586
01.12.2021 QESCO 0.4369817065635638
01.01.2022 QESCO 0.4620322506115928
01.02.2022 QESCO 0.43158853196785296
01.03.2022 QESCO 0.44860217559431115
01.04.2022 QESCO 0.46978091897086366
01.05.2022 QESCO 0.45048012270018367
01.06.2022 QESCO 0.49038686767662615
01.07.2022 QESCO 0.46293616360716894
01.08.2022 QESCO 0.43820056295346405
01.09.2022 QESCO 0.49517983749119576
01.10.2022 QESCO 0.5437653116384902
01.11.2022 QESCO 0.5951804547299941
01.12.2022 QESCO 0.6362910662625728
01.01.2023 QESCO 0.6021761567802826
01.02.2023 QESCO 0.5224141384386958
01.03.2023 QESCO 0.574068857830564
01.04.2023 QESCO 0.5767304113974765
01.05.2023 QESCO 0.5129846400826443
01.06.2023 QESCO 0.5292555014085689
01.07.2023 QESCO 0.5121586588649255
01.08.2023 QESCO 0.49622043943601923
01.09.2023 QESCO 0.6138558199838738
01.10.2023 QESCO 0.553010397940735
01.11.2023 QESCO 0.5243289899290073
01.12.2023 QESCO 0.6160760867180755
01.01.2024 QESCO 0.6839425561560544
01.02.2024 QESCO 0.5730974627129467
01.03.2024 QESCO 0.6140264352869881
01.04.2024 QESCO 1.2161904547252527
01.05.2024 QESCO 1.56588015257566
01.06.2024 QESCO 1.5012989392360951
01.07.2024 QESCO 0.5650561453812144
01.08.2024 QESCO 0.5738014770352418
01.09.2024 QESCO 0.5638443425247035
01.10.2024 QESCO 0.5337961684429993
01.11.2024 QESCO 0.5048596421648897
01.12.2024 QESCO 0.5539841827274812
01.01.2025 QESCO 0.6083371755730057
01.02.2025 QESCO 0.5755525358235877
01.03.2025 QESCO 0.5982905296356875
01.04.2025 QESCO 0.5501100096854188
01.05.2025 QESCO 0.5407130951731364
01.06.2025 QESCO 0.6307693693995725
01.07.2025 QESCO 0.5935548916495429
01.08.2025 QESCO 0.5734514466232209
01.09.2025 QESCO 0.5463676654052185
01.10.2025 QESCO 0.5061617560963996
01.11.2025 QESCO 0.3520603160262827
01.12.2025 QESCO 0.5357524398344896
01.01.2026 QESCO 0.6077737693122609
01.02.2026 QESCO 0.5287640737946755
01.03.2026 QESCO 0.5870043599111582
01.04.2026 QESCO 0.6044365110178863
01.05.2026 QESCO 0.5608566680115152
01.06.2026 QESCO 0.5959374928366226
01.07.2026 QESCO 0.6656090537336588
01.08.2026 QESCO 0.6416038156746715
01.09.2026 QESCO 0.5898998696342701
01.10.2026 QESCO 0.6884371878959751
01.11.2026 QESCO 0.6472491590218916
01.12.2026 QESCO 0.7250263874702088
01.01.2027 QESCO 0.7520890647511793
01.02.2027 QESCO 0.6323771883721322
01.03.2027 QESCO 0.6861088790160847
01.04.2027 QESCO 0.6812310762125631
01.05.2027 QESCO 0.6782144663546404
01.06.2027 QESCO 0.6877531837321627
01.07.2027 QESCO 0.6838350938110532
01.08.2027 QESCO 0.7000147732761852
01.09.2027 QESCO 0.6670894278079584
01.10.2027 QESCO 0.6681834725874664
01.11.2027 QESCO 0.4766385390841345
01.12.2027 QESCO 0.6305973794861511
01.01.2028 QESCO 0.8120700653928836
01.02.2028 QESCO 0.7584826743724796
01.03.2028 QESCO 0.7531815079248415
01.04.2028 QESCO 0.7396876583726698
01.05.2028 QESCO 0.5987560978764619
01.06.2028 QESCO 0.744107816630907
01.07.2028 QESCO 0.9353390724612609
01.08.2028 QESCO 0.6525741258200266
01.09.2028 QESCO 0.6854347072664684
01.10.2028 QESCO 0.6746603791567594
01.11.2028 QESCO 0.5563110244894174
01.12.2028 QESCO 0.7117236379241982
01.01.2029 QESCO 0.799815635711661
01.02.2029 QESCO 0.6917673354325349
01.03.2029 QESCO 0.7515287242200086
01.04.2029 QESCO 0.717963509831351
01.05.2029 QESCO 0.7323409305169706
01.06.2029 QESCO 0.7800707539801012
01.07.2029 QESCO 0.8553709590499513
01.08.2029 QESCO 0.8385755304265686
01.09.2029 QESCO 0.7874032081194674
01.10.2029 QESCO 0.7222485205746231
01.11.2029 QESCO 0.5381217169913204
01.12.2029 QESCO 0.7410946869724053
01.01.2030 QESCO 0.8122957171505201
01.02.2030 QESCO 0.7371791269782294
01.03.2030 QESCO 0.7126341046416377
01.04.2030 QESCO 0.7365249579324471
01.05.2030 QESCO 0.7729295921886167
01.06.2030 QESCO 0.839686259297059
01.07.2019 SEPCO 66.89737592201173
01.08.2019 SEPCO 63.09022384021186
01.09.2019 SEPCO 67.32078741831165
01.10.2019 SEPCO 75.40933154178518
01.11.2019 SEPCO 70.10163980900761
01.12.2019 SEPCO 78.6077702076025
01.01.2020 SEPCO 79.53278829864405
01.02.2020 SEPCO 59.93126465557854
01.03.2020 SEPCO 66.63451949471133
01.04.2020 SEPCO 80.10787054163453
01.05.2020 SEPCO 74.030796690896
01.06.2020 SEPCO 75.1332566971787
01.07.2020 SEPCO 0.0
01.08.2020 SEPCO 0.0
01.09.2020 SEPCO 0.0
01.10.2020 SEPCO 0.0

01.11.2020 SEPCO 0.0
01.12.2020 SEPCO 0.0
01.01.2021 SEPCO 0.5175475791431211
01.02.2021 SEPCO 0.5193410407241801
01.03.2021 SEPCO 0.5003123266729009
01.04.2021 SEPCO 0.5084993927172635
01.05.2021 SEPCO 0.4839922775538729
01.06.2021 SEPCO 0.5395476600697715
01.07.2021 SEPCO 0.3995727800816734
01.08.2021 SEPCO 0.4013265524883353
01.09.2021 SEPCO 0.3655568507178971
01.10.2021 SEPCO 0.40256162730401435
01.11.2021 SEPCO 0.39586609714710586
01.12.2021 SEPCO 0.4369817065635638
01.01.2022 SEPCO 0.4620322506115928
01.02.2022 SEPCO 0.43158853196785296
01.03.2022 SEPCO 0.44860217559431115
01.04.2022 SEPCO 0.46978091897086366
01.05.2022 SEPCO 0.45048012270018367
01.06.2022 SEPCO 0.49038686767662615
01.07.2022 SEPCO 0.46293616360716894
01.08.2022 SEPCO 0.43820056295346405
01.09.2022 SEPCO 0.49517983749119576
01.10.2022 SEPCO 0.5437653116384902
01.11.2022 SEPCO 0.5951804547299941
01.12.2022 SEPCO 0.6362910662625728
01.01.2023 SEPCO 0.6021761567802826
01.02.2023 SEPCO 0.5224141384386958
01.03.2023 SEPCO 0.574068857830564
01.04.2023 SEPCO 0.5767304113974765
01.05.2023 SEPCO 0.5129846400826443
01.06.2023 SEPCO 0.5292555014085689
01.07.2023 SEPCO 0.5121586588649255
01.08.2023 SEPCO 0.49622043943601923
01.09.2023 SEPCO 0.6138558199838738
01.10.2023 SEPCO 0.553010397940735
01.11.2023 SEPCO 0.5243289899290073
01.12.2023 SEPCO 0.6160760867180755
01.01.2024 SEPCO 0.6839425561560544
01.02.2024 SEPCO 0.5730974627129467
01.03.2024 SEPCO 0.6140264352869881
01.04.2024 SEPCO 1.2161904547252527
01.05.2024 SEPCO 1.56588015257566
01.06.2024 SEPCO 1.5012989392360951
01.07.2024 SEPCO 0.5650561453812144
01.08.2024 SEPCO 0.5738014770352418
01.09.2024 SEPCO 0.5638443425247035
01.10.2024 SEPCO 0.5337961684429993
01.11.2024 SEPCO 0.5048596421648897
01.12.2024 SEPCO 0.5539841827274812
01.01.2025 SEPCO 0.6083371755730057
01.02.2025 SEPCO 0.5755525358235877
01.03.2025 SEPCO 0.5982905296356875
01.04.2025 SEPCO 0.5501100096854188
01.05.2025 SEPCO 0.5407130951731364
01.06.2025 SEPCO 0.6307693693995725
01.07.2025 SEPCO 0.5935548916495429
01.08.2025 SEPCO 0.5734514466232209
01.09.2025 SEPCO 0.5463676654052185
01.10.2025 SEPCO 0.5061617560963996
01.11.2025 SEPCO 0.3520603160262827
01.12.2025 SEPCO 0.5357524398344896
01.01.2026 SEPCO 0.6077737693122609
01.02.2026 SEPCO 0.5287640737946755
01.03.2026 SEPCO 0.5870043599111582
01.04.2026 SEPCO 0.6044365110178863
01.05.2026 SEPCO 0.5608566680115152
01.06.2026 SEPCO 0.5959374928366226
01.07.2026 SEPCO 0.6656090537336588
01.08.2026 SEPCO 0.6416038156746715
01.09.2026 SEPCO 0.5898998696342701
01.10.2026 SEPCO 0.6884371878959751
01.11.2026 SEPCO 0.6472491590218916
01.12.2026 SEPCO 0.7250263874702088
01.01.2027 SEPCO 0.7520890647511793
01.02.2027 SEPCO 0.6323771883721322
01.03.2027 SEPCO 0.6861088790160847
01.04.2027 SEPCO 0.6812310762125631
01.05.2027 SEPCO 0.6782144663546404
01.06.2027 SEPCO 0.6877531837321627
01.07.2027 SEPCO 0.6838350938110532
01.08.2027 SEPCO 0.7000147732761852
01.09.2027 SEPCO 0.6670894278079584
01.10.2027 SEPCO 0.6681834725874664
01.11.2027 SEPCO 0.4766385390841345
01.12.2027 SEPCO 0.6305973794861511
01.01.2028 SEPCO 0.8120700653928836
01.02.2028 SEPCO 0.7584826743724796
01.03.2028 SEPCO 0.7531815079248415
01.04.2028 SEPCO 0.7396876583726698
01.05.2028 SEPCO 0.5987560978764619
01.06.2028 SEPCO 0.744107816630907
01.07.2028 SEPCO 0.9353390724612609
01.08.2028 SEPCO 0.6525741258200266
01.09.2028 SEPCO 0.6854347072664684
01.10.2028 SEPCO 0.6746603791567594
01.11.2028 SEPCO 0.5563110244894174
01.12.2028 SEPCO 0.7117236379241982
01.01.2029 SEPCO 0.799815635711661
01.02.2029 SEPCO 0.6917673354325349
01.03.2029 SEPCO 0.7515287242200086
01.04.2029 SEPCO 0.717963509831351
01.05.2029 SEPCO 0.7323409305169706
01.06.2029 SEPCO 0.7800707539801012
01.07.2029 SEPCO 0.8553709590499513
01.08.2029 SEPCO 0.8385755304265686
01.09.2029 SEPCO 0.7874032081194674
01.10.2029 SEPCO 0.7222485205746231
01.11.2029 SEPCO 0.5381217169913204
01.12.2029 SEPCO 0.7410946869724053
01.01.2030 SEPCO 0.8122957171505201
01.02.2030 SEPCO 0.7371791269782294
01.03.2030 SEPCO 0.7126341046416377
01.04.2030 SEPCO 0.7365249579324471
01.05.2030 SEPCO 0.7729295921886167
01.06.2030 SEPCO 0.839686259297059
01.07.2019 KESC 66.89737592201173
01.08.2019 KESC 63.09022384021186
01.09.2019 KESC 67.32078741831165
01.10.2019 KESC 75.40933154178518
01.11.2019 KESC 70.10163980900761
01.12.2019 KESC 78.6077702076025
01.01.2020 KESC 79.53278829864405
01.02.2020 KESC 59.93126465557854
01.03.2020 KESC 66.63451949471133
01.04.2020 KESC 80.10787054163453
01.05.2020 KESC 74.030796690896
01.06.2020 KESC 75.1332566971787
01.07.2020 KESC 0.0
01.08.2020 KESC 0.0
01.09.2020 KESC 0.0
01.10.2020 KESC 0.0
01.11.2020 KESC 0.0
01.12.2020 KESC 0.0
01.01.2021 KESC 0.5175475791431211
01.02.2021 KESC 0.5193410407241801
01.03.2021 KESC 0.5003123266729009
01.04.2021 KESC 0.5084993927172635
01.05.2021 KESC 0.4839922775538729
01.06.2021 KESC 0.5395476600697715
01.07.2021 KESC 0.3995727800816734
01.08.2021 KESC 0.4013265524883353
01.09.2021 KESC 0.3655568507178971
01.10.2021 KESC 0.40256162730401435
01.11.2021 KESC 0.39586609714710586
01.12.2021 KESC 0.4369817065635638
01.01.2022 KESC 0.4620322506115928
01.02.2022 KESC 0.43158853196785296
01.03.2022 KESC 0.44860217559431115
01.04.2022 KESC 0.46978091897086366
01.05.2022 KESC 0.45048012270018367
01.06.2022 KESC 0.49038686767662615
01.07.2022 KESC 0.46293616360716894
01.08.2022 KESC 0.43820056295346405
01.09.2022 KESC 0.49517983749119576
01.10.2022 KESC 0.5437653116384902
01.11.2022 KESC 0.5951804547299941
01.12.2022 KESC 0.6362910662625728
01.01.2023 KESC 0.6021761567802826
01.02.2023 KESC 0.5224141384386958
01.03.2023 KESC 0.574068857830564
01.04.2023 KESC 0.5767304113974765
01.05.2023 KESC 0.5129846400826443
01.06.2023 KESC 0.5292555014085689
01.07.2023 KESC 0.5121586588649255
01.08.2023 KESC 0.49622043943601923
01.09.2023 KESC 0.6138558199838738
01.10.2023 KESC 0.553010397940735
01.11.2023 KESC 0.5243289899290073
01.12.2023 KESC 0.6160760867180755
01.01.2024 KESC 0.6839425561560544
01.02.2024 KESC 0.5730974627129467
01.03.2024 KESC 0.6140264352869881
01.04.2024 KESC 1.2161904547252527
01.05.2024 KESC 1.56588015257566
01.06.2024 KESC 1.5012989392360951
01.07.2024 KESC 0.5650561453812144
01.08.2024 KESC 0.5738014770352418
01.09.2024 KESC 0.5638443425247035
01.10.2024 KESC 0.5337961684429993
01.11.2024 KESC 0.5048596421648897
01.12.2024 KESC 0.5539841827274812
01.01.2025 KESC 0.6083371755730057
01.02.2025 KESC 0.5755525358235877
01.03.2025 KESC 0.5982905296356875
01.04.2025 KESC 0.5501100096854188
01.05.2025 KESC 0.5407130951731364
01.06.2025 KESC 0.6307693693995725
01.07.2025 KESC 0.5935548916495429
01.08.2025 KESC 0.5734514466232209
01.09.2025 KESC 0.5463676654052185
01.10.2025 KESC 0.5061617560963996
01.11.2025 KESC 0.3520603160262827
01.12.2025 KESC 0.5357524398344896
01.01.2026 KESC 0.6077737693122609
01.02.2026 KESC 0.5287640737946755
01.03.2026 KESC 0.5870043599111582
01.04.2026 KESC 0.6044365110178863
01.05.2026 KESC 0.5608566680115152
01.06.2026 KESC 0.5959374928366226
01.07.2026 KESC 0.6656090537336588
01.08.2026 KESC 0.6416038156746715
01.09.2026 KESC 0.5898998696342701
01.10.2026 KESC 0.6884371878959751
01.11.2026 KESC 0.6472491590218916
01.12.2026 KESC 0.7250263874702088
01.01.2027 KESC 0.7520890647511793
01.02.2027 KESC 0.6323771883721322
01.03.2027 KESC 0.6861088790160847
01.04.2027 KESC 0.6812310762125631
01.05.2027 KESC 0.6782144663546404
01.06.2027 KESC 0.6877531837321627
01.07.2027 KESC 0.6838350938110532
01.08.2027 KESC 0.7000147732761852
01.09.2027 KESC 0.6670894278079584
01.10.2027 KESC 0.6681834725874664
01.11.2027 KESC 0.4766385390841345
01.12.2027 KESC 0.6305973794861511
01.01.2028 KESC 0.8120700653928836
01.02.2028 KESC 0.7584826743724796
01.03.2028 KESC 0.7531815079248415
01.04.2028 KESC 0.7396876583726698
01.05.2028 KESC 0.5987560978764619
01.06.2028 KESC 0.744107816630907
01.07.2028 KESC 0.9353390724612609
01.08.2028 KESC 0.6525741258200266
01.09.2028 KESC 0.6854347072664684
01.10.2028 KESC 0.6746603791567594
01.11.2028 KESC 0.5563110244894174
01.12.2028 KESC 0.7117236379241982
01.01.2029 KESC 0.799815635711661
01.02.2029 KESC 0.6917673354325349
01.03.2029 KESC 0.7515287242200086
01.04.2029 KESC 0.717963509831351
01.05.2029 KESC 0.7323409305169706
01.06.2029 KESC 0.7800707539801012
01.07.2029 KESC 0.8553709590499513
01.08.2029 KESC 0.8385755304265686
01.09.2029 KESC 0.7874032081194674
01.10.2029 KESC 0.7222485205746231
01.11.2029 KESC 0.5381217169913204
01.12.2029 KESC 0.7410946869724053
01.01.2030 KESC 0.8122957171505201
01.02.2030 KESC 0.7371791269782294
01.03.2030 KESC 0.7126341046416377
01.04.2030 KESC 0.7365249579324471
01.05.2030 KESC 0.7729295921886167
01.06.2030 KESC 0.839686259297059

In [362]:
def insert_varibles_into_CPP(Date,Disco,CPP):
    try:
        connection = mysql.connector.connect(host='localhost',
                                             database='PPP_FY2020_2030_Annex4',
                                             user='root',
                                             password='2002LhrcanttGBHS2005')
        cursor = connection.cursor()
        mySql_insert_query = """INSERT INTO Capacity_Purchase_Price(Date,Disco,CPP) 
                                VALUES (%s,%s,%s) """

        record = (Date,Disco,CPP)
        cursor.execute(mySql_insert_query, record)
        connection.commit()
        print("Record inserted successfully into the table")

    except mysql.connector.Error as error:
        print("Failed to insert into MySQL table {}".format(error))

    finally:
        if connection.is_connected():
            cursor.close()
            connection.close()
            print("MySQL connection is closed")

#for dsco in range(0,len(sliced_discoenrgy_trnctd1.index)):
#    for col in range(0,132):
#        insert_varibles_into_CPP(tm_dscoenrgy_mnyr[col],sliced_discoenrgy_trnctd.iat[dsco,0],CPP_trnctd1.iat[dsco,col])

In [363]:
"""
for dsco in range(0,len(sliced_discoenrgy_trnctd1.index)):
    for col in range(0,132):
        print(tm_dscoenrgy_mnyr[col],sliced_discoenrgy_trnctd.iat[dsco,0],CPP_trnctd1.iat[dsco,col])
"""

'\nfor dsco in range(0,len(sliced_discoenrgy_trnctd1.index)):\n    for col in range(0,132):\n        print(tm_dscoenrgy_mnyr[col],sliced_discoenrgy_trnctd.iat[dsco,0],CPP_trnctd1.iat[dsco,col])\n'

In [364]:
def insert_varibles_into_UoSC_MOF(Date,Disco,UoSC_and_MOF):
    try:
        connection = mysql.connector.connect(host='localhost',
                                             database='PPP_FY2020_2030_Annex4',
                                             user='root',
                                             password='2002LhrcanttGBHS2005')
        cursor = connection.cursor()
        mySql_insert_query = """INSERT INTO UoSC_and_MOF(Date,Disco,UoSC_and_MOF) 
                                VALUES (%s,%s,%s) """

        record = (Date,Disco,UoSC_and_MOF)
        cursor.execute(mySql_insert_query, record)
        connection.commit()
        print("Record inserted successfully into the table")

    except mysql.connector.Error as error:
        print("Failed to insert into MySQL table {}".format(error))

    finally:
        if connection.is_connected():
            cursor.close()
            connection.close()
            print("MySQL connection is closed")

#for dsco in range(0,len(sliced_discoenrgy_trnctd1.index)):
#    for col in range(0,132):
#        insert_varibles_into_UoSC_MOF(tm_dscoenrgy_mnyr[col],sliced_discoenrgy_trnctd.iat[dsco,0],UoSC_MOF_trnctd1.iat[dsco,col])

In [365]:
def insert_varibles_into_EnFC_MlnRs(Date,Disco,Energy_Fuel_Charges_MlnRs):
    try:
        connection = mysql.connector.connect(host='localhost',
                                             database='PPP_FY2020_2030_Annex4',
                                             user='root',
                                             password='2002LhrcanttGBHS2005')
        cursor = connection.cursor()
        mySql_insert_query = """INSERT INTO Energy_Fuel_Charges_MlnRs(Date,Disco,Energy_Fuel_Charges_MlnRs) 
                                VALUES (%s,%s,%s) """

        record = (Date,Disco,Energy_Fuel_Charges_MlnRs)
        cursor.execute(mySql_insert_query, record)
        connection.commit()
        print("Record inserted successfully into the table")

    except mysql.connector.Error as error:
        print("Failed to insert into MySQL table {}".format(error))

    finally:
        if connection.is_connected():
            cursor.close()
            connection.close()
            print("MySQL connection is closed")

#for dsco in range(0,len(sliced_discoenrgy_trnctd1.index)):
#    for col in range(0,132):
#        insert_varibles_into_EnFC_MlnRs(tm_dscoenrgy_mnyr[col],sliced_discoenrgy_trnctd.iat[dsco,0],Energy_FC_MlnRs_trnctd1.iat[dsco,col])

In [366]:
def insert_varibles_into_EnOM_MlnRs(Date,Disco,Energy_OM_Charges_MlnRs):
    try:
        connection = mysql.connector.connect(host='localhost',
                                             database='PPP_FY2020_2030_Annex4',
                                             user='root',
                                             password='2002LhrcanttGBHS2005')
        cursor = connection.cursor()
        mySql_insert_query = """INSERT INTO Energy_OM_Charges_MlnRs(Date,Disco,Energy_OM_Charges_MlnRs) 
                                VALUES (%s,%s,%s) """

        record = (Date,Disco,Energy_OM_Charges_MlnRs)
        cursor.execute(mySql_insert_query, record)
        connection.commit()
        print("Record inserted successfully into the table")

    except mysql.connector.Error as error:
        print("Failed to insert into MySQL table {}".format(error))

    finally:
        if connection.is_connected():
            cursor.close()
            connection.close()
            print("MySQL connection is closed")

#for dsco in range(0,len(sliced_discoenrgy_trnctd1.index)):
#    for col in range(0,132):
#        insert_varibles_into_EnOM_MlnRs(tm_dscoenrgy_mnyr[col],sliced_discoenrgy_trnctd.iat[dsco,0],Energy_OM_MlnRs_trnctd1.iat[dsco,col])

In [367]:
def insert_varibles_into_Capacity_Purchase_Price_MlnRs(Date,Disco,Capacity_Purchase_Price_MlnRs):
    try:
        connection = mysql.connector.connect(host='localhost',
                                             database='PPP_FY2020_2030_Annex4',
                                             user='root',
                                             password='2002LhrcanttGBHS2005')
        cursor = connection.cursor()
        mySql_insert_query = """INSERT INTO Capacity_Purchase_Price_MlnRs(Date,Disco,Capacity_Purchase_Price_MlnRs) 
                                VALUES (%s,%s,%s) """

        record = (Date,Disco,Capacity_Purchase_Price_MlnRs)
        cursor.execute(mySql_insert_query, record)
        connection.commit()
        print("Record inserted successfully into the table")

    except mysql.connector.Error as error:
        print("Failed to insert into MySQL table {}".format(error))

    finally:
        if connection.is_connected():
            cursor.close()
            connection.close()
            print("MySQL connection is closed")

#for dsco in range(0,len(sliced_discoenrgy_trnctd1.index)):
#    for col in range(0,132):
#        insert_varibles_into_Capacity_Purchase_Price_MlnRs(tm_dscoenrgy_mnyr[col],sliced_discoenrgy_trnctd.iat[dsco,0],CPP_MlnRs_trnctd1.iat[dsco,col])

In [368]:
def insert_varibles_into_UoSC_and_MOF_MlnRs(Date,Disco,UoSC_and_MOF_MlnRs):
    try:
        connection = mysql.connector.connect(host='localhost',
                                             database='PPP_FY2020_2030_Annex4',
                                             user='root',
                                             password='2002LhrcanttGBHS2005')
        cursor = connection.cursor()
        mySql_insert_query = """INSERT INTO UoSC_and_MOF_MlnRs(Date,Disco,UoSC_and_MOF_MlnRs) 
                                VALUES (%s,%s,%s) """

        record = (Date,Disco,UoSC_and_MOF_MlnRs)
        cursor.execute(mySql_insert_query, record)
        connection.commit()
        print("Record inserted successfully into the table")

    except mysql.connector.Error as error:
        print("Failed to insert into MySQL table {}".format(error))

    finally:
        if connection.is_connected():
            cursor.close()
            connection.close()
            print("MySQL connection is closed")

#for dsco in range(0,len(sliced_discoenrgy_trnctd1.index)):
#    for col in range(0,132):
#        insert_varibles_into_UoSC_and_MOF_MlnRs(tm_dscoenrgy_mnyr[col],sliced_discoenrgy_trnctd.iat[dsco,0],UoSC_MOF_MlnRs_trnctd1.iat[dsco,col])

In [369]:
connection.reconnect()
cursor=connection.cursor()

In [370]:
cursor.execute("CREATE DATABASE IF NOT EXISTS General_Assumptions")
cursor.execute("USE General_Assumptions")
cursor.execute("DROP TABLE IF EXISTS Economic_Parameters_Assumptions")
cursor.execute("DROP TABLE IF EXISTS NTDCL_Losses_Forecast")
cursor.execute("DROP TABLE IF EXISTS NTDCL_UoSC_and_CPPA_MOF_Forecast")
cursor.execute("DROP TABLE IF EXISTS NTDCL_Losses_Forecast_Monthly")
cursor.execute("DROP TABLE IF EXISTS Pak_CPI_for_DM")

In [371]:
cursor.execute("CREATE TABLE IF NOT EXISTS Economic_Parameters_Assumptions (Year VARCHAR(255),Parameter VARCHAR(255), Value DECIMAL(10,4))")
cursor.execute("CREATE TABLE IF NOT EXISTS NTDCL_Losses_Forecast (Year VARCHAR(255),Parameter VARCHAR(255), Value DECIMAL(10,4))")
cursor.execute("CREATE TABLE IF NOT EXISTS NTDCL_UoSC_and_CPPA_MOF_Forecast (Year VARCHAR(255),Parameter VARCHAR(255), Value DECIMAL(10,4))")
cursor.execute("CREATE TABLE IF NOT EXISTS NTDCL_Losses_Forecast_Monthly (Month VARCHAR(255),Parameter VARCHAR(255), Value DECIMAL(10,4))")
cursor.execute("CREATE TABLE IF NOT EXISTS Pak_CPI_for_DM (Year VARCHAR(255),Parameter VARCHAR(255), Value DECIMAL(10,4))")

In [372]:
gen_asmptn_lst=["CREATE TABLE IF NOT EXISTS Economic_Parameters_Assumptions (Year VARCHAR(255),Parameter VARCHAR(255), Value DECIMAL(10,4))","CREATE TABLE IF NOT EXISTS NTDCL_Losses_Forecast (Year VARCHAR(255),Parameter VARCHAR(255), Value DECIMAL(10,4))",
               "CREATE TABLE IF NOT EXISTS NTDCL_UoSC_and_CPPA_MOF_Forecast (Year VARCHAR(255),Parameter VARCHAR(255), Value DECIMAL(10,4))",
               "CREATE TABLE IF NOT EXISTS NTDCL_Losses_Forecast_Monthly (Month VARCHAR(255),Parameter VARCHAR(255), Value DECIMAL(10,4))","CREATE TABLE IF NOT EXISTS Pak_CPI_for_DM (Year VARCHAR(255),Parameter VARCHAR(255), Value DECIMAL(10,4))"]

table_gen_asmptn=['Economic_Parameters_Assumptions','NTDCL_Losses_Forecast','NTDCL_UoSC_and_CPPA_MOF_Forecast','NTDCL_Losses_Forecast_Monthly','Pak_CPI_for_DM']
columns_table_gen_asmtn=['Year,Parameter,Value','Year,Parameter,Value','Year,Parameter,Value',
                         'Month,Parameter,Value','Year,Parameter,Value']

In [373]:
for url in gen_asmptn_lst:
    try:
        connection = mysql.connector.connect(host='localhost',
                                             database='General_Assumptions',
                                             user='root',
                                             password='2002LhrcanttGBHS2005')
        cursor = connection.cursor()
        #mySql_insert_query = """CREATE TABLE IF NOT EXISTS Economic_Parameters_Assumptions (Year VARCHAR(255),Parameter DECIMAL(10,4)) """
        mySql_insert_query = url
        #record = (Year,Parameter)
        cursor.execute(mySql_insert_query)
        connection.commit()
        print("Record inserted successfully into the table")

    except mysql.connector.Error as error:
        print("Failed to insert into MySQL table {}".format(error))

    finally:
        if connection.is_connected():
            cursor.close()
            connection.close()
            print("MySQL connection is closed")

Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed

In [374]:
Economic_Parameters_Assumptions={'Year':[2019,2020,2021,2022,2023,2024,2025,2026,2027,2028,2029,2030],
                                 'LIBOR':[0.022,0.0145,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01],
                                 'KIBOR':[0.01375,0.01122,0.831,0.831,0.831,0.831,0.831,0.831,0.831,0.831,0.831,0.831],
                                 'Pak CPI':[242.00,266.20,278.70,292.63,307.26,322.63,338.76,355.70,373.48,392.16,411.76,432.35],
                                 'US CPI':[255.00,258.68,264.08,269.73,275.54,281.50,287.52,293.57,299.85,306.30,312.90,319.64],
                                 'Dollar to Rupee Parity':[165.00,166.75,166.76,175.40,184.51,194.08,204.16,214.75,225.90,237.62,249.95,262.93]}

#Year=[]
#xo=2021
#for eel in range(0,10):
#    Year.append(datetime.datetime.strptime(str(xo+eel),'%Y'))

#Economic_Parameters_Assumptions['Year']=Year
#column_name=['Year', 'LIBOR','KIBOR','Pak CPI','US CPI','Dollar to Rupee Parity']
#Economic_Parameters_Assumptions=(Economic_Parameters_Assumptions
epa=pd.DataFrame(Economic_Parameters_Assumptions)
#epa=epa.reindex(columns=column_name)
epa

    Year   LIBOR    KIBOR  Pak CPI  US CPI  Dollar to Rupee Parity
0   2019  0.0220  0.01375   242.00  255.00                  165.00
1   2020  0.0145  0.01122   266.20  258.68                  166.75
2   2021  0.0100  0.83100   278.70  264.08                  166.76
3   2022  0.0100  0.83100   292.63  269.73                  175.40
4   2023  0.0100  0.83100   307.26  275.54                  184.51
5   2024  0.0100  0.83100   322.63  281.50                  194.08
6   2025  0.0100  0.83100   338.76  287.52                  204.16
7   2026  0.0100  0.83100   355.70  293.57                  214.75
8   2027  0.0100  0.83100   373.48  299.85                  225.90
9   2028  0.0100  0.83100   392.16  306.30                  237.62
10  2029  0.0100  0.83100   411.76  312.90                  249.95
11  2030  0.0100  0.83100   432.35  319.64                  262.93

In [375]:
epa["LIBOR"]=epa["LIBOR"].astype('float')
epa["Year"]=epa["Year"].astype('str')
epa["KIBOR"]=epa["KIBOR"].astype('float')
epa["Pak CPI"]=epa["Pak CPI"].astype('float')
epa["US CPI"]=epa["US CPI"].astype('float')
epa["Dollar to Rupee Parity"]=epa["Dollar to Rupee Parity"].astype('float')

In [376]:
#for i in range(0,5):
#    print(table_gen_asmptn[i],columns_table_gen_asmtn[i])

In [377]:
#for i in range(0,5):
#    print("""INSERT INTO """+str(table_gen_asmptn[i])+ str(columns_table_gen_asmtn[i])+ 
#        """ VALUES (%s,%s,%s) """)
    
#rec=('Year','Parameter','Value')

In [378]:
#namespace = sys._getframe(0).f_globals
def Economic_Parameters_Assumptions(Year,Parameter,Value):
    try:
        connection = mysql.connector.connect(host='localhost',
                                database='General_Assumptions',
                                user='root',
                                password='2002LhrcanttGBHS2005')
        cursor = connection.cursor()
        mySql_insert_query = "INSERT INTO "+str(table_gen_asmptn[0])+"("+str(columns_table_gen_asmtn[0])+")"+" VALUES("+",".join(["%s"]*len(columns_table_gen_asmtn[0].split(',')))+")"
      
        record = (Year,Parameter,Value)
        cursor.execute(mySql_insert_query,record)
        connection.commit()
        print("Record inserted successfully into the table")
            
    except mysql.connector.Error as error:
        print("Failed to insert into MySQL table {}".format(error))

    finally:
        if connection.is_connected():
            cursor.close()
            connection.close()
            print("MySQL connection is closed")

#for label in table_gen_asmptn:
#    namespace['func_%s'%label] = functools.partial(func, label)
#Economic_Parameters_Assumptions(2012,'aa',4.50000)

#for prm in range(1,len(epa.columns)):
#    for yr in range(0,len(epa.index)):
#        Economic_Parameters_Assumptions(epa.iat[yr,0],epa.columns[prm],epa.iat[yr,prm])

In [379]:
#for prm in range(1,len(epa.columns)):
#    for yr in range(0,len(epa.index)):
#        print(epa.iat[yr,0],epa.columns[prm],epa.iat[yr,prm])

In [380]:
NTDCL_Losses_Forecast={'Year':[2019,2020,2021,2022,2023,2024,2025,2026,2027,2028,2029,2030],
                        'Losses at 132kV':[0.0271,0.0287,0.0287,0.0287,0.0287,0.0287,0.0287,0.0287,0.0287,0.0287,0.0287,0.0287]}
nt_losses=pd.DataFrame(NTDCL_Losses_Forecast)
nt_losses

    Year  Losses at 132kV
0   2019           0.0271
1   2020           0.0287
2   2021           0.0287
3   2022           0.0287
4   2023           0.0287
5   2024           0.0287
6   2025           0.0287
7   2026           0.0287
8   2027           0.0287
9   2028           0.0287
10  2029           0.0287
11  2030           0.0287

In [381]:
nt_losses["Year"]=nt_losses["Year"].astype('str')
nt_losses["Losses at 132kV"]=nt_losses["Losses at 132kV"].astype('float')

In [382]:
def NTDCL_Losses_Forecast(Year,Parameter,Value):
    try:
        connection = mysql.connector.connect(host='localhost',
                                database='General_Assumptions',
                                user='root',
                                password='2002LhrcanttGBHS2005')
        cursor = connection.cursor()
        mySql_insert_query = "INSERT INTO "+str(table_gen_asmptn[1])+"("+str(columns_table_gen_asmtn[1])+")"+" VALUES("+",".join(["%s"]*len(columns_table_gen_asmtn[1].split(',')))+")"
      
        record = (Year,Parameter,Value)
        cursor.execute(mySql_insert_query,record)
        connection.commit()
        print("Record inserted successfully into the table")
            
    except mysql.connector.Error as error:
        print("Failed to insert into MySQL table {}".format(error))

    finally:
        if connection.is_connected():
            cursor.close()
            connection.close()
            print("MySQL connection is closed")

#for prm in range(1,len(nt_losses.columns)):
#    for yr in range(0,len(nt_losses.index)):
#        NTDCL_Losses_Forecast(nt_losses.iat[yr,0],nt_losses.columns[prm],nt_losses.iat[yr,prm])

In [383]:
for prm in range(1,len(nt_losses.columns)):
    for yr in range(0,len(nt_losses.index)):
        print(nt_losses.iat[yr,0],nt_losses.columns[prm],nt_losses.iat[yr,prm])

2019 Losses at 132kV 0.0271
2020 Losses at 132kV 0.0287
2021 Losses at 132kV 0.0287
2022 Losses at 132kV 0.0287
2023 Losses at 132kV 0.0287
2024 Losses at 132kV 0.0287
2025 Losses at 132kV 0.0287
2026 Losses at 132kV 0.0287
2027 Losses at 132kV 0.0287
2028 Losses at 132kV 0.0287
2029 Losses at 132kV 0.0287
2030 Losses at 132kV 0.0287

In [384]:
NTDCL_UoSC_and_CPPA_MOF_Forecast={'Year':[2019,2020,2021,2022,2023,2024,2025,2026,2027,2028,2029,2030],
                                  'UoSC_Rs_per_kW_per_Month':[158.00,177.56,177.56,177.56,343.79,333.08,328.59,323.87,326.36,326.76,327.91,328.64],
                                 'MOF_Rs_per_kW_Month':[2.00,1.39,1.39,1.39,1.39,1.39,1.39,1.39,1.39,1.39,1.39,1.39]}
ntmof_losses=pd.DataFrame(NTDCL_UoSC_and_CPPA_MOF_Forecast)
ntmof_losses

    Year  UoSC_Rs_per_kW_per_Month  MOF_Rs_per_kW_Month
0   2019                    158.00                 2.00
1   2020                    177.56                 1.39
2   2021                    177.56                 1.39
3   2022                    177.56                 1.39
4   2023                    343.79                 1.39
5   2024                    333.08                 1.39
6   2025                    328.59                 1.39
7   2026                    323.87                 1.39
8   2027                    326.36                 1.39
9   2028                    326.76                 1.39
10  2029                    327.91                 1.39
11  2030                    328.64                 1.39

In [385]:
ntmof_losses["Year"]=ntmof_losses["Year"].astype('str')
ntmof_losses["UoSC_Rs_per_kW_per_Month"]=ntmof_losses["UoSC_Rs_per_kW_per_Month"].astype('float')
ntmof_losses["MOF_Rs_per_kW_Month"]=ntmof_losses["MOF_Rs_per_kW_Month"].astype('float')

In [386]:
def NTDCL_UoSC_and_CPPA_MOF_Forecast(Year,Parameter,Value):
    try:
        connection = mysql.connector.connect(host='localhost',
                                database='General_Assumptions',
                                user='root',
                                password='2002LhrcanttGBHS2005')
        cursor = connection.cursor()
        mySql_insert_query = "INSERT INTO "+str(table_gen_asmptn[1])+"("+str(columns_table_gen_asmtn[1])+")"+" VALUES("+",".join(["%s"]*len(columns_table_gen_asmtn[1].split(',')))+")"
      
        record = (Year,Parameter,Value)
        cursor.execute(mySql_insert_query,record)
        connection.commit()
        print("Record inserted successfully into the table")
            
    except mysql.connector.Error as error:
        print("Failed to insert into MySQL table {}".format(error))

    finally:
        if connection.is_connected():
            cursor.close()
            connection.close()
            print("MySQL connection is closed")

#for prm in range(1,len(ntmof_losses.columns)):
#    for yr in range(0,len(ntmof_losses.index)):
#        NTDCL_UoSC_and_CPPA_MOF_Forecast(ntmof_losses.iat[yr,0],ntmof_losses.columns[prm],ntmof_losses.iat[yr,prm])

In [387]:
time_col=[]
for n in range(0,138):
    given_date = 'Jul.2019'
    date_format = '%b.%Y'
    dtObj = datetime.datetime.strptime(given_date, date_format)
    time_col.append(dtObj + relativedelta(months=n))
    
time_col=pd.to_datetime(time_col,format='%d.%m.%Y')
time_col=time_col.strftime("%d.%m.%Y")

time_col

Index(['01.07.2019', '01.08.2019', '01.09.2019', '01.10.2019', '01.11.2019',
       '01.12.2019', '01.01.2020', '01.02.2020', '01.03.2020', '01.04.2020',
       ...
       '01.03.2030', '01.04.2030', '01.05.2030', '01.06.2030', '01.07.2030',
       '01.08.2030', '01.09.2030', '01.10.2030', '01.11.2030', '01.12.2030'],
      dtype='object', length=138)

In [388]:
NTDCL_Losses_Forecast_Monthly={'Losses at 132kV':[0.03,0.02,0.03,0.03,0.03,0.03,0.06,0.03,0.02,0.02,0.03,0.02,0.03,0.02,0.03,
                                                    0.03,0.03,0.03,0.06,0.03,0.02,0.02,0.03,0.02,0.03,0.02,0.03,0.03,0.03,0.03,
                                                    0.06,0.03,0.02,0.02,0.03,0.02,0.03,0.02,0.03,0.03,0.03,0.03,0.06,0.03,0.02,
                                                    0.02,0.03,0.02,0.03,0.02,0.03,0.03,0.03,0.03,0.06,0.03,0.02,0.02,0.03,0.02,
                                                    0.03,0.02,0.03,0.03,0.03,0.03,0.06,0.03,0.02,0.02,0.03,0.02,0.03,0.02,0.03,
                                                    0.03,0.03,0.03,0.06,0.03,0.02,0.02,0.03,0.02,0.03,0.02,0.03,0.03,0.03,0.03,
                                                    0.06,0.03,0.02,0.02,0.03,0.02,0.03,0.02,0.03,0.03,0.03,0.03,0.06,0.03,0.02,
                                                    0.02,0.03,0.02,0.03,0.02,0.03,0.03,0.03,0.03,0.06,0.03,0.02,0.02,0.03,0.02,
                                                    0.03,0.02,0.03,0.03,0.03,0.03,0.06,0.03,0.02,0.02,0.03,0.02,0.03,0.02,0.03,
                                                    0.03,0.03,0.03]}
NTDCL_Losses_Forecast_Monthly['Month']=time_col
co_name=['Month','Losses at 132kV']
ntmont_losses=pd.DataFrame(NTDCL_Losses_Forecast_Monthly)
ntmont_losses=ntmont_losses.reindex(columns=co_name)
ntmont_losses

          Month  Losses at 132kV
0    01.07.2019             0.03
1    01.08.2019             0.02
2    01.09.2019             0.03
3    01.10.2019             0.03
4    01.11.2019             0.03
..          ...              ...
133  01.08.2030             0.02
134  01.09.2030             0.03
135  01.10.2030             0.03
136  01.11.2030             0.03
137  01.12.2030             0.03

[138 rows x 2 columns]

In [389]:
ntmont_losses["Month"]=ntmont_losses["Month"].astype('str')
ntmont_losses["Losses at 132kV"]=ntmont_losses["Losses at 132kV"].astype('float')

In [390]:
def NTDCL_Losses_Forecast_Monthly(Year,Parameter,Value):
    try:
        connection = mysql.connector.connect(host='localhost',
                                database='General_Assumptions',
                                user='root',
                                password='2002LhrcanttGBHS2005')
        cursor = connection.cursor()
        mySql_insert_query = "INSERT INTO "+str(table_gen_asmptn[3])+"("+str(columns_table_gen_asmtn[3])+")"+" VALUES("+",".join(["%s"]*len(columns_table_gen_asmtn[1].split(',')))+")"
      
        record = (Year,Parameter,Value)
        cursor.execute(mySql_insert_query,record)
        connection.commit()
        print("Record inserted successfully into the table")
            
    except mysql.connector.Error as error:
        print("Failed to insert into MySQL table {}".format(error))

    finally:
        if connection.is_connected():
            cursor.close()
            connection.close()
            print("MySQL connection is closed")

#for prm in range(1,len(ntmont_losses.columns)):
#    for yr in range(0,len(ntmont_losses.index)):
#        NTDCL_Losses_Forecast_Monthly(ntmont_losses.iat[yr,0],ntmont_losses.columns[prm],ntmont_losses.iat[yr,prm])

In [391]:
#for prm in range(1,len(ntmont_losses.columns)):
#    for yr in range(0,len(ntmont_losses.index)):
#        print(ntmont_losses.iat[yr,0],ntmont_losses.columns[prm],ntmont_losses.iat[yr,prm])

In [392]:
Pak_CPI_for_DM={'Year':[2020,2021,2022,2023,2024,2025,2026,2027,2028,2029,2030],
                'Pak CPI for DM':[266.20,278.70,292.63,307.26,322.63,338.76,355.70,373.48,392.16,411.76,432.35]}
pk_cpi_dm=pd.DataFrame(Pak_CPI_for_DM)
pk_cpi_dm

    Year  Pak CPI for DM
0   2020          266.20
1   2021          278.70
2   2022          292.63
3   2023          307.26
4   2024          322.63
5   2025          338.76
6   2026          355.70
7   2027          373.48
8   2028          392.16
9   2029          411.76
10  2030          432.35

In [393]:
pk_cpi_dm["Year"]=pk_cpi_dm["Year"].astype('str')
pk_cpi_dm["Pak CPI for DM"]=pk_cpi_dm["Pak CPI for DM"].astype('float')

In [394]:
def Pak_CPI_for_DM(Year,Parameter,Value):
    try:
        connection = mysql.connector.connect(host='localhost',
                                database='General_Assumptions',
                                user='root',
                                password='2002LhrcanttGBHS2005')
        cursor = connection.cursor()
        mySql_insert_query = "INSERT INTO "+str(table_gen_asmptn[4])+"("+str(columns_table_gen_asmtn[4])+")"+" VALUES("+",".join(["%s"]*len(columns_table_gen_asmtn[1].split(',')))+")"
      
        record = (Year,Parameter,Value)
        cursor.execute(mySql_insert_query,record)
        connection.commit()
        print("Record inserted successfully into the table")
            
    except mysql.connector.Error as error:
        print("Failed to insert into MySQL table {}".format(error))

    finally:
        if connection.is_connected():
            cursor.close()
            connection.close()
            print("MySQL connection is closed")

#for prm in range(1,len(pk_cpi_dm.columns)):
#    for yr in range(0,len(pk_cpi_dm.index)):
#        Pak_CPI_for_DM(pk_cpi_dm.iat[yr,0],pk_cpi_dm.columns[prm],pk_cpi_dm.iat[yr,prm])

In [395]:
connection.reconnect()
cursor=connection.cursor()

In [396]:
cursor.execute("DROP TABLE IF EXISTS Disco_losses")
cursor.execute("DROP TABLE IF EXISTS Distribution_Margin_millionRs")
cursor.execute("DROP TABLE IF EXISTS PYA_BlnRs")

In [397]:
cursor.execute("CREATE DATABASE IF NOT EXISTS Input_and_Assumptions_for_CEM")
cursor.execute("USE Input_and_Assumptions_for_CEM")
cursor.execute("CREATE TABLE IF NOT EXISTS Disco_losses (Year VARCHAR(255),DISCO VARCHAR(255), Percentage DECIMAL(10,4))")
cursor.execute("CREATE TABLE IF NOT EXISTS Distribution_Margin_millionRs (DISCOs VARCHAR(255),Parameter VARCHAR(255), Value DECIMAL(10,4))")
cursor.execute("CREATE TABLE IF NOT EXISTS PYA_BlnRs (Date VARCHAR(255),DISCO VARCHAR(255), PYA_BlnRs DECIMAL(10,4))")

In [398]:
asmptn_for_cem = pd.read_excel(CET_wrkbk, sheet_name="Inputs & Assumptions for CEM")
pd.DataFrame(asmptn_for_cem)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 47,Unnamed: 48,Unnamed: 49,Unnamed: 50,Unnamed: 51,Unnamed: 52,Unnamed: 53,Unnamed: 54,Unnamed: 55,Unnamed: 56
0,CPI Input for DM Evaluation - FY2020 - FY2030,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,-->,Consumer Price Index (CPI) *,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,FY-2020,FY-2021,FY-2022,FY-2023,FY-2024,FY-2025,FY-2026,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,266.2,278.698,292.63292,307.264566,322.627795,338.759184,355.697144,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
255,NaN,Tariff I- Railway Traction,NaN,NaN,14.65,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
256,NaN,Total Others,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
257,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
258,NaN,Total,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
259,NaN,NaN,NaN,NaN,Rs./kWh,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [399]:
discowise_losses=asmptn_for_cem.iloc[27:37,3:14]
pd.DataFrame(discowise_losses)

,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
27,0.0865,0.0865,0.0865,0.0865,0.0865,0.0865,0.0865,0.0865,0.0865,0.0865,0.0865
28,0.117598,0.117598,0.117598,0.117598,0.117598,0.117598,0.117598,0.117598,0.117598,0.117598,0.117598
29,0.1003,0.1003,0.1003,0.1003,0.1003,0.1003,0.1003,0.1003,0.1003,0.1003,0.1003
30,0.102379,0.102379,0.102379,0.102379,0.102379,0.102379,0.102379,0.102379,0.102379,0.102379,0.102379
31,0.15,0.15,0.15,0.15,0.15,0.15,0.15,0.15,0.15,0.15,0.15
32,0.3195,0.3195,0.3195,0.3195,0.3195,0.3195,0.3195,0.3195,0.3195,0.3195,0.3195
33,0.124559,0.124559,0.124559,0.124559,0.124559,0.124559,0.124559,0.124559,0.124559,0.124559,0.124559
34,0.2259,0.2259,0.2259,0.2259,0.2259,0.2259,0.2259,0.2259,0.2259,0.2259,0.2259
35,0.175,0.175,0.175,0.175,0.175,0.175,0.175,0.175,0.175,0.175,0.175
36,0.2975,0.2975,0.2975,0.2975,0.2975,0.2975,0.2975,0.2975,0.2975,0.2975,0.2975

In [400]:
year_col=[]
xo=2020
for eel in range(0,11):
    year_col.append((datetime.datetime.strptime(str(xo+eel),'%Y')))

In [401]:
year_col=pd.to_datetime(year_col,format='%Y')
year_col=year_col.strftime("%Y")

In [402]:
year_col

Index(['2020', '2021', '2022', '2023', '2024', '2025', '2026', '2027', '2028',
       '2029', '2030'],
      dtype='object')

In [403]:
#discowise_losses.loc[-1] = year_col  # adding a row
#discowise_losses.index = discowise_losses.index + 1  # shifting index
#discowise_losses = discowise_losses.sort_index()

In [404]:
discowise_losses.columns=year_col
discowise_losses

,2020,2021,2022,2023,2024,2025,2026,2027,2028,2029,2030
27,0.0865,0.0865,0.0865,0.0865,0.0865,0.0865,0.0865,0.0865,0.0865,0.0865,0.0865
28,0.117598,0.117598,0.117598,0.117598,0.117598,0.117598,0.117598,0.117598,0.117598,0.117598,0.117598
29,0.1003,0.1003,0.1003,0.1003,0.1003,0.1003,0.1003,0.1003,0.1003,0.1003,0.1003
30,0.102379,0.102379,0.102379,0.102379,0.102379,0.102379,0.102379,0.102379,0.102379,0.102379,0.102379
31,0.15,0.15,0.15,0.15,0.15,0.15,0.15,0.15,0.15,0.15,0.15
32,0.3195,0.3195,0.3195,0.3195,0.3195,0.3195,0.3195,0.3195,0.3195,0.3195,0.3195
33,0.124559,0.124559,0.124559,0.124559,0.124559,0.124559,0.124559,0.124559,0.124559,0.124559,0.124559
34,0.2259,0.2259,0.2259,0.2259,0.2259,0.2259,0.2259,0.2259,0.2259,0.2259,0.2259
35,0.175,0.175,0.175,0.175,0.175,0.175,0.175,0.175,0.175,0.175,0.175
36,0.2975,0.2975,0.2975,0.2975,0.2975,0.2975,0.2975,0.2975,0.2975,0.2975,0.2975

In [405]:
discos=['IESCO','LESCO', 'GEPCO', 'FESCO', 'MEPCO', 'PESCO', 'HESCO', 'QESCO', 'SEPCO', 'TESCO']
discos1=[ 'IESCO', 'LESCO', 'GEPCO', 'FESCO', 'MEPCO', 'PESCO', 'TESCO', 'HESCO', 'QESCO', 'SEPCO']

In [406]:
#disco_losses_with_discos=discowise_losses.insert(0,'DISCOs',discos1)

In [407]:
#disco_losses_with_discos

In [408]:
def Disco_losses(Year,DISCO,Percentage):
    try:
        connection = mysql.connector.connect(host='localhost',
                                database='Input_and_Assumptions_for_CEM',
                                user='root',
                                password='2002LhrcanttGBHS2005')
        cursor = connection.cursor()
        mySql_insert_query = """INSERT INTO Disco_losses(Year,DISCO,Percentage) 
                                VALUES (%s,%s,%s) """
      
        record = (Year,DISCO,Percentage)
        cursor.execute(mySql_insert_query,record)
        connection.commit()
        print("Record inserted successfully into the table")
            
    except mysql.connector.Error as error:
        print("Failed to insert into MySQL table {}".format(error))

    finally:
        if connection.is_connected():
            cursor.close()
            connection.close()
            print("MySQL connection is closed")

#for prm in range(0,len(discos)):
#    for yr in range(0,len(year_col)):
#        Disco_losses(year_col[yr],discos[prm],discowise_losses.iat[prm,yr])

In [409]:
for prm in range(0,len(discos)):
    for yr in range(0,len(year_col)):
        print(year_col[yr],discos[prm],discowise_losses.iat[prm,yr])

2020 IESCO 0.0865
2021 IESCO 0.0865
2022 IESCO 0.0865
2023 IESCO 0.0865
2024 IESCO 0.0865
2025 IESCO 0.0865
2026 IESCO 0.0865
2027 IESCO 0.0865
2028 IESCO 0.0865
2029 IESCO 0.0865
2030 IESCO 0.0865
2020 LESCO 0.11759803020475948
2021 LESCO 0.11759803020475948
2022 LESCO 0.11759803020475948
2023 LESCO 0.11759803020475948
2024 LESCO 0.11759803020475948
2025 LESCO 0.11759803020475948
2026 LESCO 0.11759803020475948
2027 LESCO 0.11759803020475948
2028 LESCO 0.11759803020475948
2029 LESCO 0.11759803020475948
2030 LESCO 0.11759803020475948
2020 GEPCO 0.10029999999999994
2021 GEPCO 0.10029999999999994
2022 GEPCO 0.10029999999999994
2023 GEPCO 0.10029999999999994
2024 GEPCO 0.10029999999999994
2025 GEPCO 0.10029999999999994
2026 GEPCO 0.10029999999999994
2027 GEPCO 0.10029999999999994
2028 GEPCO 0.10029999999999994
2029 GEPCO 0.10029999999999994
2030 GEPCO 0.10029999999999994
2020 FESCO 0.1023791305743498
2021 FESCO 0.1023791305743498
2022 FESCO 0.1023791305743498
2023 FESCO 0.1023791305743498
2024 FESCO 0.1023791305743498
2025 FESCO 0.1023791305743498
2026 FESCO 0.1023791305743498
2027 FESCO 0.1023791305743498
2028 FESCO 0.1023791305743498
2029 FESCO 0.1023791305743498
2030 FESCO 0.1023791305743498
2020 MEPCO 0.15000000000000002
2021 MEPCO 0.15000000000000002
2022 MEPCO 0.15000000000000002
2023 MEPCO 0.15000000000000002
2024 MEPCO 0.15000000000000002
2025 MEPCO 0.15000000000000002
2026 MEPCO 0.15000000000000002
2027 MEPCO 0.15000000000000002
2028 MEPCO 0.15000000000000002
2029 MEPCO 0.15000000000000002
2030 MEPCO 0.15000000000000002
2020 PESCO 0.31950000000000006
2021 PESCO 0.31950000000000006
2022 PESCO 0.31950000000000006
2023 PESCO 0.31950000000000006
2024 PESCO 0.31950000000000006
2025 PESCO 0.31950000000000006
2026 PESCO 0.31950000000000006
2027 PESCO 0.31950000000000006
2028 PESCO 0.31950000000000006
2029 PESCO 0.31950000000000006
2030 PESCO 0.31950000000000006
2020 HESCO 0.12455874936964201
2021 HESCO 0.12455874936964201
2022 HESCO 0.12455874936964201
2023 HESCO 0.12455874936964201
2024 HESCO 0.12455874936964201
2025 HESCO 0.12455874936964201
2026 HESCO 0.12455874936964201
2027 HESCO 0.12455874936964201
2028 HESCO 0.12455874936964201
2029 HESCO 0.12455874936964201
2030 HESCO 0.12455874936964201
2020 QESCO 0.2258999999999999
2021 QESCO 0.2258999999999999
2022 QESCO 0.2258999999999999
2023 QESCO 0.2258999999999999
2024 QESCO 0.2258999999999999
2025 QESCO 0.2258999999999999
2026 QESCO 0.2258999999999999
2027 QESCO 0.2258999999999999
2028 QESCO 0.2258999999999999
2029 QESCO 0.2258999999999999
2030 QESCO 0.2258999999999999
2020 SEPCO 0.17499999999999996
2021 SEPCO 0.17499999999999996
2022 SEPCO 0.17499999999999996
2023 SEPCO 0.17499999999999996
2024 SEPCO 0.17499999999999996
2025 SEPCO 0.17499999999999996
2026 SEPCO 0.17499999999999996
2027 SEPCO 0.17499999999999996
2028 SEPCO 0.17499999999999996
2029 SEPCO 0.17499999999999996
2030 SEPCO 0.17499999999999996
2020 TESCO 0.29750000000000004
2021 TESCO 0.29750000000000004
2022 TESCO 0.29750000000000004
2023 TESCO 0.29750000000000004
2024 TESCO 0.29750000000000004
2025 TESCO 0.29750000000000004
2026 TESCO 0.29750000000000004
2027 TESCO 0.29750000000000004
2028 TESCO 0.29750000000000004
2029 TESCO 0.29750000000000004
2030 TESCO 0.29750000000000004

In [410]:
print(discowise_losses.columns)

Index(['2020', '2021', '2022', '2023', '2024', '2025', '2026', '2027', '2028',
       '2029', '2030'],
      dtype='object')

In [411]:
discowise_losses.iat[0,0]

0.0865

In [412]:
print(discos)

['IESCO', 'LESCO', 'GEPCO', 'FESCO', 'MEPCO', 'PESCO', 'HESCO', 'QESCO', 'SEPCO', 'TESCO']

In [413]:
dm_mln={'DISCOs':[  'IESCO', 'LESCO', 'GEPCO', 'FESCO', 'MEPCO', 'PESCO', 'TESCO', 'HESCO', 'QESCO', 'SEPCO'],
        'DM Million Rs':[17370,29523,14418,21243, 20519 ,19176, 2856, 10639, 10257, 7788],
        'MW':[2294.42,5109.30,2517.64,3327.28,4336.65,2739.11,449.50,1474.85,1345.56,926.57]}

In [414]:
dm_million_df=pd.DataFrame(dm_mln)
dm_million_df

  DISCOs  DM Million Rs       MW
0  IESCO          17370  2294.42
1  LESCO          29523  5109.30
2  GEPCO          14418  2517.64
3  FESCO          21243  3327.28
4  MEPCO          20519  4336.65
5  PESCO          19176  2739.11
6  TESCO           2856   449.50
7  HESCO          10639  1474.85
8  QESCO          10257  1345.56
9  SEPCO           7788   926.57

In [415]:
dm_million_df["DISCOs"]=dm_million_df["DISCOs"].astype('str')
dm_million_df["DM Million Rs"]=dm_million_df["DM Million Rs"].astype('float')
dm_million_df["MW"]=dm_million_df["MW"].astype('float')

In [416]:
def DM_millionRs(DISCOs,Parameter,Value):
    try:
        connection = mysql.connector.connect(host='localhost',
                                database='Input_and_Assumptions_for_CEM',
                                user='root',
                                password='2002LhrcanttGBHS2005')
        cursor = connection.cursor()
        mySql_insert_query = """INSERT INTO Distribution_Margin_millionRs(DISCOs,Parameter,Value) 
                                VALUES (%s,%s,%s) """
      
        record = (DISCOs,Parameter,Value)
        cursor.execute(mySql_insert_query,record)
        connection.commit()
        print("Record inserted successfully into the table")
            
    except mysql.connector.Error as error:
        print("Failed to insert into MySQL table {}".format(error))

    finally:
        if connection.is_connected():
            cursor.close()
            connection.close()
            print("MySQL connection is closed")

#for prm in range(1,len(dm_million_df.columns)):
#    for yr in range(0,len(dm_million_df.index)):
#        DM_millionRs(dm_million_df.iat[yr,0],dm_million_df.columns[prm],dm_million_df.iat[yr,prm])

In [417]:
for prm in range(1,len(dm_million_df.columns)):
    for yr in range(0,len(dm_million_df.index)):
        print(dm_million_df.iat[yr,0],dm_million_df.columns[prm],dm_million_df.iat[yr,prm])

IESCO DM Million Rs 17370.0
LESCO DM Million Rs 29523.0
GEPCO DM Million Rs 14418.0
FESCO DM Million Rs 21243.0
MEPCO DM Million Rs 20519.0
PESCO DM Million Rs 19176.0
TESCO DM Million Rs 2856.0
HESCO DM Million Rs 10639.0
QESCO DM Million Rs 10257.0
SEPCO DM Million Rs 7788.0
IESCO MW 2294.42
LESCO MW 5109.3
GEPCO MW 2517.64
FESCO MW 3327.28
MEPCO MW 4336.65
PESCO MW 2739.11
TESCO MW 449.5
HESCO MW 1474.85
QESCO MW 1345.56
SEPCO MW 926.57

In [418]:
#for prm in discos:
 #   for yr in range(2020,2031):
 #       print(yr,prm)

In [419]:
connection.reconnect()
cursor=connection.cursor()

In [420]:
cursor.execute("CREATE DATABASE IF NOT EXISTS DISCOs_Revenue_Requirement")
cursor.execute("USE DISCOs_Revenue_Requirement")

In [421]:
cursor.execute("DROP TABLE IF EXISTS DISCOs_Revenue_Requirements")
cursor.execute("CREATE TABLE IF NOT EXISTS DISCOs_Revenue_Requirements (DISCOs VARCHAR(255), Parameter VARCHAR(255), Value DECIMAL(10,4))")

In [422]:
rev_rr_temp = pd.read_excel(CET_wrkbk, sheet_name="DISCOs RR")
pd.DataFrame(rev_rr_temp)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15
0,NaN,Revsied Revenue Requirement FY 2017-18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,Description,Unit,IESCO,LESCO,GEPCO,FESCO,MEPCO,PESCO,HESCO,QESCO,SEPCO,TESCO,Total,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,Units Received,[BkWh],12.206495,25.188025,11.441684,15.501382,20.568061,14.901361,5.917477,6.577692,4.712495,1.817365,118.832038,NaN,NaN
4,NaN,Units Sold,NaN,11.150634,22.225963,10.294083,13.914364,17.482852,10.140376,4.580719,5.426596,3.310527,1.590996,100.117111,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81,NaN,Import from Iran,NaN,496,5237,10.558468,NaN,442.558406,4668.991183,10.55,NaN,554.739325,6268.170429,11.299308,NaN,NaN
82,NaN,Wind Power,NaN,3234,641,0.198207,NaN,723.959166,975.165319,1.346989,NaN,2145.06549,0,0,NaN,NaN
83,NaN,Bagasse,NaN,3517,23465,6.671879,NaN,318.951338,1977.466402,6.1999,NaN,1057.378714,6588.049385,6.230549,NaN,NaN
84,NaN,Solar,NaN,701,0,0,NaN,25.93356,64.149254,2.4736,NaN,702.17277,0,0,NaN,NaN
85,NaN,NaN,NaN,131435,484223,3.684125,NaN,98988.603647,560080.469979,5.65803,NaN,120718.674928,628161.144369,5.203513,NaN,NaN

In [423]:
rev_rr_units=rev_rr_temp.iloc[3:46,3:13]

In [424]:
pd.DataFrame(rev_rr_units)

,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
3,12.206495,25.188025,11.441684,15.501382,20.568061,14.901361,5.917477,6.577692,4.712495,1.817365
4,11.150634,22.225963,10.294083,13.914364,17.482852,10.140376,4.580719,5.426596,3.310527,1.590996
5,1.122,3.169855,1.241251,1.620866,3.162435,4.568234,1.345954,1.163341,1.442302,0.247
6,0.0865,0.117598,0.1003,0.102379,0.15,0.3195,0.2259,0.175,0.2975,0.124559
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,66.502354,136.693383,61.992141,84.014898,111.172436,81.53011,32.05094,36.005957,25.51196,10.002211
9,82.614327,183.521722,83.108765,120.85428,154.826993,109.498818,54.80835,52.422524,35.793424,10.720411
10,3.970939,8.818729,4.047661,5.798938,7.457723,5.227413,2.641031,2.472111,1.732157,0.507838
11,153.08762,329.033834,149.148568,210.668116,273.457152,196.256341,89.500321,90.900593,63.037541,21.23046
12,13.72,25.476,10.880904,16.462,15.061636,15.294903,8.206031,5.116772,5.977,0.896
13,2.617,3.331,1.862252,3.751,4.095283,2.572638,1.505646,1.489737,1.131223,2.48
14,3.223,4.045,2.96896,3.455,4.541417,3.468224,2.573386,4.58147,1.541697,0.195
15,-2.19,-3.329,-1.293943,-2.425,-3.179,-2.16,-1.646548,-0.931,-0.862,-0.715
16,17.37,29.523,14.418173,21.243,20.519336,19.175765,10.638517,10.25698,7.787919,2.856
17,0.210254,0.160869,0.173486,0.175774,0.132531,0.175123,0.194104,0.19566,0.21758,0.266408
18,18.476,52.775,7.674524,37.017,49.17008,26.207284,19.778251,6.563129,9.546908,-0.595
19,14.357816,19.656942,0.927,17.318205,34.713,7.191,14.582,0.156,5.7074,0.498964
20,-4.503237,-16.293587,-8.093,-10.295301,-16.376,-9.077,5.189,1.215,1.629758,0.809057
21,28.330578,56.138355,0.508524,44.039904,67.50708,24.321284,39.549251,7.934129,16.884066,0.713021
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,198.788199,414.69519,164.075265,275.95102,361.483568,239.75339,139.688088,109.091702,87.709526,24.799481
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,13.729051,14.80403,14.488766,15.140333,15.64145,19.353951,19.538489,16.750943,19.04154,13.34413
28,1.557759,1.328311,1.400627,1.526696,1.173684,1.891031,2.322456,1.890132,2.352471,1.795102
29,2.540715,2.525801,0.0494,3.165068,3.861331,2.39846,8.633853,1.462082,5.100114,0.44816
30,0,0,0,0,0,0,0,0,0,0
31,17.827525,18.658143,15.938793,19.832097,20.676464,23.643442,30.494797,20.103156,26.494124,15.587391
32,-17.827525,-18.658143,-15.938793,-19.832097,-20.676464,-23.643442,-30.494797,-20.103156,-26.494124,-15.587391
33,-198.788199,-414.69519,-164.075265,-275.95102,-361.483568,-239.75339,-139.688088,-109.091702,-87.709526,-24.799481
34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,9.259936,9.846632,9.954161,9.773513,10.153143,12.210014,11.522367,10.841985,12.850964,11.459526
36,1.396472,1.324488,1.553694,1.169134,1.199166,1.834615,1.87713,1.196941,1.944009,1.901651
37,1.187294,0.198271,-0.999243,0.687873,1.516673,-0.23241,4.587031,0.314221,2.386549,1.124502
38,0,0.16794,0.020747,0.01579,0.112952,1.940465,0.477612,0,0.653385,0
39,11.843702,11.537331,10.529358,11.64631,12.981933,15.752685,18.46414,12.353148,17.834907,14.485679
40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,7.361634,11.183041,5.582378,8.080838,9.254698,4.859248,1.99522,3.187537,1.171901,0.257481

In [425]:
rev_rr_units.dropna(axis=0,inplace=True)
rev_rr_units.reset_index(drop=True)
rev_rr_units

,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
3,12.206495,25.188025,11.441684,15.501382,20.568061,14.901361,5.917477,6.577692,4.712495,1.817365
4,11.150634,22.225963,10.294083,13.914364,17.482852,10.140376,4.580719,5.426596,3.310527,1.590996
5,1.122,3.169855,1.241251,1.620866,3.162435,4.568234,1.345954,1.163341,1.442302,0.247
6,0.0865,0.117598,0.1003,0.102379,0.15,0.3195,0.2259,0.175,0.2975,0.124559
8,66.502354,136.693383,61.992141,84.014898,111.172436,81.53011,32.05094,36.005957,25.51196,10.002211
9,82.614327,183.521722,83.108765,120.85428,154.826993,109.498818,54.80835,52.422524,35.793424,10.720411
10,3.970939,8.818729,4.047661,5.798938,7.457723,5.227413,2.641031,2.472111,1.732157,0.507838
11,153.08762,329.033834,149.148568,210.668116,273.457152,196.256341,89.500321,90.900593,63.037541,21.23046
12,13.72,25.476,10.880904,16.462,15.061636,15.294903,8.206031,5.116772,5.977,0.896
13,2.617,3.331,1.862252,3.751,4.095283,2.572638,1.505646,1.489737,1.131223,2.48
14,3.223,4.045,2.96896,3.455,4.541417,3.468224,2.573386,4.58147,1.541697,0.195
15,-2.19,-3.329,-1.293943,-2.425,-3.179,-2.16,-1.646548,-0.931,-0.862,-0.715
16,17.37,29.523,14.418173,21.243,20.519336,19.175765,10.638517,10.25698,7.787919,2.856
17,0.210254,0.160869,0.173486,0.175774,0.132531,0.175123,0.194104,0.19566,0.21758,0.266408
18,18.476,52.775,7.674524,37.017,49.17008,26.207284,19.778251,6.563129,9.546908,-0.595
19,14.357816,19.656942,0.927,17.318205,34.713,7.191,14.582,0.156,5.7074,0.498964
20,-4.503237,-16.293587,-8.093,-10.295301,-16.376,-9.077,5.189,1.215,1.629758,0.809057
21,28.330578,56.138355,0.508524,44.039904,67.50708,24.321284,39.549251,7.934129,16.884066,0.713021
23,198.788199,414.69519,164.075265,275.95102,361.483568,239.75339,139.688088,109.091702,87.709526,24.799481
27,13.729051,14.80403,14.488766,15.140333,15.64145,19.353951,19.538489,16.750943,19.04154,13.34413
28,1.557759,1.328311,1.400627,1.526696,1.173684,1.891031,2.322456,1.890132,2.352471,1.795102
29,2.540715,2.525801,0.0494,3.165068,3.861331,2.39846,8.633853,1.462082,5.100114,0.44816
30,0,0,0,0,0,0,0,0,0,0
31,17.827525,18.658143,15.938793,19.832097,20.676464,23.643442,30.494797,20.103156,26.494124,15.587391
32,-17.827525,-18.658143,-15.938793,-19.832097,-20.676464,-23.643442,-30.494797,-20.103156,-26.494124,-15.587391
33,-198.788199,-414.69519,-164.075265,-275.95102,-361.483568,-239.75339,-139.688088,-109.091702,-87.709526,-24.799481
35,9.259936,9.846632,9.954161,9.773513,10.153143,12.210014,11.522367,10.841985,12.850964,11.459526
36,1.396472,1.324488,1.553694,1.169134,1.199166,1.834615,1.87713,1.196941,1.944009,1.901651
37,1.187294,0.198271,-0.999243,0.687873,1.516673,-0.23241,4.587031,0.314221,2.386549,1.124502
38,0,0.16794,0.020747,0.01579,0.112952,1.940465,0.477612,0,0.653385,0
39,11.843702,11.537331,10.529358,11.64631,12.981933,15.752685,18.46414,12.353148,17.834907,14.485679
45,7.361634,11.183041,5.582378,8.080838,9.254698,4.859248,1.99522,3.187537,1.171901,0.257481

In [426]:
rev_rr_units.drop([11,16,17,21,23,27,28,29,30,31,32,33,39],axis=0,inplace=True)
rev_rr_units

,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
3,12.206495,25.188025,11.441684,15.501382,20.568061,14.901361,5.917477,6.577692,4.712495,1.817365
4,11.150634,22.225963,10.294083,13.914364,17.482852,10.140376,4.580719,5.426596,3.310527,1.590996
5,1.122,3.169855,1.241251,1.620866,3.162435,4.568234,1.345954,1.163341,1.442302,0.247
6,0.0865,0.117598,0.1003,0.102379,0.15,0.3195,0.2259,0.175,0.2975,0.124559
8,66.502354,136.693383,61.992141,84.014898,111.172436,81.53011,32.05094,36.005957,25.51196,10.002211
9,82.614327,183.521722,83.108765,120.85428,154.826993,109.498818,54.80835,52.422524,35.793424,10.720411
10,3.970939,8.818729,4.047661,5.798938,7.457723,5.227413,2.641031,2.472111,1.732157,0.507838
12,13.72,25.476,10.880904,16.462,15.061636,15.294903,8.206031,5.116772,5.977,0.896
13,2.617,3.331,1.862252,3.751,4.095283,2.572638,1.505646,1.489737,1.131223,2.48
14,3.223,4.045,2.96896,3.455,4.541417,3.468224,2.573386,4.58147,1.541697,0.195
15,-2.19,-3.329,-1.293943,-2.425,-3.179,-2.16,-1.646548,-0.931,-0.862,-0.715
18,18.476,52.775,7.674524,37.017,49.17008,26.207284,19.778251,6.563129,9.546908,-0.595
19,14.357816,19.656942,0.927,17.318205,34.713,7.191,14.582,0.156,5.7074,0.498964
20,-4.503237,-16.293587,-8.093,-10.295301,-16.376,-9.077,5.189,1.215,1.629758,0.809057
35,9.259936,9.846632,9.954161,9.773513,10.153143,12.210014,11.522367,10.841985,12.850964,11.459526
36,1.396472,1.324488,1.553694,1.169134,1.199166,1.834615,1.87713,1.196941,1.944009,1.901651
37,1.187294,0.198271,-0.999243,0.687873,1.516673,-0.23241,4.587031,0.314221,2.386549,1.124502
38,0,0.16794,0.020747,0.01579,0.112952,1.940465,0.477612,0,0.653385,0
45,7.361634,11.183041,5.582378,8.080838,9.254698,4.859248,1.99522,3.187537,1.171901,0.257481

In [427]:
rev_rr_units.columns=discos
rev_rr_units

,IESCO,LESCO,GEPCO,FESCO,MEPCO,PESCO,HESCO,QESCO,SEPCO,TESCO
3,12.206495,25.188025,11.441684,15.501382,20.568061,14.901361,5.917477,6.577692,4.712495,1.817365
4,11.150634,22.225963,10.294083,13.914364,17.482852,10.140376,4.580719,5.426596,3.310527,1.590996
5,1.122,3.169855,1.241251,1.620866,3.162435,4.568234,1.345954,1.163341,1.442302,0.247
6,0.0865,0.117598,0.1003,0.102379,0.15,0.3195,0.2259,0.175,0.2975,0.124559
8,66.502354,136.693383,61.992141,84.014898,111.172436,81.53011,32.05094,36.005957,25.51196,10.002211
9,82.614327,183.521722,83.108765,120.85428,154.826993,109.498818,54.80835,52.422524,35.793424,10.720411
10,3.970939,8.818729,4.047661,5.798938,7.457723,5.227413,2.641031,2.472111,1.732157,0.507838
12,13.72,25.476,10.880904,16.462,15.061636,15.294903,8.206031,5.116772,5.977,0.896
13,2.617,3.331,1.862252,3.751,4.095283,2.572638,1.505646,1.489737,1.131223,2.48
14,3.223,4.045,2.96896,3.455,4.541417,3.468224,2.573386,4.58147,1.541697,0.195
15,-2.19,-3.329,-1.293943,-2.425,-3.179,-2.16,-1.646548,-0.931,-0.862,-0.715
18,18.476,52.775,7.674524,37.017,49.17008,26.207284,19.778251,6.563129,9.546908,-0.595
19,14.357816,19.656942,0.927,17.318205,34.713,7.191,14.582,0.156,5.7074,0.498964
20,-4.503237,-16.293587,-8.093,-10.295301,-16.376,-9.077,5.189,1.215,1.629758,0.809057
35,9.259936,9.846632,9.954161,9.773513,10.153143,12.210014,11.522367,10.841985,12.850964,11.459526
36,1.396472,1.324488,1.553694,1.169134,1.199166,1.834615,1.87713,1.196941,1.944009,1.901651
37,1.187294,0.198271,-0.999243,0.687873,1.516673,-0.23241,4.587031,0.314221,2.386549,1.124502
38,0,0.16794,0.020747,0.01579,0.112952,1.940465,0.477612,0,0.653385,0
45,7.361634,11.183041,5.582378,8.080838,9.254698,4.859248,1.99522,3.187537,1.171901,0.257481

In [428]:
rev_rr_descptn=['Units Received','Units Sold','Units Lost','Losses_pct','Energy Charge','Capacity Charge',
                'Transmission Charge','O&M Cost','Depreciation','RORB','O.Income','DM_FY 18','DM_FY 17','DM_FY 16',
                'Power Purchase Price FY 2015-16','Distribution Margin FY 2015-16','PYA Adjustments FY 2015-16','Write Off FY 2015-16','Fixed_Revenue']

In [429]:
rev_rr_units.insert(0,'Description',rev_rr_descptn)
rev_rr_units

,Description,IESCO,LESCO,GEPCO,FESCO,MEPCO,PESCO,HESCO,QESCO,SEPCO,TESCO
3,Units Received,12.206495,25.188025,11.441684,15.501382,20.568061,14.901361,5.917477,6.577692,4.712495,1.817365
4,Units Sold,11.150634,22.225963,10.294083,13.914364,17.482852,10.140376,4.580719,5.426596,3.310527,1.590996
5,Units Lost,1.122,3.169855,1.241251,1.620866,3.162435,4.568234,1.345954,1.163341,1.442302,0.247
6,Losses_pct,0.0865,0.117598,0.1003,0.102379,0.15,0.3195,0.2259,0.175,0.2975,0.124559
8,Energy Charge,66.502354,136.693383,61.992141,84.014898,111.172436,81.53011,32.05094,36.005957,25.51196,10.002211
9,Capacity Charge,82.614327,183.521722,83.108765,120.85428,154.826993,109.498818,54.80835,52.422524,35.793424,10.720411
10,Transmission Charge,3.970939,8.818729,4.047661,5.798938,7.457723,5.227413,2.641031,2.472111,1.732157,0.507838
12,O&M Cost,13.72,25.476,10.880904,16.462,15.061636,15.294903,8.206031,5.116772,5.977,0.896
13,Depreciation,2.617,3.331,1.862252,3.751,4.095283,2.572638,1.505646,1.489737,1.131223,2.48
14,RORB,3.223,4.045,2.96896,3.455,4.541417,3.468224,2.573386,4.58147,1.541697,0.195
15,O.Income,-2.19,-3.329,-1.293943,-2.425,-3.179,-2.16,-1.646548,-0.931,-0.862,-0.715
18,DM_FY 18,18.476,52.775,7.674524,37.017,49.17008,26.207284,19.778251,6.563129,9.546908,-0.595
19,DM_FY 17,14.357816,19.656942,0.927,17.318205,34.713,7.191,14.582,0.156,5.7074,0.498964
20,DM_FY 16,-4.503237,-16.293587,-8.093,-10.295301,-16.376,-9.077,5.189,1.215,1.629758,0.809057
35,Power Purchase Price FY 2015-16,9.259936,9.846632,9.954161,9.773513,10.153143,12.210014,11.522367,10.841985,12.850964,11.459526
36,Distribution Margin FY 2015-16,1.396472,1.324488,1.553694,1.169134,1.199166,1.834615,1.87713,1.196941,1.944009,1.901651
37,PYA Adjustments FY 2015-16,1.187294,0.198271,-0.999243,0.687873,1.516673,-0.23241,4.587031,0.314221,2.386549,1.124502
38,Write Off FY 2015-16,0,0.16794,0.020747,0.01579,0.112952,1.940465,0.477612,0,0.653385,0
45,Fixed_Revenue,7.361634,11.183041,5.582378,8.080838,9.254698,4.859248,1.99522,3.187537,1.171901,0.257481

In [430]:
def DISCOs_Revenue_Requirements(DISCOs,Parameter,Value):
    try:
        connection = mysql.connector.connect(host='localhost',
                                database='DISCOs_Revenue_Requirement',
                                user='root',
                                password='2002LhrcanttGBHS2005')
        cursor = connection.cursor()
        mySql_insert_query = """INSERT INTO DISCOs_Revenue_Requirements(DISCOs,Parameter,Value) 
                                VALUES (%s,%s,%s) """
      
        record = (DISCOs,Parameter,Value)
        cursor.execute(mySql_insert_query,record)
        connection.commit()
        print("Record inserted successfully into the table")
            
    except mysql.connector.Error as error:
        print("Failed to insert into MySQL table {}".format(error))

    finally:
        if connection.is_connected():
            cursor.close()
            connection.close()
            print("MySQL connection is closed")

#for dsc in range(1,len(rev_rr_units.columns)):
#    for prm in range(0,len(rev_rr_units.index)):
#        DISCOs_Revenue_Requirements(rev_rr_units.columns[dsc],rev_rr_units.iat[prm,0],rev_rr_units.iat[prm,dsc])

In [431]:
#for dsc in range(1,len(rev_rr_units.columns)):
#    for prm in range(0,len(rev_rr_units.index)):
#        print(rev_rr_units.columns[dsc],rev_rr_units.iat[prm,0],rev_rr_units.iat[prm,dsc])

In [432]:
connection.reconnect()
cursor=connection.cursor()

In [433]:
cursor.execute("USE Input_and_Assumptions_for_CEM")

In [434]:
asmptn_for_cem = pd.read_excel(CET_wrkbk, sheet_name="Inputs & Assumptions for CEM")
pd.DataFrame(asmptn_for_cem)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 47,Unnamed: 48,Unnamed: 49,Unnamed: 50,Unnamed: 51,Unnamed: 52,Unnamed: 53,Unnamed: 54,Unnamed: 55,Unnamed: 56
0,CPI Input for DM Evaluation - FY2020 - FY2030,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,-->,Consumer Price Index (CPI) *,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,FY-2020,FY-2021,FY-2022,FY-2023,FY-2024,FY-2025,FY-2026,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,266.2,278.698,292.63292,307.264566,322.627795,338.759184,355.697144,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
255,NaN,Tariff I- Railway Traction,NaN,NaN,14.65,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
256,NaN,Total Others,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
257,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
258,NaN,Total,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
259,NaN,NaN,NaN,NaN,Rs./kWh,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [435]:
pya_blnrs=asmptn_for_cem.iloc[85:95,3:14]
pd.DataFrame(pya_blnrs)

,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
85,35.260814,28.074199,0,0,0,0,0,0,0,0,0
86,57.202602,55.335681,0,0,0,0,0,0,0,0,0
87,10.463634,24.647224,0,0,0,0,0,0,0,0,0
88,46.640081,40.443182,0,0,0,0,0,0,0,0,0
89,28.164209,44.682132,0,0,0,0,0,0,0,0,0
90,17.271851,44.682132,0,0,0,0,0,0,0,0,0
91,0.382298,2.158298,0,0,0,0,0,0,0,0,0
92,10.519946,20.311664,0,0,0,0,0,0,0,0,0
93,9.908531,21.53723,0,0,0,0,0,0,0,0,0
94,4.132326,15.611837,0,0,0,0,0,0,0,0,0

In [436]:
pya_blnrs_disco_col=asmptn_for_cem.iloc[85:95,2:3]
pd.DataFrame(pya_blnrs_disco_col)

   Unnamed: 2
85      IESCO
86      LESCO
87      GEPCO
88      FESCO
89      MEPCO
90      PESCO
91      TESCO
92      HESCO
93      QESCO
94      SEPCO

In [437]:
for yr in range(0,10):
    for prm in range(0,len(pya_blnrs.columns)):
        print(year_col[prm],pya_blnrs_disco_col.iat[yr,0],pya_blnrs.iat[yr,prm])

2020 IESCO 35.2608137500756
2021 IESCO 28.07419949528573
2022 IESCO 0
2023 IESCO 0
2024 IESCO 0
2025 IESCO 0
2026 IESCO 0
2027 IESCO 0
2028 IESCO 0
2029 IESCO 0
2030 IESCO 0
2020 LESCO 57.2026016104654
2021 LESCO 55.33568131748457
2022 LESCO 0
2023 LESCO 0
2024 LESCO 0
2025 LESCO 0
2026 LESCO 0
2027 LESCO 0
2028 LESCO 0
2029 LESCO 0
2030 LESCO 0
2020 GEPCO 10.463633587307301
2021 GEPCO 24.647224397874123
2022 GEPCO 0
2023 GEPCO 0
2024 GEPCO 0
2025 GEPCO 0
2026 GEPCO 0
2027 GEPCO 0
2028 GEPCO 0
2029 GEPCO 0
2030 GEPCO 0
2020 FESCO 46.6400807298743
2021 FESCO 40.44318152998656
2022 FESCO 0
2023 FESCO 0
2024 FESCO 0
2025 FESCO 0
2026 FESCO 0
2027 FESCO 0
2028 FESCO 0
2029 FESCO 0
2030 FESCO 0
2020 MEPCO 28.164209182401102
2021 MEPCO 44.682132143838345
2022 MEPCO 0
2023 MEPCO 0
2024 MEPCO 0
2025 MEPCO 0
2026 MEPCO 0
2027 MEPCO 0
2028 MEPCO 0
2029 MEPCO 0
2030 MEPCO 0
2020 PESCO 17.2718514411685
2021 PESCO 44.682132143838345
2022 PESCO 0
2023 PESCO 0
2024 PESCO 0
2025 PESCO 0
2026 PESCO 0
2027 PESCO 0
2028 PESCO 0
2029 PESCO 0
2030 PESCO 0
2020 TESCO 0.38229768521149
2021 TESCO 2.1582980338028994
2022 TESCO 0
2023 TESCO 0
2024 TESCO 0
2025 TESCO 0
2026 TESCO 0
2027 TESCO 0
2028 TESCO 0
2029 TESCO 0
2030 TESCO 0
2020 HESCO 10.519946334774
2021 HESCO 20.31166444924236
2022 HESCO 0
2023 HESCO 0
2024 HESCO 0
2025 HESCO 0
2026 HESCO 0
2027 HESCO 0
2028 HESCO 0
2029 HESCO 0
2030 HESCO 0
2020 QESCO 9.90853090722356
2021 QESCO 21.537230150771816
2022 QESCO 0
2023 QESCO 0
2024 QESCO 0
2025 QESCO 0
2026 QESCO 0
2027 QESCO 0
2028 QESCO 0
2029 QESCO 0
2030 QESCO 0
2020 SEPCO 4.13232620414929
2021 SEPCO 15.611836811279327
2022 SEPCO 0
2023 SEPCO 0
2024 SEPCO 0
2025 SEPCO 0
2026 SEPCO 0
2027 SEPCO 0
2028 SEPCO 0
2029 SEPCO 0
2030 SEPCO 0

In [438]:
def Pya_BlnRs(Date,DISCO,PYA_BlnRs):
    try:
        connection = mysql.connector.connect(host='localhost',
                                database='Input_and_Assumptions_for_CEM',
                                user='root',
                                password='2002LhrcanttGBHS2005')
        cursor = connection.cursor()
        mySql_insert_query = """INSERT INTO PYA_BlnRs(Date,DISCO,PYA_BlnRs) 
                                VALUES (%s,%s,%s) """
      
        record = (Date,DISCO,PYA_BlnRs)
        cursor.execute(mySql_insert_query,record)
        connection.commit()
        print("Record inserted successfully into the table")
            
    except mysql.connector.Error as error:
        print("Failed to insert into MySQL table {}".format(error))

    finally:
        if connection.is_connected():
            cursor.close()
            connection.close()
            print("MySQL connection is closed")

#for yr in range(0,10):
#    for prm in range(0,len(pya_blnrs.columns)):
#        Pya_BlnRs(year_col[prm],pya_blnrs_disco_col.iat[yr,0],pya_blnrs.iat[yr,prm])

In [439]:
rev_enrgy_cem = pd.read_excel(CET_wrkbk, sheet_name="Revenue & Energy Inputs for CEM")
pd.DataFrame(rev_enrgy_cem)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
0,NaN,Category Wise Forecasted GWh Consumption (PMS ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,-->,Year,2018.000000,2019,2020.000000,2021.000000,2022.000000,2023.000000,2024.000000,2025.000000,2026.000000,2027.000000,2028.000000,2029,2030
2,NaN,Domestic,46563.890845,48384.549928,50614.702671,53035.795582,55855.599117,58708.167321,61737.221088,64886.808265,68224.476423,71771.838482,75465.988246,79199.896163,83118.550463
3,NaN,Commercial,6753.325000,7208.672278,7765.395402,8336.596221,8937.688935,9563.924939,10288.932250,11011.242154,11689.555707,12396.063794,13131.943501,14035.153962,15000.486922
4,NaN,Public Light,318.953000,326.014478,329.088049,334.179609,338.260530,346.346195,349.417585,353.482948,360.545218,365.604344,370.606886,376.216057,381.910125
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
108,NaN,Tariff K -Rawat Lab,NaN,0.000003,0.000003,0.000003,0.000003,0.000003,0.000003,0.000003,0.000003,0.000003,0.000003,0.000003,0.000003
109,NaN,Tariff I- Railway Traction,NaN,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0,0
110,NaN,Total Others,NaN,0.023464,0.022888,0.022888,0.022888,0.022888,0.022888,0.022888,0.022888,0.022888,0.022888,0.022888,0.022888
111,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
112,NaN,Total,NaN,1.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.0,1.0

In [440]:
sliced_rev_enrgy_cem=rev_enrgy_cem.iloc[1:8,2:15]

In [441]:
pd.DataFrame(sliced_rev_enrgy_cem)

,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
1,2018.000000,2019,2020.000000,2021.000000,2022.000000,2023.000000,2024.000000,2025.000000,2026.000000,2027.000000,2028.000000,2029,2030
2,46563.890845,48384.549928,50614.702671,53035.795582,55855.599117,58708.167321,61737.221088,64886.808265,68224.476423,71771.838482,75465.988246,79199.896163,83118.550463
3,6753.325000,7208.672278,7765.395402,8336.596221,8937.688935,9563.924939,10288.932250,11011.242154,11689.555707,12396.063794,13131.943501,14035.153962,15000.486922
4,318.953000,326.014478,329.088049,334.179609,338.260530,346.346195,349.417585,353.482948,360.545218,365.604344,370.606886,376.216057,381.910125
5,23274.167000,25307.155005,27900.833626,30483.762470,32516.005755,34683.966111,36642.706339,38398.806935,40192.006874,41935.541846,43782.869552,46647.507879,49699.574597
6,9977.618000,10762.552331,11203.870916,11666.810703,12143.329325,12641.770895,13158.156022,13693.909612,14248.422231,14820.718675,15412.899195,16098.871647,16815.374255
7,5014.144602,5415.05598,5758.109337,6111.855416,6471.116337,6815.824539,7176.566715,7543.750087,7896.993548,8280.232858,8647.692621,9132.497021,9644.480383

In [442]:
sliced_rev_enrgy_cem.columns=sliced_rev_enrgy_cem.iloc[0]

In [443]:
sliced_rev_enrgy_cem.drop(1,inplace=True)

In [444]:
pd.DataFrame(sliced_rev_enrgy_cem)

1,2018.0,2019.0,2020.0,2021.0,2022.0,2023.0,2024.0,2025.0,2026.0,2027.0,2028.0,2029.0,2030.0
2,46563.890845,48384.549928,50614.702671,53035.795582,55855.599117,58708.167321,61737.221088,64886.808265,68224.476423,71771.838482,75465.988246,79199.896163,83118.550463
3,6753.325000,7208.672278,7765.395402,8336.596221,8937.688935,9563.924939,10288.932250,11011.242154,11689.555707,12396.063794,13131.943501,14035.153962,15000.486922
4,318.953000,326.014478,329.088049,334.179609,338.260530,346.346195,349.417585,353.482948,360.545218,365.604344,370.606886,376.216057,381.910125
5,23274.167000,25307.155005,27900.833626,30483.762470,32516.005755,34683.966111,36642.706339,38398.806935,40192.006874,41935.541846,43782.869552,46647.507879,49699.574597
6,9977.618000,10762.552331,11203.870916,11666.810703,12143.329325,12641.770895,13158.156022,13693.909612,14248.422231,14820.718675,15412.899195,16098.871647,16815.374255
7,5014.144602,5415.05598,5758.109337,6111.855416,6471.116337,6815.824539,7176.566715,7543.750087,7896.993548,8280.232858,8647.692621,9132.497021,9644.480383

In [445]:
sliced_rev_enrgy_cem.columns=sliced_rev_enrgy_cem.columns.astype('int')

In [446]:
sliced_rev_enrgy_cem.columns=pd.to_datetime(sliced_rev_enrgy_cem.columns,format='%Y',exact=True)

In [447]:
df_slcd_rev_engy_cem=pd.DataFrame(sliced_rev_enrgy_cem)

In [448]:
rev_enrgy_cem.iloc[2:8,1:2]

     Unnamed: 1
2      Domestic
3    Commercial
4  Public Light
5    Industries
6     Tube Well
7          Bulk

In [449]:
df_slcd_rev_engy_cem.loc[:,'Year']=rev_enrgy_cem.iloc[2:8,1:2]

In [450]:
df_slcd_rev_engy_cem

1,2018-01-01 00:00:00,2019-01-01 00:00:00,2020-01-01 00:00:00,2021-01-01 00:00:00,2022-01-01 00:00:00,2023-01-01 00:00:00,2024-01-01 00:00:00,2025-01-01 00:00:00,2026-01-01 00:00:00,2027-01-01 00:00:00,2028-01-01 00:00:00,2029-01-01 00:00:00,2030-01-01 00:00:00,Year
2,46563.890845,48384.549928,50614.702671,53035.795582,55855.599117,58708.167321,61737.221088,64886.808265,68224.476423,71771.838482,75465.988246,79199.896163,83118.550463,Domestic
3,6753.325000,7208.672278,7765.395402,8336.596221,8937.688935,9563.924939,10288.932250,11011.242154,11689.555707,12396.063794,13131.943501,14035.153962,15000.486922,Commercial
4,318.953000,326.014478,329.088049,334.179609,338.260530,346.346195,349.417585,353.482948,360.545218,365.604344,370.606886,376.216057,381.910125,Public Light
5,23274.167000,25307.155005,27900.833626,30483.762470,32516.005755,34683.966111,36642.706339,38398.806935,40192.006874,41935.541846,43782.869552,46647.507879,49699.574597,Industries
6,9977.618000,10762.552331,11203.870916,11666.810703,12143.329325,12641.770895,13158.156022,13693.909612,14248.422231,14820.718675,15412.899195,16098.871647,16815.374255,Tube Well
7,5014.144602,5415.05598,5758.109337,6111.855416,6471.116337,6815.824539,7176.566715,7543.750087,7896.993548,8280.232858,8647.692621,9132.497021,9644.480383,Bulk

In [451]:
cl=df_slcd_rev_engy_cem.pop('Year')
df_slcd_rev_engy_cem.insert(0,cl.name,cl)
df_slcd_rev_engy_cem

1,Year,2018-01-01 00:00:00,2019-01-01 00:00:00,2020-01-01 00:00:00,2021-01-01 00:00:00,2022-01-01 00:00:00,2023-01-01 00:00:00,2024-01-01 00:00:00,2025-01-01 00:00:00,2026-01-01 00:00:00,2027-01-01 00:00:00,2028-01-01 00:00:00,2029-01-01 00:00:00,2030-01-01 00:00:00
2,Domestic,46563.890845,48384.549928,50614.702671,53035.795582,55855.599117,58708.167321,61737.221088,64886.808265,68224.476423,71771.838482,75465.988246,79199.896163,83118.550463
3,Commercial,6753.325000,7208.672278,7765.395402,8336.596221,8937.688935,9563.924939,10288.932250,11011.242154,11689.555707,12396.063794,13131.943501,14035.153962,15000.486922
4,Public Light,318.953000,326.014478,329.088049,334.179609,338.260530,346.346195,349.417585,353.482948,360.545218,365.604344,370.606886,376.216057,381.910125
5,Industries,23274.167000,25307.155005,27900.833626,30483.762470,32516.005755,34683.966111,36642.706339,38398.806935,40192.006874,41935.541846,43782.869552,46647.507879,49699.574597
6,Tube Well,9977.618000,10762.552331,11203.870916,11666.810703,12143.329325,12641.770895,13158.156022,13693.909612,14248.422231,14820.718675,15412.899195,16098.871647,16815.374255
7,Bulk,5014.144602,5415.05598,5758.109337,6111.855416,6471.116337,6815.824539,7176.566715,7543.750087,7896.993548,8280.232858,8647.692621,9132.497021,9644.480383

In [452]:
cursor.execute("CREATE DATABASE IF NOT EXISTS Revenue_Energy_Inputs_for_CEM")
cursor.execute("USE Revenue_Energy_Inputs_for_CEM")

In [453]:
cursor.execute("DROP TABLE IF EXISTS Category_Wise_Forecasted_GWh_Consumption_PMS_Based")
cursor.execute("CREATE TABLE IF NOT EXISTS Category_Wise_Forecasted_GWh_Consumption_PMS_Based (Year VARCHAR(255),Category VARCHAR(255), GWh DECIMAL(10,4))")

In [454]:
def cat_gwh_pms_based(Year,Category,GWh):
    try:
        connection = mysql.connector.connect(host='localhost',
                                             database='Revenue_Energy_Inputs_for_CEM',
                                             user='root',
                                             password='2002LhrcanttGBHS2005')
        cursor = connection.cursor()
        mySql_insert_query = """INSERT INTO Category_Wise_Forecasted_GWh_Consumption_PMS_Based(Year,Category,GWh) 
                                VALUES (%s,%s,%s) """

        record = (Year,Category,GWh)
        cursor.execute(mySql_insert_query, record)
        connection.commit()
        print("Record inserted successfully into the table")

    except mysql.connector.Error as error:
        print("Failed to insert into MySQL table {}".format(error))

    finally:
        if connection.is_connected():
            cursor.close()
            connection.close()
            print("MySQL connection is closed")

#for cat in range(0,len(list(sliced_rev_enrgy_cem.iloc[:, 13]))):
#    for yr in range(0,len(sliced_rev_enrgy_cem.columns[:-1])):
#        cat_gwh_pms_based(sliced_rev_enrgy_cem.columns[yr],sliced_rev_enrgy_cem.iloc[cat,13],sliced_rev_enrgy_cem.iat[cat,yr])

In [455]:
#for cat in range(0,len(list(sliced_rev_enrgy_cem.iloc[:, 13]))):
#    for yr in range(0,len(sliced_rev_enrgy_cem.columns[:-1])):
#        print(sliced_rev_enrgy_cem.columns[yr],sliced_rev_enrgy_cem.iloc[cat,13],sliced_rev_enrgy_cem.iat[cat,yr])

In [456]:
#print(list(sliced_rev_enrgy_cem.iloc[:, 13]))

In [457]:
#print(len(sliced_rev_enrgy_cem.columns[:-1]))

In [458]:

for yr in range(0,10):
    for prm in range(0,len(pya_blnrs.columns)):
        thread1=threading.Thread(target=Pya_BlnRs(year_col[prm],pya_blnrs_disco_col.iat[yr,0],pya_blnrs.iat[yr,prm]))
        
for cat in range(0,len(list(sliced_rev_enrgy_cem.iloc[:, 13]))):
    for yr in range(0,len(sliced_rev_enrgy_cem.columns[:-1])):
        thread2=threading.Thread(target=cat_gwh_pms_based(sliced_rev_enrgy_cem.columns[yr],sliced_rev_enrgy_cem.iloc[cat,13],sliced_rev_enrgy_cem.iat[cat,yr]))
        
for dsc in range(1,len(rev_rr_units.columns)):
    for prm in range(0,len(rev_rr_units.index)):
        thread3=threading.Thread(target=DISCOs_Revenue_Requirements(rev_rr_units.columns[dsc],rev_rr_units.iat[prm,0],rev_rr_units.iat[prm,dsc]))
        
for prm in range(1,len(dm_million_df.columns)):
    for yr in range(0,len(dm_million_df.index)):
        thread4=threading.Thread(target=DM_millionRs(dm_million_df.iat[yr,0],dm_million_df.columns[prm],dm_million_df.iat[yr,prm]))
        
for prm in range(0,len(discos)):
    for yr in range(0,len(year_col)):
        thread5=threading.Thread(target=Disco_losses(year_col[yr],discos[prm],discowise_losses.iat[prm,yr]))  
        
for prm in range(1,len(pk_cpi_dm.columns)):
    for yr in range(0,len(pk_cpi_dm.index)):
        thread6=threading.Thread(target=Pak_CPI_for_DM(pk_cpi_dm.iat[yr,0],pk_cpi_dm.columns[prm],pk_cpi_dm.iat[yr,prm]))
        
for prm in range(1,len(ntmont_losses.columns)):
    for yr in range(0,len(ntmont_losses.index)):
        thread7=threading.Thread(target=NTDCL_Losses_Forecast_Monthly(ntmont_losses.iat[yr,0],ntmont_losses.columns[prm],ntmont_losses.iat[yr,prm]))
    
for prm in range(1,len(ntmof_losses.columns)):
    for yr in range(0,len(ntmof_losses.index)):
        thread8=threading.Thread(target=NTDCL_UoSC_and_CPPA_MOF_Forecast(ntmof_losses.iat[yr,0],ntmof_losses.columns[prm],ntmof_losses.iat[yr,prm]))
        
for prm in range(1,len(nt_losses.columns)):
    for yr in range(0,len(nt_losses.index)):
        thread9=threading.Thread(target=NTDCL_Losses_Forecast(nt_losses.iat[yr,0],nt_losses.columns[prm],nt_losses.iat[yr,prm]))
        
        
for prm in range(1,len(epa.columns)):
    for yr in range(0,len(epa.index)):
        thread10=threading.Thread(target=Economic_Parameters_Assumptions(epa.iat[yr,0],epa.columns[prm],epa.iat[yr,prm]))
        

for dsco in range(0,len(sliced_discoenrgy_trnctd1.index)):
    for col in range(0,132):
        thread11=threading.Thread(target=insert_varibles_into_UoSC_and_MOF_MlnRs(tm_dscoenrgy_mnyr[col],sliced_discoenrgy_trnctd.iat[dsco,0],UoSC_MOF_MlnRs_trnctd1.iat[dsco,col]))
        
        
for dsco in range(0,len(sliced_discoenrgy_trnctd1.index)):
    for col in range(0,132):
        thread12=threading.Thread(target=insert_varibles_into_Capacity_Purchase_Price_MlnRs(tm_dscoenrgy_mnyr[col],sliced_discoenrgy_trnctd.iat[dsco,0],CPP_MlnRs_trnctd1.iat[dsco,col]))
        
for dsco in range(0,len(sliced_discoenrgy_trnctd1.index)):
    for col in range(0,132):
        thread13=threading.Thread(target=insert_varibles_into_EnOM_MlnRs(tm_dscoenrgy_mnyr[col],sliced_discoenrgy_trnctd.iat[dsco,0],Energy_OM_MlnRs_trnctd1.iat[dsco,col]))
        
        
for dsco in range(0,len(sliced_discoenrgy_trnctd1.index)):
    for col in range(0,132):
        thread14=threading.Thread(target=insert_varibles_into_EnFC_MlnRs(tm_dscoenrgy_mnyr[col],sliced_discoenrgy_trnctd.iat[dsco,0],Energy_FC_MlnRs_trnctd1.iat[dsco,col]))
        
        
for dsco in range(0,len(sliced_discoenrgy_trnctd1.index)):
    for col in range(0,132):
        thread15=threading.Thread(target=insert_varibles_into_UoSC_MOF(tm_dscoenrgy_mnyr[col],sliced_discoenrgy_trnctd.iat[dsco,0],UoSC_MOF_trnctd1.iat[dsco,col]))
        

for dsco in range(0,len(sliced_discoenrgy_trnctd1.index)):
    for col in range(0,132):
        thread16=threading.Thread(target=insert_varibles_into_CPP(tm_dscoenrgy_mnyr[col],sliced_discoenrgy_trnctd.iat[dsco,0],CPP_trnctd1.iat[dsco,col]))
        
        
for dsco in range(0,len(sliced_discoenrgy_trnctd1.index)):
    for col in range(0,132):
        thread17=threading.Thread(target=insert_varibles_into_energy_OM_component(tm_dscoenrgy_mnyr[col],sliced_discoenrgy_trnctd.iat[dsco,0],EPP_filled1.iat[1,col]))


for dsco in range(0,len(sliced_discoenrgy_trnctd1.index)):
    for col in range(0,132):
        thread18=threading.Thread(target=insert_varibles_into_energy_fuel_component(tm_dscoenrgy_mnyr[col],sliced_discoenrgy_trnctd.iat[dsco,0],EPP_filled1.iat[0,col]))
        
        
for dsco in range(0,len(sliced_discoenrgy_trnctd1.index)):
    for col in range(0,132):
        thread19=threading.Thread(target=insert_varibles_into_disco_max_demand(disco_max_dmnd_trnctd.iat[dsco,0],tm_dscoenrgy_mnyr[col],disco_max_dmnd_trnctd1.iat[dsco,col]))
        
        
for col in range(0,132):
    thread20=threading.Thread(target=insert_varibles_into_EPP(time_mnyr[col],EPP_filled1.iat[0,col],EPP_filled1.iat[1,col]))
    
    
for dsco in range(0,len(sliced_discoenrgy_trnctd1.index)):
    for col in range(0,132):
        thread21=threading.Thread(target=insert_varibles_into_discowise_enrgy(sliced_discoenrgy_trnctd.iat[dsco,0],tm_dscoenrgy_mnyr[col],sliced_discoenrgy_trnctd2.iat[dsco,col]))
        
        
for val in range(0,len(time_month)):
    thread22=threading.Thread(target=insert_varibles_into_table(time_year[val], time_mnyr[val], Units[val]))

Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table

MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table

MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table

MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table

MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table

MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table

MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table

MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table

MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table

MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table

MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table

MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed

Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table

MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table

MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table

MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed

Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table

MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table

MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table

MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table

MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table

MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table

MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed

Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table

MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table

MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table

MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table

MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table

MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table

MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table

MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed

Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table

MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table

MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table

MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table

MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table

MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table

MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table

MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed

Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table

MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table

MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table

MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table

MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table

MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table

MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table

MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table

MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table

MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table

MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table

MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table

MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table

MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table

MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed

Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table

MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table

MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table

MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table

MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table

MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table

MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table

MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table

MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table

MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table

MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table

MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table

MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table

MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table

MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table

MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table

MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table

MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table

MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table

MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table

MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table

MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table

MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table

MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table

MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table

MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table

MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table

MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table

MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table

MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table

MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table

MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table

MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table

MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed

Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table

MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table

MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table

MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed

Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed

Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed

Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed

Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table

MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table

MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table

MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table

MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed

Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table

MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table

MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table

MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table

MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table

MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table

MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table

MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table

MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table

MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table

MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table

MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table

MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table

MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed

Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed

Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table

MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table

MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table

MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed

Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table

MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table

MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table

MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table

MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table

MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table

MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table

MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table

MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table

MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table

MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed

In [459]:


thread1.start()
thread2.start()
thread3.start()
thread4.start()
thread5.start()
thread6.start()
thread7.start()
thread8.start()
thread9.start()
thread10.start()
thread11.start()
thread12.start()
thread13.start()
thread14.start()
thread15.start()
thread16.start()
thread17.start()
thread18.start()
thread19.start()
thread20.start()
thread21.start()
thread22.start()



thread1.join()
thread2.join()
thread3.join()
thread4.join()
thread5.join()
thread6.join()
thread7.join()
thread8.join()
thread9.join()
thread10.join()
thread11.join()
thread12.join()
thread13.join()
thread14.join()
thread15.join()
thread16.join()
thread17.join()
thread18.join()
thread19.join()
thread20.join()
thread21.join()
thread22.join()

In [460]:
'''
if __name__ == "__main__":
    
    for yr in range(0,10):
        for prm in range(0,len(pya_blnrs.columns)):
            thread1=multiprocessing.Process(target=Pya_BlnRs(year_col[prm],pya_blnrs_disco_col.iat[yr,0],pya_blnrs.iat[yr,prm]))
        
    for cat in range(0,len(list(sliced_rev_enrgy_cem.iloc[:, 13]))):
        for yr in range(0,len(sliced_rev_enrgy_cem.columns[:-1])):
            thread2=multiprocessing.Process(target=cat_gwh_pms_based(sliced_rev_enrgy_cem.columns[yr],sliced_rev_enrgy_cem.iloc[cat,13],sliced_rev_enrgy_cem.iat[cat,yr]))
        
    for dsc in range(1,len(rev_rr_units.columns)):
        for prm in range(0,len(rev_rr_units.index)):
            thread3=multiprocessing.Process(target=DISCOs_Revenue_Requirements(rev_rr_units.columns[dsc],rev_rr_units.iat[prm,0],rev_rr_units.iat[prm,dsc]))
        
    for prm in range(1,len(dm_million_df.columns)):
        for yr in range(0,len(dm_million_df.index)):
            thread4=multiprocessing.Process(target=DM_millionRs(dm_million_df.iat[yr,0],dm_million_df.columns[prm],dm_million_df.iat[yr,prm]))
        
    for prm in range(0,len(discos)):
        for yr in range(0,len(year_col)):
            thread5=multiprocessing.Process(target=Disco_losses(year_col[yr],discos[prm],discowise_losses.iat[prm,yr]))  
        
    for prm in range(1,len(pk_cpi_dm.columns)):
        for yr in range(0,len(pk_cpi_dm.index)):
            thread6=multiprocessing.Process(target=Pak_CPI_for_DM(pk_cpi_dm.iat[yr,0],pk_cpi_dm.columns[prm],pk_cpi_dm.iat[yr,prm]))
        
    for prm in range(1,len(ntmont_losses.columns)):
        for yr in range(0,len(ntmont_losses.index)):
            thread7=multiprocessing.Process(target=NTDCL_Losses_Forecast_Monthly(ntmont_losses.iat[yr,0],ntmont_losses.columns[prm],ntmont_losses.iat[yr,prm]))
    
    for prm in range(1,len(ntmof_losses.columns)):
        for yr in range(0,len(ntmof_losses.index)):
            thread8=multiprocessing.Process(target=NTDCL_UoSC_and_CPPA_MOF_Forecast(ntmof_losses.iat[yr,0],ntmof_losses.columns[prm],ntmof_losses.iat[yr,prm]))
        
    for prm in range(1,len(nt_losses.columns)):
        for yr in range(0,len(nt_losses.index)):
            thread9=multiprocessing.Process(target=NTDCL_Losses_Forecast(nt_losses.iat[yr,0],nt_losses.columns[prm],nt_losses.iat[yr,prm]))
        
        
    for prm in range(1,len(epa.columns)):
        for yr in range(0,len(epa.index)):
            thread10=multiprocessing.Process(target=Economic_Parameters_Assumptions(epa.iat[yr,0],epa.columns[prm],epa.iat[yr,prm]))
        

    for dsco in range(0,len(sliced_discoenrgy_trnctd1.index)):
        for col in range(0,132):
            thread11=multiprocessing.Process(target=insert_varibles_into_UoSC_and_MOF_MlnRs(tm_dscoenrgy_mnyr[col],sliced_discoenrgy_trnctd.iat[dsco,0],UoSC_MOF_MlnRs_trnctd1.iat[dsco,col]))
        
        
    for dsco in range(0,len(sliced_discoenrgy_trnctd1.index)):
        for col in range(0,132):
            thread12=multiprocessing.Process(target=insert_varibles_into_Capacity_Purchase_Price_MlnRs(tm_dscoenrgy_mnyr[col],sliced_discoenrgy_trnctd.iat[dsco,0],CPP_MlnRs_trnctd1.iat[dsco,col]))
        
    for dsco in range(0,len(sliced_discoenrgy_trnctd1.index)):
        for col in range(0,132):
            thread13=multiprocessing.Process(target=insert_varibles_into_EnOM_MlnRs(tm_dscoenrgy_mnyr[col],sliced_discoenrgy_trnctd.iat[dsco,0],Energy_OM_MlnRs_trnctd1.iat[dsco,col]))
        
        
    for dsco in range(0,len(sliced_discoenrgy_trnctd1.index)):
        for col in range(0,132):
            thread14=multiprocessing.Process(target=insert_varibles_into_EnFC_MlnRs(tm_dscoenrgy_mnyr[col],sliced_discoenrgy_trnctd.iat[dsco,0],Energy_FC_MlnRs_trnctd1.iat[dsco,col]))
        
        
    for dsco in range(0,len(sliced_discoenrgy_trnctd1.index)):
        for col in range(0,132):
            thread15=multiprocessing.Process(target=insert_varibles_into_UoSC_MOF(tm_dscoenrgy_mnyr[col],sliced_discoenrgy_trnctd.iat[dsco,0],UoSC_MOF_trnctd1.iat[dsco,col]))
        

    for dsco in range(0,len(sliced_discoenrgy_trnctd1.index)):
        for col in range(0,132):
            thread16=multiprocessing.Process(target=insert_varibles_into_CPP(tm_dscoenrgy_mnyr[col],sliced_discoenrgy_trnctd.iat[dsco,0],CPP_trnctd1.iat[dsco,col]))
        
        
    for dsco in range(0,len(sliced_discoenrgy_trnctd1.index)):
        for col in range(0,132):
            thread17=multiprocessing.Process(target=insert_varibles_into_energy_OM_component(tm_dscoenrgy_mnyr[col],sliced_discoenrgy_trnctd.iat[dsco,0],EPP_filled1.iat[1,col]))


    for dsco in range(0,len(sliced_discoenrgy_trnctd1.index)):
        for col in range(0,132):
            thread18=multiprocessing.Process(target=insert_varibles_into_energy_fuel_component(tm_dscoenrgy_mnyr[col],sliced_discoenrgy_trnctd.iat[dsco,0],EPP_filled1.iat[0,col]))
        
        
    for dsco in range(0,len(sliced_discoenrgy_trnctd1.index)):
        for col in range(0,132):
            thread19=multiprocessing.Process(target=insert_varibles_into_disco_max_demand(disco_max_dmnd_trnctd.iat[dsco,0],tm_dscoenrgy_mnyr[col],disco_max_dmnd_trnctd1.iat[dsco,col]))
        
        
    for col in range(0,132):
        thread20=multiprocessing.Process(target=insert_varibles_into_EPP(time_mnyr[col],EPP_filled1.iat[0,col],EPP_filled1.iat[1,col]))
        
    
    for dsco in range(0,len(sliced_discoenrgy_trnctd1.index)):
        for col in range(0,132):
            thread21=multiprocessing.Process(target=insert_varibles_into_discowise_enrgy(sliced_discoenrgy_trnctd.iat[dsco,0],tm_dscoenrgy_mnyr[col],sliced_discoenrgy_trnctd2.iat[dsco,col]))
        
        
    for val in range(0,len(time_month)):
        thread22=multiprocessing.Process(target=insert_varibles_into_table(time_year[val], time_mnyr[val], Units[val]))
        
'''

'\nif __name__ == "__main__":\n    \n    for yr in range(0,10):\n        for prm in range(0,len(pya_blnrs.columns)):\n            thread1=multiprocessing.Process(target=Pya_BlnRs(year_col[prm],pya_blnrs_disco_col.iat[yr,0],pya_blnrs.iat[yr,prm]))\n        \n    for cat in range(0,len(list(sliced_rev_enrgy_cem.iloc[:, 13]))):\n        for yr in range(0,len(sliced_rev_enrgy_cem.columns[:-1])):\n            thread2=multiprocessing.Process(target=cat_gwh_pms_based(sliced_rev_enrgy_cem.columns[yr],sliced_rev_enrgy_cem.iloc[cat,13],sliced_rev_enrgy_cem.iat[cat,yr]))\n        \n    for dsc in range(1,len(rev_rr_units.columns)):\n        for prm in range(0,len(rev_rr_units.index)):\n            thread3=multiprocessing.Process(target=DISCOs_Revenue_Requirements(rev_rr_units.columns[dsc],rev_rr_units.iat[prm,0],rev_rr_units.iat[prm,dsc]))\n        \n    for prm in range(1,len(dm_million_df.columns)):\n        for yr in range(0,len(dm_million_df.index)):\n            thread4=multiprocessing.Process(target=DM_millionRs(dm_million_df.iat[yr,0],dm_million_df.columns[prm],dm_million_df.iat[yr,prm]))\n        \n    for prm in range(0,len(discos)):\n        for yr in range(0,len(year_col)):\n            thread5=multiprocessing.Process(target=Disco_losses(year_col[yr],discos[prm],discowise_losses.iat[prm,yr]))  \n        \n    for prm in range(1,len(pk_cpi_dm.columns)):\n        for yr in range(0,len(pk_cpi_dm.index)):\n            thread6=multiprocessing.Process(target=Pak_CPI_for_DM(pk_cpi_dm.iat[yr,0],pk_cpi_dm.columns[prm],pk_cpi_dm.iat[yr,prm]))\n        \n    for prm in range(1,len(ntmont_losses.columns)):\n        for yr in range(0,len(ntmont_losses.index)):\n            thread7=multiprocessing.Process(target=NTDCL_Losses_Forecast_Monthly(ntmont_losses.iat[yr,0],ntmont_losses.columns[prm],ntmont_losses.iat[yr,prm]))\n    \n    for prm in range(1,len(ntmof_losses.columns)):\n        for yr in range(0,len(ntmof_losses.index)):\n            thread8=multiprocessing.Process(target=NTDCL_UoSC_and_CPPA_MOF_Forecast(ntmof_losses.iat[yr,0],ntmof_losses.columns[prm],ntmof_losses.iat[yr,prm]))\n        \n    for prm in range(1,len(nt_losses.columns)):\n        for yr in range(0,len(nt_losses.index)):\n            thread9=multiprocessing.Process(target=NTDCL_Losses_Forecast(nt_losses.iat[yr,0],nt_losses.columns[prm],nt_losses.iat[yr,prm]))\n        \n        \n    for prm in range(1,len(epa.columns)):\n        for yr in range(0,len(epa.index)):\n            thread10=multiprocessing.Process(target=Economic_Parameters_Assumptions(epa.iat[yr,0],epa.columns[prm],epa.iat[yr,prm]))\n        \n\n    for dsco in range(0,len(sliced_discoenrgy_trnctd1.index)):\n        for col in range(0,132):\n            thread11=multiprocessing.Process(target=insert_varibles_into_UoSC_and_MOF_MlnRs(tm_dscoenrgy_mnyr[col],sliced_discoenrgy_trnctd.iat[dsco,0],UoSC_MOF_MlnRs_trnctd1.iat[dsco,col]))\n        \n        \n    for dsco in range(0,len(sliced_discoenrgy_trnctd1.index)):\n        for col in range(0,132):\n            thread12=multiprocessing.Process(target=insert_varibles_into_Capacity_Purchase_Price_MlnRs(tm_dscoenrgy_mnyr[col],sliced_discoenrgy_trnctd.iat[dsco,0],CPP_MlnRs_trnctd1.iat[dsco,col]))\n        \n    for dsco in range(0,len(sliced_discoenrgy_trnctd1.index)):\n        for col in range(0,132):\n            thread13=multiprocessing.Process(target=insert_varibles_into_EnOM_MlnRs(tm_dscoenrgy_mnyr[col],sliced_discoenrgy_trnctd.iat[dsco,0],Energy_OM_MlnRs_trnctd1.iat[dsco,col]))\n        \n        \n    for dsco in range(0,len(sliced_discoenrgy_trnctd1.index)):\n        for col in range(0,132):\n            thread14=multiprocessing.Process(target=insert_varibles_into_EnFC_MlnRs(tm_dscoenrgy_mnyr[col],sliced_discoenrgy_trnctd.iat[dsco,0],Energy_FC_MlnRs_trnctd1.iat[dsco,col]))\n        \n        \n    for dsco in range(0,len(sliced_discoenrgy_trnctd1.index)):\n        for col in range(0,132):\n            thread15=multiprocessing.Process(target=insert_varibles_into_UoSC_MOF(tm_dscoenrgy_mnyr[col],sliced_discoenrgy_trnctd.iat[dsco,0],UoSC_MOF_trnctd1.iat[dsco,col]))\n        \n\n    for dsco in range(0,len(sliced_discoenrgy_trnctd1.index)):\n        for col in range(0,132):\n            thread16=multiprocessing.Process(target=insert_varibles_into_CPP(tm_dscoenrgy_mnyr[col],sliced_discoenrgy_trnctd.iat[dsco,0],CPP_trnctd1.iat[dsco,col]))\n        \n        \n    for dsco in range(0,len(sliced_discoenrgy_trnctd1.index)):\n        for col in range(0,132):\n            thread17=multiprocessing.Process(target=insert_varibles_into_energy_OM_component(tm_dscoenrgy_mnyr[col],sliced_discoenrgy_trnctd.iat[dsco,0],EPP_filled1.iat[1,col]))\n\n\n    for dsco in range(0,len(sliced_discoenrgy_trnctd1.index)):\n        for col in range(0,132):\n            thread18=multiprocessing.Process(target=insert_varibles_into_energy_fuel_component(tm_dscoenrgy_mnyr[col],sliced_discoenrgy_trnctd.iat[dsco,0],EPP_filled1.iat[0,col]))\n        \n        \n    for dsco in range(0,len(sliced_discoenrgy_trnctd1.index)):\n        for col in range(0,132):\n            thread19=multiprocessing.Process(target=insert_varibles_into_disco_max_demand(disco_max_dmnd_trnctd.iat[dsco,0],tm_dscoenrgy_mnyr[col],disco_max_dmnd_trnctd1.iat[dsco,col]))\n        \n        \n    for col in range(0,132):\n        thread20=multiprocessing.Process(target=insert_varibles_into_EPP(time_mnyr[col],EPP_filled1.iat[0,col],EPP_filled1.iat[1,col]))\n        \n    \n    for dsco in range(0,len(sliced_discoenrgy_trnctd1.index)):\n        for col in range(0,132):\n            thread21=multiprocessing.Process(target=insert_varibles_into_discowise_enrgy(sliced_discoenrgy_trnctd.iat[dsco,0],tm_dscoenrgy_mnyr[col],sliced_discoenrgy_trnctd2.iat[dsco,col]))\n        \n        \n    for val in range(0,len(time_month)):\n        thread22=multiprocessing.Process(target=insert_varibles_into_table(time_year[val], time_mnyr[val], Units[val]))\n        \n'

In [461]:
'''
thread1.start()
thread2.start()
thread3.start()
thread4.start()
thread5.start()
thread6.start()
thread7.start()
thread8.start()
thread9.start()
thread10.start()
thread11.start()
thread12.start()
thread13.start()
thread14.start()
thread15.start()
thread16.start()
thread17.start()
thread18.start()
thread19.start()
thread20.start()
thread21.start()
thread22.start()

'''

'\nthread1.start()\nthread2.start()\nthread3.start()\nthread4.start()\nthread5.start()\nthread6.start()\nthread7.start()\nthread8.start()\nthread9.start()\nthread10.start()\nthread11.start()\nthread12.start()\nthread13.start()\nthread14.start()\nthread15.start()\nthread16.start()\nthread17.start()\nthread18.start()\nthread19.start()\nthread20.start()\nthread21.start()\nthread22.start()\n\n'

In [462]:
cursor.execute("DROP DATABASE IF EXISTS Tariff_True_Cost")
cursor.execute("CREATE DATABASE IF NOT EXISTS Tariff_True_Cost")
cursor.execute("USE Tariff_True_Cost")

In [463]:
cursor.execute("DROP TABLE IF EXISTS National_Avg_Tariff")
cursor.execute("CREATE TABLE IF NOT EXISTS National_Avg_Tariff (FiscalYear VARCHAR(10),Sector VARCHAR(48), Category VARCHAR(200),Parameter VARCHAR(200),Value DECIMAL(20,4))")

In [464]:
FiscalYear=[2018,2019,2020,2021,2022,2023,2024,2025,2026,2027,2028,2029,2030]
Sector=['Residential','Commercial - A2','General Services-A3','Industrial','Single Point Supply for further distribution',
         'Agricultural Tube-wells - Tariff D','Others']
Residential=['Up to 50 Units','01-100 Units (Peak Load<5kW)','101-200 Units  (Peak Load<5kW)',
                                                '201-300 Units  (Peak Load<5kW)','301-700 Units  (Peak Load<5kW)',
                                                'Above 700 Units  (Peak Load<5kW)','Time of Use (TOU) - Peak  (Peak Load>5kW)',
                                               'Time of Use (TOU) - Off-Peak  (Peak Load>5kW)','Temporary Supply']
    
Commercial=['Peak Load<5kW','Regular  (Peak Load>5kW)','Time of Use (TOU) - Peak  (Peak Load>5kW)',
                                              'Time of Use (TOU) - Off-Peak  (Peak Load>5kW)','Temporary Supply'] 
General_Services=['General Services-A3']

Industrial=['B1','B1 Peak','B1 Off-Peak','B2','B2 - TOU (Peak)','B2 - TOU (Off-peak)','B3 - TOU (Peak)',
            'B3 - TOU (Off-peak)','B4 - TOU (Peak)','B4 - TOU (Off-peak)','Temporary Supply']


Single_Point=['C1(a) Supply at 400 Volts-less than 5 kW','C1(b) Supply at 400 Volts-exceeding 5 kW',
                                               'C1(b) Supply at 400 Volts-exceeding 5 kW Time of Use (TOU) - Peak',
                                              'C1(b) Supply at 400 Volts-exceeding 5 kW Time of Use (TOU) - Off-Peak',
                                              'C2 Supply at 11 kV','C2 Supply at 11 kV Time of Use (TOU) - Peak',
                                              'C2 Supply at 11 kV Time of Use (TOU) - Off-Peak','C3 Supply above 11 kV',
                                              'C3 Supply above 11 kV Time of Use (TOU) - Peak','C3 Supply above 11 kV Time of Use (TOU) - Off-Peak']



Agricultural=['Scarp','Scarp Time of Use (TOU) - Peak','Scarp Time of Use (TOU) - Off-Peak',
                                                             'Agricultual Tube-wells','Agricultual Tube-wells Time of Use (TOU) - Peak',
                                                             'Agricultual Tube-wells Time of Use (TOU) - Off-Peak']

Others=['Public Lighting - Tariff G','Residential Colonies','Tariff K - AJK','Tariff K - AJK Time of Use (TOU) - Peak',
                                          'Tariff K - AJK Time of Use (TOU) - Off-Peak','Tariff K -Rawat Lab','Tariff I- Railway Traction']
    
    
Parameter=['Energy Sales(GWh)','Fixed Charge(%)','Load Factor(%)','Fixed Charge(MlnRs)','Variable Charge(MlnRs)',
            'Total_Revenue_to_Collect(MlnRs)','Fixed Charge(Rs/kW/M)','Variable Charge(Rs/kWh)','Total_Tariff(Rs/kWh)']

In [465]:
def National_Average_Sale_Rate(FiscalYear,Sector,Category,Parameter,Value):
    try:
        connection = mysql.connector.connect(host='localhost',
                                             database='Tariff_True_Cost',
                                             user='root',
                                             password='2002LhrcanttGBHS2005')
        cursor = connection.cursor()
        mySql_insert_query = """INSERT INTO National_Avg_Tariff(FiscalYear,Sector,Category,Parameter,Value) 
                                VALUES (%s,%s,%s,%s,%s) """

        record = (FiscalYear,Sector,Category,Parameter,Value)
        cursor.execute(mySql_insert_query, record)
        connection.commit()
        print("Record inserted successfully into the table")

    except mysql.connector.Error as error:
        print("Failed to insert into MySQL table {}".format(error))

    finally:
        if connection.is_connected():
            cursor.close()
            connection.close()
            print("MySQL connection is closed")

for year in FiscalYear:
    for sec in Sector:
        if sec=='Residential':
            for ct in Residential:
                for para in Parameter:
                    National_Average_Sale_Rate(year,sec,ct,para,None)
        elif sec=='Commercial - A2':
            for ct in Commercial:
                for para in Parameter:
                    National_Average_Sale_Rate(year,sec,ct,para,None)
        elif sec=='General Services-A3':
            for ct in General_Services:
                for para in Parameter:
                    National_Average_Sale_Rate(year,sec,ct,para,None)
        elif sec=='Industrial':
            for ct in Industrial:
                for para in Parameter:
                    National_Average_Sale_Rate(year,sec,ct,para,None)
        elif sec=='Single Point Supply for further distribution':
            for ct in Single_Point:
                for para in Parameter:
                    National_Average_Sale_Rate(year,sec,ct,para,None)
        elif sec=='Agricultural Tube-wells - Tariff D':
            for ct in Agricultural:
                for para in Parameter:
                    National_Average_Sale_Rate(year,sec,ct,para,None)
        else:
            for ct in Others:
                for para in Parameter:
                    National_Average_Sale_Rate(year,sec,ct,para,None)

Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table

MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table

MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table

MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed

Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table

MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table

MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table

MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table

MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table

MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table

MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table

MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table

MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table

MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table

MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table

MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table

MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table

MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed

Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table

MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table

MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table

MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table

MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table

MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table

MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table

MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table

MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table

MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table

MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table

MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table

MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table

MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table

MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table

MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table

MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table

MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table

MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table

MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table

MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table

MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table

MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table

MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table

MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table

MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table

MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table

MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table

MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table

MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed
Record inserted successfully into the table
MySQL connection is closed

In [466]:
import time
et=time.time()

In [467]:
elapsed_time = et - st
print('Execution time:', (elapsed_time)/60, 'minutes')

Execution time: 11.792501695950826 minutes

In [468]:
"""
for zil in FiscalYear:
connection = mysql.connector.connect(host='localhost',
            database='Tariff_True_Cost',
            user='root',
            password='2002LhrcanttGBHS2005')
curA=connection.cursor(buffered=True)
cursor = connection.cursor()
mySql_insert_query = """"(SELECT * FROM((SELECT(revenue_energy_inputs_for_cem.energy_mix_pctage.Percentage*input_and_assumptions_for_cem.total_disco_energy_losses.Total_Consumption_with_ATC_Losses) FROM revenue_energy_inputs_for_cem.energy_mix_pctage INNER JOIN input_and_assumptions_for_cem.total_disco_energy_losses ON revenue_energy_inputs_for_cem.energy_mix_pctage.FiscalYear=input_and_assumptions_for_cem.total_disco_energy_losses.Year AND revenue_energy_inputs_for_cem.energy_mix_pctage.FiscalYear=2024 AND revenue_energy_inputs_for_cem.energy_mix_pctage.Sector='Residential' AND revenue_energy_inputs_for_cem.energy_mix_pctage.Category='Up to 50 Units'))temptbl5)"""
#record = (Value)
#curA.execute(mySql_insert_query)
#connection.commit()
#print("Record inserted successfully into the table")
#cursor.close()
#connection.close()
#curA_lst=curA.fetchall()

"\nfor zil in FiscalYear:\nconnection = mysql.connector.connect(host='localhost',\n            database='Tariff_True_Cost',\n            user='root',\n            password='2002LhrcanttGBHS2005')\ncurA=connection.cursor(buffered=True)\ncursor = connection.cursor()\nmySql_insert_query = (SELECT * FROM((SELECT(revenue_energy_inputs_for_cem.energy_mix_pctage.Percentage*input_and_assumptions_for_cem.total_disco_energy_losses.Total_Consumption_with_ATC_Losses) FROM revenue_energy_inputs_for_cem.energy_mix_pctage INNER JOIN input_and_assumptions_for_cem.total_disco_energy_losses ON revenue_energy_inputs_for_cem.energy_mix_pctage.FiscalYear=input_and_assumptions_for_cem.total_disco_energy_losses.Year AND revenue_energy_inputs_for_cem.energy_mix_pctage.FiscalYear=2024 AND revenue_energy_inputs_for_cem.energy_mix_pctage.Sector='Residential' AND revenue_energy_inputs_for_cem.energy_mix_pctage.Category='Up to 50 Units'))temptbl5)"

In [469]:
#for i in list(curA_lst):
#print(curA_lst)

In [470]:
"""
prmtr="'Energy Sales(GWh)'"
vali="(SELECT * FROM(SELECT(revenue_energy_inputs_for_cem.energy_mix_pctage.Percentage*input_and_assumptions_for_cem.total_disco_energy_losses.Total_Consumption_with_ATC_Losses) FROM revenue_energy_inputs_for_cem.energy_mix_pctage INNER JOIN input_and_assumptions_for_cem.total_disco_energy_losses ON revenue_energy_inputs_for_cem.energy_mix_pctage.FiscalYear=input_and_assumptions_for_cem.total_disco_energy_losses.Year AND revenue_energy_inputs_for_cem.energy_mix_pctage.FiscalYear="+str(year)+" AND input_and_assumptions_for_cem.total_disco_energy_losses.Year="+str(year)+"AND revenue_energy_inputs_for_cem.energy_mix_pctage.Sector="+str(sec)+" AND revenue_energy_inputs_for_cem.energy_mix_pctage.Category="+str(ct)+")temptbl5)"
connection = mysql.connector.connect(host='localhost',
                database='Tariff_True_Cost',
                user='root',
                password='2002LhrcanttGBHS2005')
curA=connection.cursor(buffered=True)
cursor = connection.cursor()
mySql_insert_query = "UPDATE national_avg_tariff SET Value=%s where FiscalYear=%s AND Parameter=%s"
record = (mySql_insert_query,vali,year,prmtr)
for year in FiscalYear:
    for sec in Sector:
        if sec=='Residential':
            for ct in Residential:
                curA.execute(mySql_insert_query)
                    
        elif sec=='Commercial-A2':
            for ct in Commercial:
                curA.execute(mySql_insert_query)
                    
        elif sec=='General Services-A3':
            for ct in General_Services:
                curA.execute(mySql_insert_query)
                    
        elif sec=='Industrial':
            for ct in Industrial:
                curA.execute(mySql_insert_query)
                    
        elif sec=='Single Point Supply for further distribution':
            for ct in Single_Point:
                curA.execute(mySql_insert_query)
                
        elif sec=='Agricultural Tube-wells - Tariff D':
            for ct in Agricultural:
                curA.execute(mySql_insert_query)
        else:
            for ct in Others:
                curA.execute(mySql_insert_query)

connection.commit()
#print("Record inserted successfully into the table")
cursor.close()
connection.close()
#cure=curA.fetchall()
"""

'\nprmtr="\'Energy Sales(GWh)\'"\nvali="(SELECT * FROM(SELECT(revenue_energy_inputs_for_cem.energy_mix_pctage.Percentage*input_and_assumptions_for_cem.total_disco_energy_losses.Total_Consumption_with_ATC_Losses) FROM revenue_energy_inputs_for_cem.energy_mix_pctage INNER JOIN input_and_assumptions_for_cem.total_disco_energy_losses ON revenue_energy_inputs_for_cem.energy_mix_pctage.FiscalYear=input_and_assumptions_for_cem.total_disco_energy_losses.Year AND revenue_energy_inputs_for_cem.energy_mix_pctage.FiscalYear="+str(year)+" AND input_and_assumptions_for_cem.total_disco_energy_losses.Year="+str(year)+"AND revenue_energy_inputs_for_cem.energy_mix_pctage.Sector="+str(sec)+" AND revenue_energy_inputs_for_cem.energy_mix_pctage.Category="+str(ct)+")temptbl5)"\nconnection = mysql.connector.connect(host=\'localhost\',\n                database=\'Tariff_True_Cost\',\n                user=\'root\',\n                password=\'2002LhrcanttGBHS2005\')\ncurA=connection.cursor(buffered=True)\ncursor = connection.cursor()\nmySql_insert_query = "UPDATE national_avg_tariff SET Value=%s where FiscalYear=%s AND Parameter=%s"\nrecord = (mySql_insert_query,vali,year,prmtr)\nfor year in FiscalYear:\n    for sec in Sector:\n        if sec==\'Residential\':\n            for ct in Residential:\n                curA.execute(mySql_insert_query)\n                    \n        elif sec==\'Commercial-A2\':\n            for ct in Commercial:\n                curA.execute(mySql_insert_query)\n                    \n        elif sec==\'General Services-A3\':\n            for ct in General_Services:\n                curA.execute(mySql_insert_query)\n                    \n        elif sec==\'Industrial\':\n            for ct in Industrial:\n                curA.execute(mySql_insert_query)\n                    \n        elif sec==\'Single Point Supply for further distribution\':\n            for ct in Single_Point:\n                curA.execute(mySql_insert_query)\n                \n        elif sec==\'Agricultural Tube-wells - Tariff D\':\n            for ct in Agricultural:\n                curA.execute(mySql_insert_query)\n        else:\n            for ct in Others:\n                curA.execute(mySql_insert_query)\n\nconnection.commit()\n#print("Record inserted successfully into the table")\ncursor.close()\nconnection.close()\n#cure=curA.fetchall()\n'

In [471]:
prmtr='Energy Sales(GWh)'
#vali="(SELECT * FROM(SELECT(revenue_energy_inputs_for_cem.energy_mix_pctage.Percentage*input_and_assumptions_for_cem.total_disco_energy_losses.Total_Consumption_with_ATC_Losses) FROM revenue_energy_inputs_for_cem.energy_mix_pctage INNER JOIN input_and_assumptions_for_cem.total_disco_energy_losses ON revenue_energy_inputs_for_cem.energy_mix_pctage.FiscalYear=input_and_assumptions_for_cem.total_disco_energy_losses.Year AND revenue_energy_inputs_for_cem.energy_mix_pctage.FiscalYear=%s AND input_and_assumptions_for_cem.total_disco_energy_losses.Year=%s AND revenue_energy_inputs_for_cem.energy_mix_pctage.Sector=%s AND revenue_energy_inputs_for_cem.energy_mix_pctage.Category=%s)temptbl5)"
#rec_vali=(year,year,sec,ct)
try:
    connection = mysql.connector.connect(host='localhost',
                database='Tariff_True_Cost',
                user='root',
                password='2002LhrcanttGBHS2005')
#curA=connection.cursor(buffered=True)
    cursor = connection.cursor(buffered=True)
    mySql_insert_query = """ 
                        UPDATE national_avg_tariff SET Value=(SELECT * FROM(SELECT(revenue_energy_inputs_for_cem.energy_mix_pctage.Percentage*input_and_assumptions_for_cem.total_disco_energy_losses.Total_Consumption_with_ATC_Losses)
                        FROM revenue_energy_inputs_for_cem.energy_mix_pctage INNER JOIN input_and_assumptions_for_cem.total_disco_energy_losses ON
                        revenue_energy_inputs_for_cem.energy_mix_pctage.FiscalYear=input_and_assumptions_for_cem.total_disco_energy_losses.Year AND
                        revenue_energy_inputs_for_cem.energy_mix_pctage.FiscalYear=%s AND revenue_energy_inputs_for_cem.energy_mix_pctage.Sector=%s AND revenue_energy_inputs_for_cem.energy_mix_pctage.Category=%s)temptbl5) where FiscalYear=%s AND Sector=%s AND Category=%s AND Parameter=%s;"""
    #record = (year,sec,ct,year,sec,ct,prmtr,)
    for year in FiscalYear:
        for sec in Sector:
            if sec=='Residential':
                for ct in Residential:
                    record = (year,sec,ct,year,sec,ct,prmtr,)
                    cursor.execute(mySql_insert_query,record,)
                    connection.commit()
                    print("Record inserted successfully into the table")
                
                    
            elif sec=='Commercial - A2':
                for ct in Commercial:
                    record = (year,sec,ct,year,sec,ct,prmtr,)
                    cursor.execute(mySql_insert_query,record,)
                    connection.commit() 
                    print("Record inserted successfully into the table")
                
            elif sec=='General Services-A3':
                for ct in General_Services:
                    record = (year,sec,ct,year,sec,ct,prmtr,)
                    cursor.execute(mySql_insert_query,record,)
                    connection.commit() 
                    print("Record inserted successfully into the table")
                
            elif sec=='Industrial':
                for ct in Industrial:
                    record = (year,sec,ct,year,sec,ct,prmtr,)
                    cursor.execute(mySql_insert_query,record,)
                    connection.commit() 
                    print("Record inserted successfully into the table")
                
            elif sec=='Single Point Supply for further distribution':
                for ct in Single_Point:
                    record = (year,sec,ct,year,sec,ct,prmtr,)
                    cursor.execute(mySql_insert_query,record,)
                    connection.commit()
                    print("Record inserted successfully into the table")
                
            elif sec=='Agricultural Tube-wells - Tariff D':
                for ct in Agricultural:
                    record = (year,sec,ct,year,sec,ct,prmtr,)
                    cursor.execute(mySql_insert_query,record,)
                    connection.commit()
                    print("Record inserted successfully into the table")
                
            else:
                for ct in Others:
                    record = (year,sec,ct,year,sec,ct,prmtr,)
                    cursor.execute(mySql_insert_query,record,)
                    connection.commit()
                    print("Record inserted successfully into the table")
        
except mysql.connector.Error as error:
        print("Failed to insert into MySQL table {}".format(error))
        
        
finally:
        if connection.is_connected():
            cursor.close()
            connection.close()
            print("MySQL connection is closed")
        

                
#connection.commit()
#print("Record inserted successfully into the table")
#cursor.close()
#connection.close()
#cure=curA.fetchall()

Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table

Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table

Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table

Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
MySQL connection is closed

In [472]:
prmtr2='Fixed Charge(Rs/kW/M)'
prmtr3='Fixed Charge(%)'
#vali="(SELECT * FROM(SELECT(revenue_energy_inputs_for_cem.energy_mix_pctage.Percentage*input_and_assumptions_for_cem.total_disco_energy_losses.Total_Consumption_with_ATC_Losses) FROM revenue_energy_inputs_for_cem.energy_mix_pctage INNER JOIN input_and_assumptions_for_cem.total_disco_energy_losses ON revenue_energy_inputs_for_cem.energy_mix_pctage.FiscalYear=input_and_assumptions_for_cem.total_disco_energy_losses.Year AND revenue_energy_inputs_for_cem.energy_mix_pctage.FiscalYear=%s AND input_and_assumptions_for_cem.total_disco_energy_losses.Year=%s AND revenue_energy_inputs_for_cem.energy_mix_pctage.Sector=%s AND revenue_energy_inputs_for_cem.energy_mix_pctage.Category=%s)temptbl5)"
#rec_vali=(year,year,sec,ct)
try:
    connection = mysql.connector.connect(host='localhost',
                database='Tariff_True_Cost',
                user='root',
                password='2002LhrcanttGBHS2005')
#curA=connection.cursor(buffered=True)
    cursor = connection.cursor(buffered=True)
    mySql_insert_query = """ 
                                UPDATE tariff_true_cost.national_avg_tariff SET Value= (CASE WHEN(SELECT * FROM (SELECT Value /((SELECT ((Sum_CPP_MlnRs/1000+UoSC_MoF_withoutKE_MlnRs/1000-UoSC_MoF_KEonly_MlnRs/1000)*POW(10,9))/((SELECT Sum(Sum_of_AvgMW) FROM ppp_fy2020_2030_annex4.AVG_OF_FY_MAX_DEMAND where FiscalYear=%s GROUP BY FiscalYear)*1000) FROM ppp_fy2020_2030_annex4.FY_UoSC_MoF_withoutKE_MlnRs  INNER JOIN
										ppp_fy2020_2030_annex4.FY_UoSC_MoF_KEonly_MlnRs ON ppp_fy2020_2030_annex4.FY_UoSC_MoF_withoutKE_MlnRs.FiscalYear=ppp_fy2020_2030_annex4.FY_UoSC_MoF_KEonly_MlnRs.FiscalYear INNER JOIN
										ppp_fy2020_2030_annex4.fy_cpp_exclke_mlnrs ON ppp_fy2020_2030_annex4.FY_UoSC_MoF_KEonly_MlnRs.FiscalYear=ppp_fy2020_2030_annex4.fy_cpp_exclke_mlnrs.FiscalYear AND 
										ppp_fy2020_2030_annex4.FY_UoSC_MoF_withoutKE_MlnRs.FiscalYear= %s AND
										ppp_fy2020_2030_annex4.FY_UoSC_MoF_KEonly_MlnRs.FiscalYear= %s)/12) FROM tariff_true_cost.national_avg_tariff WHERE Sector =%s AND Category=%s AND Parameter= %s AND FiscalYear=%s)temptbl8) > 0 

								THEN 
										(SELECT * FROM(SELECT Value /((SELECT ((Sum_CPP_MlnRs/1000+UoSC_MoF_withoutKE_MlnRs/1000-UoSC_MoF_KEonly_MlnRs/1000)*POW(10,9))/((SELECT Sum(Sum_of_AvgMW) FROM ppp_fy2020_2030_annex4.AVG_OF_FY_MAX_DEMAND where FiscalYear=%s GROUP BY FiscalYear)*1000) FROM ppp_fy2020_2030_annex4.FY_UoSC_MoF_withoutKE_MlnRs  INNER JOIN
										ppp_fy2020_2030_annex4.FY_UoSC_MoF_KEonly_MlnRs ON ppp_fy2020_2030_annex4.FY_UoSC_MoF_withoutKE_MlnRs.FiscalYear=ppp_fy2020_2030_annex4.FY_UoSC_MoF_KEonly_MlnRs.FiscalYear INNER JOIN
										ppp_fy2020_2030_annex4.fy_cpp_exclke_mlnrs ON ppp_fy2020_2030_annex4.FY_UoSC_MoF_KEonly_MlnRs.FiscalYear=ppp_fy2020_2030_annex4.fy_cpp_exclke_mlnrs.FiscalYear AND 
										ppp_fy2020_2030_annex4.FY_UoSC_MoF_withoutKE_MlnRs.FiscalYear= %s AND
										ppp_fy2020_2030_annex4.FY_UoSC_MoF_KEonly_MlnRs.FiscalYear= %s)/12) FROM tariff_true_cost.national_avg_tariff WHERE Sector =%s AND Category=%s AND Parameter= %s AND FiscalYear=%s)temptbl8)
                                        
								ELSE NULL END) where Sector=%s AND Category=%s AND FiscalYear=%s AND Parameter=%s;"""
    #record = (year,sec,ct,year,sec,ct,prmtr,)
    for year in FiscalYear:
        for sec in Sector:
            if sec=='Residential':
                for ct in Residential:
                    record = (year,year,year,sec,ct,prmtr2,year,year,year,year,sec,ct,prmtr2,year,sec,ct,year,prmtr3,)
                    cursor.execute(mySql_insert_query,record,)
                    connection.commit()
                    print("Record inserted successfully into the table")
                
                    
            elif sec=='Commercial - A2':
                for ct in Commercial:
                    record = (year,year,year,sec,ct,prmtr2,year,year,year,year,sec,ct,prmtr2,year,sec,ct,year,prmtr3,)
                    cursor.execute(mySql_insert_query,record,)
                    connection.commit() 
                    print("Record inserted successfully into the table")
                
            elif sec=='General Services-A3':
                for ct in General_Services:
                    record = (year,year,year,sec,ct,prmtr2,year,year,year,year,sec,ct,prmtr2,year,sec,ct,year,prmtr3,)
                    cursor.execute(mySql_insert_query,record,)
                    connection.commit() 
                    print("Record inserted successfully into the table")
                
            elif sec=='Industrial':
                for ct in Industrial:
                    record = (year,year,year,sec,ct,prmtr2,year,year,year,year,sec,ct,prmtr2,year,sec,ct,year,prmtr3,)
                    cursor.execute(mySql_insert_query,record,)
                    connection.commit() 
                    print("Record inserted successfully into the table")
                
            elif sec=='Single Point Supply for further distribution':
                for ct in Single_Point:
                    record = (year,year,year,sec,ct,prmtr2,year,year,year,year,sec,ct,prmtr2,year,sec,ct,year,prmtr3,)
                    cursor.execute(mySql_insert_query,record,)
                    connection.commit()
                    print("Record inserted successfully into the table")
                
            elif sec=='Agricultural Tube-wells - Tariff D':
                for ct in Agricultural:
                    record = (year,year,year,sec,ct,prmtr2,year,year,year,year,sec,ct,prmtr2,year,sec,ct,year,prmtr3,)
                    cursor.execute(mySql_insert_query,record,)
                    connection.commit()
                    print("Record inserted successfully into the table")
                
            else:
                for ct in Others:
                    record = (year,year,year,sec,ct,prmtr2,year,year,year,year,sec,ct,prmtr2,year,sec,ct,year,prmtr3,)
                    cursor.execute(mySql_insert_query,record,)
                    connection.commit()
                    print(("Record inserted successfully into the table"))
    
except mysql.connector.Error as error:
        print("Failed to insert into MySQL table {}".format(error))
        
        
finally:
        if connection.is_connected():
            cursor.close()
            connection.close()
            print("MySQL connection is closed")
        

                
#connection.commit()
#print("Record inserted successfully into the table")
#cursor.close()
#connection.close()
#cure=curA.fetchall()

Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table

Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table

Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table

Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
MySQL connection is closed

In [473]:
prmtr0='Fixed Charge(MlnRs)'
prmtr1='Fixed Charge(%)'
prmtr2='Load Factor(%)'
prmtr3='Energy Sales(GWh)'
#vali="(SELECT * FROM(SELECT(revenue_energy_inputs_for_cem.energy_mix_pctage.Percentage*input_and_assumptions_for_cem.total_disco_energy_losses.Total_Consumption_with_ATC_Losses) FROM revenue_energy_inputs_for_cem.energy_mix_pctage INNER JOIN input_and_assumptions_for_cem.total_disco_energy_losses ON revenue_energy_inputs_for_cem.energy_mix_pctage.FiscalYear=input_and_assumptions_for_cem.total_disco_energy_losses.Year AND revenue_energy_inputs_for_cem.energy_mix_pctage.FiscalYear=%s AND input_and_assumptions_for_cem.total_disco_energy_losses.Year=%s AND revenue_energy_inputs_for_cem.energy_mix_pctage.Sector=%s AND revenue_energy_inputs_for_cem.energy_mix_pctage.Category=%s)temptbl5)"
#rec_vali=(year,year,sec,ct)
try:
    connection = mysql.connector.connect(host='localhost',
                database='Tariff_True_Cost',
                user='root',
                password='2002LhrcanttGBHS2005')
#curA=connection.cursor(buffered=True)
    cursor = connection.cursor(buffered=True)
    mySql_insert_query = """ 
                                UPDATE tariff_true_cost.national_avg_tariff SET Value=IFNULL((SELECT * FROM(SELECT (SELECT Value*POW(10,6) /(SELECT Value*8760 FROM tariff_true_cost.national_avg_tariff WHERE Parameter=%s AND Sector=%s AND Category=%s AND FiscalYear=%s)
										FROM tariff_true_cost.national_avg_tariff WHERE Parameter=%s AND Sector=%s AND Category=%s AND FiscalYear=%s)*12*
                                        (SELECT Value FROM tariff_true_cost.national_avg_tariff WHERE Parameter=%s AND Sector=%s AND Category=%s AND FiscalYear=%s)*
                                        ((SELECT ((Sum_CPP_MlnRs/1000+UoSC_MoF_withoutKE_MlnRs/1000-UoSC_MoF_KEonly_MlnRs/1000)*POW(10,9))/((SELECT Sum(Sum_of_AvgMW) FROM 
                                        ppp_fy2020_2030_annex4.AVG_OF_FY_MAX_DEMAND where FiscalYear=%s GROUP BY FiscalYear)*1000) FROM ppp_fy2020_2030_annex4.FY_UoSC_MoF_withoutKE_MlnRs  INNER JOIN
										ppp_fy2020_2030_annex4.FY_UoSC_MoF_KEonly_MlnRs ON ppp_fy2020_2030_annex4.FY_UoSC_MoF_withoutKE_MlnRs.FiscalYear=ppp_fy2020_2030_annex4.FY_UoSC_MoF_KEonly_MlnRs.FiscalYear INNER JOIN
										ppp_fy2020_2030_annex4.fy_cpp_exclke_mlnrs ON ppp_fy2020_2030_annex4.FY_UoSC_MoF_KEonly_MlnRs.FiscalYear=ppp_fy2020_2030_annex4.fy_cpp_exclke_mlnrs.FiscalYear AND 
										ppp_fy2020_2030_annex4.FY_UoSC_MoF_withoutKE_MlnRs.FiscalYear= %s AND
										ppp_fy2020_2030_annex4.FY_UoSC_MoF_KEonly_MlnRs.FiscalYear= %s)/12)/POW(10,6))temptbl11),0)
                                        
                                        where Sector=%s AND Category=%s AND FiscalYear=%s AND Parameter=%s;"""
    #record = (year,sec,ct,year,sec,ct,prmtr,)
    for year in FiscalYear:
        for sec in Sector:
            if sec=='Residential':
                for ct in Residential:
                    record = (prmtr2,sec,ct,year,prmtr3,sec,ct,year,prmtr1,sec,ct,year,year,year,year,sec,ct,year,prmtr0,)
                    cursor.execute(mySql_insert_query,record,)
                    connection.commit()
                    print("Record inserted successfully into the table")
                
                    
            elif sec=='Commercial - A2':
                for ct in Commercial:
                    record = (prmtr2,sec,ct,year,prmtr3,sec,ct,year,prmtr1,sec,ct,year,year,year,year,sec,ct,year,prmtr0,)
                    cursor.execute(mySql_insert_query,record,)
                    connection.commit() 
                    print("Record inserted successfully into the table")
                
            elif sec=='General Services-A3':
                for ct in General_Services:
                    record = (prmtr2,sec,ct,year,prmtr3,sec,ct,year,prmtr1,sec,ct,year,year,year,year,sec,ct,year,prmtr0,)
                    cursor.execute(mySql_insert_query,record,)
                    connection.commit() 
                    print("Record inserted successfully into the table")
                
            elif sec=='Industrial':
                for ct in Industrial:
                    record = (prmtr2,sec,ct,year,prmtr3,sec,ct,year,prmtr1,sec,ct,year,year,year,year,sec,ct,year,prmtr0,)
                    cursor.execute(mySql_insert_query,record,)
                    connection.commit() 
                    print("Record inserted successfully into the table")
                
            elif sec=='Single Point Supply for further distribution':
                for ct in Single_Point:
                    record = (prmtr2,sec,ct,year,prmtr3,sec,ct,year,prmtr1,sec,ct,year,year,year,year,sec,ct,year,prmtr0,)
                    cursor.execute(mySql_insert_query,record,)
                    connection.commit()
                    print("Record inserted successfully into the table")
                
            elif sec=='Agricultural Tube-wells - Tariff D':
                for ct in Agricultural:
                    record = (prmtr2,sec,ct,year,prmtr3,sec,ct,year,prmtr1,sec,ct,year,year,year,year,sec,ct,year,prmtr0,)
                    cursor.execute(mySql_insert_query,record,)
                    connection.commit()
                    print("Record inserted successfully into the table")
                
            else:
                for ct in Others:
                    record = (prmtr2,sec,ct,year,prmtr3,sec,ct,year,prmtr1,sec,ct,year,year,year,year,sec,ct,year,prmtr0,)
                    cursor.execute(mySql_insert_query,record,)
                    connection.commit()
                    print(("Record inserted successfully into the table"))
    
except mysql.connector.Error as error:
        print("Failed to insert into MySQL table {}".format(error))
        
        
finally:
        if connection.is_connected():
            cursor.close()
            connection.close()
            print("MySQL connection is closed")
        

                
#connection.commit()
#print("Record inserted successfully into the table")
#cursor.close()
#connection.close()
#cure=curA.fetchall()

Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table

Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table

Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table

Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
MySQL connection is closed

In [474]:
#UPDATE national_avg_tariff SET Value=(SELECT * FROM((select sum(Value)
#from tariff_true_cost.national_avg_tariff
#where Parameter in ('Fixed Charge(MlnRs)', 'Variable Charge(MlnRs)') AND FiscalYear=2021 AND Sector='Agricultural Tube-wells - Tariff D' AND Category='Agricultual Tube-wells Time of Use (TOU) - Off-Peak'))temptbl13) where Sector='Agricultural Tube-wells - Tariff D' AND Category='Agricultual Tube-wells Time of Use (TOU) - Off-Peak' AND FiscalYear=2021 AND Parameter='Total_Revenue_to_Collect(MlnRs)';

In [475]:
prmtr0='Fixed Charge(MlnRs)'
prmtr1='Variable Charge(MlnRs)'

#vali="(SELECT * FROM(SELECT(revenue_energy_inputs_for_cem.energy_mix_pctage.Percentage*input_and_assumptions_for_cem.total_disco_energy_losses.Total_Consumption_with_ATC_Losses) FROM revenue_energy_inputs_for_cem.energy_mix_pctage INNER JOIN input_and_assumptions_for_cem.total_disco_energy_losses ON revenue_energy_inputs_for_cem.energy_mix_pctage.FiscalYear=input_and_assumptions_for_cem.total_disco_energy_losses.Year AND revenue_energy_inputs_for_cem.energy_mix_pctage.FiscalYear=%s AND input_and_assumptions_for_cem.total_disco_energy_losses.Year=%s AND revenue_energy_inputs_for_cem.energy_mix_pctage.Sector=%s AND revenue_energy_inputs_for_cem.energy_mix_pctage.Category=%s)temptbl5)"
#rec_vali=(year,year,sec,ct)
try:
    connection = mysql.connector.connect(host='localhost',
                database='Tariff_True_Cost',
                user='root',
                password='2002LhrcanttGBHS2005')
#curA=connection.cursor(buffered=True)
    cursor = connection.cursor(buffered=True)
    mySql_insert_query = """ 
                            UPDATE national_avg_tariff SET Value=(SELECT * FROM(SELECT(SELECT(revenue_energy_inputs_for_cem.energy_mix_pctage.Percentage*
									(SELECT Sum(Total_RR_BlnRs) FROM input_and_assumptions_for_cem.total_revenue_requirements where Date=%s GROUP By Date)) 
                                    FROM revenue_energy_inputs_for_cem.energy_mix_pctage where revenue_energy_inputs_for_cem.energy_mix_pctage.Sector = %s 
                                    AND revenue_energy_inputs_for_cem.energy_mix_pctage.Category=%s 
                                    AND revenue_energy_inputs_for_cem.energy_mix_pctage.FiscalYear=%s)*
                                    1000-(SELECT Value FROM tariff_true_cost.national_avg_tariff where Sector=%s AND Category=%s 
                                    AND FiscalYear=%s AND Parameter=%s))temptbl12) where Sector=%s 
                                    AND Category=%s AND FiscalYear=%s AND Parameter=%s;"""
    #record = (year,sec,ct,year,sec,ct,prmtr,)
    for year in FiscalYear:
        for sec in Sector:
            if sec=='Residential':
                for ct in Residential:
                    record = (year,sec,ct,year,sec,ct,year,prmtr0,sec,ct,year,prmtr1,)
                    cursor.execute(mySql_insert_query,record,)
                    connection.commit()
                    print("Record inserted successfully into the table")
                
                    
            elif sec=='Commercial - A2':
                for ct in Commercial:
                    record = (year,sec,ct,year,sec,ct,year,prmtr0,sec,ct,year,prmtr1,)
                    cursor.execute(mySql_insert_query,record,)
                    connection.commit() 
                    print("Record inserted successfully into the table")
                
            elif sec=='General Services-A3':
                for ct in General_Services:
                    record = (year,sec,ct,year,sec,ct,year,prmtr0,sec,ct,year,prmtr1,)
                    cursor.execute(mySql_insert_query,record,)
                    connection.commit() 
                    print("Record inserted successfully into the table")
                
            elif sec=='Industrial':
                for ct in Industrial:
                    record = (year,sec,ct,year,sec,ct,year,prmtr0,sec,ct,year,prmtr1,)
                    cursor.execute(mySql_insert_query,record,)
                    connection.commit() 
                    print("Record inserted successfully into the table")
                
            elif sec=='Single Point Supply for further distribution':
                for ct in Single_Point:
                    record = (year,sec,ct,year,sec,ct,year,prmtr0,sec,ct,year,prmtr1,)
                    cursor.execute(mySql_insert_query,record,)
                    connection.commit()
                    print("Record inserted successfully into the table")
                
            elif sec=='Agricultural Tube-wells - Tariff D':
                for ct in Agricultural:
                    record = (year,sec,ct,year,sec,ct,year,prmtr0,sec,ct,year,prmtr1,)
                    cursor.execute(mySql_insert_query,record,)
                    connection.commit()
                    print("Record inserted successfully into the table")
                
            else:
                for ct in Others:
                    record = (year,sec,ct,year,sec,ct,year,prmtr0,sec,ct,year,prmtr1,)
                    cursor.execute(mySql_insert_query,record,)
                    connection.commit()
                    print(("Record inserted successfully into the table"))
    
except mysql.connector.Error as error:
        print("Failed to insert into MySQL table {}".format(error))
        
        
finally:
        if connection.is_connected():
            cursor.close()
            connection.close()
            print("MySQL connection is closed")
        

                
#connection.commit()
#print("Record inserted successfully into the table")
#cursor.close()
#connection.close()
#cure=curA.fetchall()

Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table

Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table

Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table

Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
MySQL connection is closed

In [476]:
prmtr0='Fixed Charge(MlnRs)'
prmtr1='Variable Charge(MlnRs)'
prmtr2= 'Total_Revenue_to_Collect(MlnRs)'

#vali="(SELECT * FROM(SELECT(revenue_energy_inputs_for_cem.energy_mix_pctage.Percentage*input_and_assumptions_for_cem.total_disco_energy_losses.Total_Consumption_with_ATC_Losses) FROM revenue_energy_inputs_for_cem.energy_mix_pctage INNER JOIN input_and_assumptions_for_cem.total_disco_energy_losses ON revenue_energy_inputs_for_cem.energy_mix_pctage.FiscalYear=input_and_assumptions_for_cem.total_disco_energy_losses.Year AND revenue_energy_inputs_for_cem.energy_mix_pctage.FiscalYear=%s AND input_and_assumptions_for_cem.total_disco_energy_losses.Year=%s AND revenue_energy_inputs_for_cem.energy_mix_pctage.Sector=%s AND revenue_energy_inputs_for_cem.energy_mix_pctage.Category=%s)temptbl5)"
#rec_vali=(year,year,sec,ct)
try:
    connection = mysql.connector.connect(host='localhost',
                database='Tariff_True_Cost',
                user='root',
                password='2002LhrcanttGBHS2005')
#curA=connection.cursor(buffered=True)
    cursor = connection.cursor(buffered=True)
    mySql_insert_query = """ 
                            UPDATE national_avg_tariff SET Value=(SELECT * FROM((select sum(Value)
                                            from tariff_true_cost.national_avg_tariff
                                            where Parameter in (%s, %s) 
                                    AND FiscalYear=%s AND Sector=%s AND Category=%s))temptbl13) 
                                    where Sector=%s AND Category=%s AND FiscalYear=%s 
                                    AND Parameter=%s;"""
    #record = (year,sec,ct,year,sec,ct,prmtr,)
    for year in FiscalYear:
        for sec in Sector:
            if sec=='Residential':
                for ct in Residential:
                    record = (prmtr0,prmtr1,year,sec,ct,sec,ct,year,prmtr2,)
                    cursor.execute(mySql_insert_query,record,)
                    connection.commit()
                    print("Record inserted successfully into the table")
                
                    
            elif sec=='Commercial - A2':
                for ct in Commercial:
                    record = (prmtr0,prmtr1,year,sec,ct,sec,ct,year,prmtr2,)
                    cursor.execute(mySql_insert_query,record,)
                    connection.commit() 
                    print("Record inserted successfully into the table")
                
            elif sec=='General Services-A3':
                for ct in General_Services:
                    record = (prmtr0,prmtr1,year,sec,ct,sec,ct,year,prmtr2,)
                    cursor.execute(mySql_insert_query,record,)
                    connection.commit() 
                    print("Record inserted successfully into the table")
                
            elif sec=='Industrial':
                for ct in Industrial:
                    record = (prmtr0,prmtr1,year,sec,ct,sec,ct,year,prmtr2,)
                    cursor.execute(mySql_insert_query,record,)
                    connection.commit() 
                    print("Record inserted successfully into the table")
                
            elif sec=='Single Point Supply for further distribution':
                for ct in Single_Point:
                    record = (prmtr0,prmtr1,year,sec,ct,sec,ct,year,prmtr2,)
                    cursor.execute(mySql_insert_query,record,)
                    connection.commit()
                    print("Record inserted successfully into the table")
                
            elif sec=='Agricultural Tube-wells - Tariff D':
                for ct in Agricultural:
                    record = (prmtr0,prmtr1,year,sec,ct,sec,ct,year,prmtr2,)
                    cursor.execute(mySql_insert_query,record,)
                    connection.commit()
                    print("Record inserted successfully into the table")
                
            else:
                for ct in Others:
                    record = (prmtr0,prmtr1,year,sec,ct,sec,ct,year,prmtr2,)
                    cursor.execute(mySql_insert_query,record,)
                    connection.commit()
                    print(("Record inserted successfully into the table"))
    
except mysql.connector.Error as error:
        print("Failed to insert into MySQL table {}".format(error))
        
        
finally:
        if connection.is_connected():
            cursor.close()
            connection.close()
            print("MySQL connection is closed")
        

                
#connection.commit()
#print("Record inserted successfully into the table")
#cursor.close()
#connection.close()
#cure=curA.fetchall()

Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table

Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table

Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table

Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
MySQL connection is closed

In [477]:
prmtr0='Energy Sales(GWh)'
prmtr1='Variable Charge(MlnRs)'
prmtr2= 'Variable Charge(Rs/kWh)'

#vali="(SELECT * FROM(SELECT(revenue_energy_inputs_for_cem.energy_mix_pctage.Percentage*input_and_assumptions_for_cem.total_disco_energy_losses.Total_Consumption_with_ATC_Losses) FROM revenue_energy_inputs_for_cem.energy_mix_pctage INNER JOIN input_and_assumptions_for_cem.total_disco_energy_losses ON revenue_energy_inputs_for_cem.energy_mix_pctage.FiscalYear=input_and_assumptions_for_cem.total_disco_energy_losses.Year AND revenue_energy_inputs_for_cem.energy_mix_pctage.FiscalYear=%s AND input_and_assumptions_for_cem.total_disco_energy_losses.Year=%s AND revenue_energy_inputs_for_cem.energy_mix_pctage.Sector=%s AND revenue_energy_inputs_for_cem.energy_mix_pctage.Category=%s)temptbl5)"
#rec_vali=(year,year,sec,ct)
try:
    connection = mysql.connector.connect(host='localhost',
                database='Tariff_True_Cost',
                user='root',
                password='2002LhrcanttGBHS2005')
#curA=connection.cursor(buffered=True)
    cursor = connection.cursor(buffered=True)
    mySql_insert_query = """ 
                            UPDATE national_avg_tariff SET Value=(SELECT * FROM((select Value/
                                        (SELECT Value from tariff_true_cost.national_avg_tariff where Parameter=%s 
                                        AND FiscalYear=%s AND Sector=%s AND Category=%s)
                                        from tariff_true_cost.national_avg_tariff
                                        where Parameter =(%s) 
                                        AND FiscalYear=%s AND Sector=%s AND Category=%s))temptbl13) 
                                        where Sector=%s AND Category=%s AND FiscalYear=%s 
                                        AND Parameter=%s;"""
    #record = (year,sec,ct,year,sec,ct,prmtr,)
    for year in FiscalYear:
        for sec in Sector:
            if sec=='Residential':
                for ct in Residential:
                    record = (prmtr0,year,sec,ct,prmtr1,year,sec,ct,sec,ct,year,prmtr2,)
                    cursor.execute(mySql_insert_query,record,)
                    connection.commit()
                    print("Record inserted successfully into the table")
                
                    
            elif sec=='Commercial - A2':
                for ct in Commercial:
                    record = (prmtr0,year,sec,ct,prmtr1,year,sec,ct,sec,ct,year,prmtr2,)
                    cursor.execute(mySql_insert_query,record,)
                    connection.commit() 
                    print("Record inserted successfully into the table")
                
            elif sec=='General Services-A3':
                for ct in General_Services:
                    record = (prmtr0,year,sec,ct,prmtr1,year,sec,ct,sec,ct,year,prmtr2,)
                    cursor.execute(mySql_insert_query,record,)
                    connection.commit() 
                    print("Record inserted successfully into the table")
                
            elif sec=='Industrial':
                for ct in Industrial:
                    record = (prmtr0,year,sec,ct,prmtr1,year,sec,ct,sec,ct,year,prmtr2,)
                    cursor.execute(mySql_insert_query,record,)
                    connection.commit() 
                    print("Record inserted successfully into the table")
                
            elif sec=='Single Point Supply for further distribution':
                for ct in Single_Point:
                    record = (prmtr0,year,sec,ct,prmtr1,year,sec,ct,sec,ct,year,prmtr2,)
                    cursor.execute(mySql_insert_query,record,)
                    connection.commit()
                    print("Record inserted successfully into the table")
                
            elif sec=='Agricultural Tube-wells - Tariff D':
                for ct in Agricultural:
                    record = (prmtr0,year,sec,ct,prmtr1,year,sec,ct,sec,ct,year,prmtr2,)
                    cursor.execute(mySql_insert_query,record,)
                    connection.commit()
                    print("Record inserted successfully into the table")
                
            else:
                for ct in Others:
                    record = (prmtr0,year,sec,ct,prmtr1,year,sec,ct,sec,ct,year,prmtr2,)
                    cursor.execute(mySql_insert_query,record,)
                    connection.commit()
                    print(("Record inserted successfully into the table"))
    
except mysql.connector.Error as error:
        print("Failed to insert into MySQL table {}".format(error))
        
        
finally:
        if connection.is_connected():
            cursor.close()
            connection.close()
            print("MySQL connection is closed")
        

                
#connection.commit()
#print("Record inserted successfully into the table")
#cursor.close()
#connection.close()
#cure=curA.fetchall()

Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table

Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table

Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table

Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
MySQL connection is closed

In [478]:
prmtr0='Energy Sales(GWh)'
prmtr1='Total_Revenue_to_Collect(MlnRs)'
prmtr2= 'Total_Tariff(Rs/kWh)'

#vali="(SELECT * FROM(SELECT(revenue_energy_inputs_for_cem.energy_mix_pctage.Percentage*input_and_assumptions_for_cem.total_disco_energy_losses.Total_Consumption_with_ATC_Losses) FROM revenue_energy_inputs_for_cem.energy_mix_pctage INNER JOIN input_and_assumptions_for_cem.total_disco_energy_losses ON revenue_energy_inputs_for_cem.energy_mix_pctage.FiscalYear=input_and_assumptions_for_cem.total_disco_energy_losses.Year AND revenue_energy_inputs_for_cem.energy_mix_pctage.FiscalYear=%s AND input_and_assumptions_for_cem.total_disco_energy_losses.Year=%s AND revenue_energy_inputs_for_cem.energy_mix_pctage.Sector=%s AND revenue_energy_inputs_for_cem.energy_mix_pctage.Category=%s)temptbl5)"
#rec_vali=(year,year,sec,ct)
try:
    connection = mysql.connector.connect(host='localhost',
                database='Tariff_True_Cost',
                user='root',
                password='2002LhrcanttGBHS2005')
#curA=connection.cursor(buffered=True)
    cursor = connection.cursor(buffered=True)
    mySql_insert_query = """ 
                            UPDATE national_avg_tariff SET Value=(SELECT * FROM((select Value/
                                        (SELECT Value from tariff_true_cost.national_avg_tariff where Parameter=%s 
                                        AND FiscalYear=%s AND Sector=%s AND Category=%s)
                                        from tariff_true_cost.national_avg_tariff
                                        where Parameter =(%s) 
                                        AND FiscalYear=%s AND Sector=%s AND Category=%s))temptbl13) 
                                        where Sector=%s AND Category=%s AND FiscalYear=%s 
                                        AND Parameter=%s;"""
    #record = (year,sec,ct,year,sec,ct,prmtr,)
    for year in FiscalYear:
        for sec in Sector:
            if sec=='Residential':
                for ct in Residential:
                    record = (prmtr0,year,sec,ct,prmtr1,year,sec,ct,sec,ct,year,prmtr2,)
                    cursor.execute(mySql_insert_query,record,)
                    connection.commit()
                    print("Record inserted successfully into the table")
                
                    
            elif sec=='Commercial - A2':
                for ct in Commercial:
                    record = (prmtr0,year,sec,ct,prmtr1,year,sec,ct,sec,ct,year,prmtr2,)
                    cursor.execute(mySql_insert_query,record,)
                    connection.commit() 
                    print("Record inserted successfully into the table")
                
            elif sec=='General Services-A3':
                for ct in General_Services:
                    record = (prmtr0,year,sec,ct,prmtr1,year,sec,ct,sec,ct,year,prmtr2,)
                    cursor.execute(mySql_insert_query,record,)
                    connection.commit() 
                    print("Record inserted successfully into the table")
                
            elif sec=='Industrial':
                for ct in Industrial:
                    record = (prmtr0,year,sec,ct,prmtr1,year,sec,ct,sec,ct,year,prmtr2,)
                    cursor.execute(mySql_insert_query,record,)
                    connection.commit() 
                    print("Record inserted successfully into the table")
                
            elif sec=='Single Point Supply for further distribution':
                for ct in Single_Point:
                    record = (prmtr0,year,sec,ct,prmtr1,year,sec,ct,sec,ct,year,prmtr2,)
                    cursor.execute(mySql_insert_query,record,)
                    connection.commit()
                    print("Record inserted successfully into the table")
                
            elif sec=='Agricultural Tube-wells - Tariff D':
                for ct in Agricultural:
                    record = (prmtr0,year,sec,ct,prmtr1,year,sec,ct,sec,ct,year,prmtr2,)
                    cursor.execute(mySql_insert_query,record,)
                    connection.commit()
                    print("Record inserted successfully into the table")
                
            else:
                for ct in Others:
                    record = (prmtr0,year,sec,ct,prmtr1,year,sec,ct,sec,ct,year,prmtr2,)
                    cursor.execute(mySql_insert_query,record,)
                    connection.commit()
                    print(("Record inserted successfully into the table"))
    
except mysql.connector.Error as error:
        print("Failed to insert into MySQL table {}".format(error))
        
        
finally:
        if connection.is_connected():
            cursor.close()
            connection.close()
            print("MySQL connection is closed")
        

                
#connection.commit()
#print("Record inserted successfully into the table")
#cursor.close()
#connection.close()
#cure=curA.fetchall()

Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table

Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table

Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table

Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
Record inserted successfully into the table
MySQL connection is closed